@charset "UTF-8";
/*!
 * Accordion v2.7.3
 * Simple accordion created in pure Javascript.
 * https://github.com/michu2k/Accordion
 *
 * Copyright 2017-2019 Michał Strumpf
 * Published under MIT License
 */
.ac{margin-top:10px;border:1px solid #ddd;background-color:#fff;-moz-box-sizing:border-box;box-sizing:border-box}.ac>.ac-q{font:bold 15px Arial,sans-serif;color:#111;padding:10px 30px 10px 10px;margin:0;text-decoration:none;display:block;cursor:pointer;position:relative}.ac>.ac-q::after{content:'+';text-align:center;width:15px;right:10px;top:50%;-webkit-transform:translate(0,-50%);transform:translate(0,-50%);position:absolute}.ac>.ac-a{overflow:hidden;-webkit-transition-property:all;transition-property:all;-webkit-transition-timing-function:ease;transition-timing-function:ease}.ac>.ac-a p{font:14px/1.5 Arial,sans-serif;color:#777;margin:0;padding:10px}.ac.js-enabled>.ac-a{visibility:hidden}.ac.is-active>.ac-a{visibility:visible}.ac.is-active>.ac-q::after{content:'\2013'}
