.banner {
  /* min-height: 70vh; */
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
}

.banner--coll {
  min-height: 40vh;

  > div {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 25%;
  }

  @media (--750) {
    min-height: 50vh;
  }
}

.banner--faq {
  min-height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 25%;

  @media (--750) {
    min-height: 60vh;
  }
}

.overlay {
  opacity: 1;
  z-index: 9999999;
  transition: all 0.3s;
  transition-delay: 1s;
}


.overlay-content {
  opacity: 1;
  transition: opacity 0.3s;
}

.banner-content, .template-index #header {
  /* opacity: 1;
  transition: all 0.3s; */
  /* transition-delay: 2s; */
}

.overlay-hide {
  z-index: -10000;
  opacity: 0;

  .overlay-content {
    opacity: 0;
  }


  /* .overlay-bg {
    opacity: 0;
  }

  .banner-content, .template-index #header {
    opacity: 1;
  } */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    z-index: -1000;
  }
}

.overlay-bg {
  /* background: rgba(53,49,46,1); */
  background: $beige;

  /* animation: fadeOut 3s linear forwards;
  animation-delay: 8s; */
}

/*
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.overlay-cover {
  z-index: 10;
  left: -200vw;
  width: 300vw;
  animation: slideRight 6s linear forwards;
  animation-delay: 2s;

  > div {
    position: relative;
    width: 100vw;
    height: 100%;

    &:nth-of-type(1) {
      background: transparent;
    }
    &:nth-of-type(2) {
      background: rgb(2,0,36);
      background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(53,49,46,1) 100%);
    }
    &:nth-of-type(3) {
      background: rgba(53,49,46,1);
    }
  }
}

@keyframes slideRight {
  0% {
    left: -200vw;
  }
  100% {
    left: 0;
  }
} */

.overlay-content {
  z-index: 5;

  img {
    width: 65%;
  }
}

.banner-title {
  @media (--750) {
    font-size: calc((100vw - 750px) * (150 - 50) / (2000 - 750) + 50px);
  }
}

.banner-coll--title {
  @media (--750) {
    /* font-size: calc((100vw - 750px) * (130 - 50) / (2000 - 750) + 50px); */
    font-size: 72px;
  }
}

.embed-container {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  padding-top: 0;
  height: 530px;
  width: 100%;

  @media (--750) {
    height: 0;
    padding-bottom: 61.875%;
  }
}
.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  height: 530px;
  width: 856px;
  left: 50%;
  transform: translateX(-50%);

  @media (--750) {
    width: 100%;
    height: 100%;
    left: 0;
    transform: none;
  }
}

.banner-overflow {
  max-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.banner--nb {

}

.nb-content {
  max-width: 380px;
}
