/**
 * /snippets/component-button.liquid
 */
button {
  border: 0;
  border-radius: 0;
  display: inline-block;
  cursor: pointer;
  -webkit-appearance: none;
}
button.button,
.button[role="button"],
input.button[type="submit"] {
  /* background-color: var(--black); */
  /* color: white; */
  /* padding: 0.5em 1.5em; */
}

.button {
  border-radius: 4px;

}

.button--cta {
  @media (--750) {
    /* bottom: 15px; */
  }
}

.shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.shadow-white {
  border: solid 1px rgba(170, 160, 152, 0.29);
}
