/* .cart__container {
  background-color: var(--gray);
} */

/* .cart__header {
  padding: 70px 0 20px;

  @media (--800) {
    padding: 100px 0 50px;
  }
} */

.cart-item__image {
  width: 100px;

  /* @media (--800) {
    width: auto;
  } */
}

.cart-item__content {
  padding: 0 0 0 30px;
}

.cart-item__quantity {
  /* width: 100%; */
  padding: 25px 0 0;
  /* font-size: 10px; */

  @media (--800) {
    width: auto;
    padding: 0;
  }
}

.cart__inner {
  padding: 20px;

  @media (--800) {
    padding: 50px;
  }
}

.cart__message {
  order: 2;
  width: 100%;

  @media (--800) {
    order: inherit;
    width: auto;
  }
}

.cart__subtotal {
  width: 100%;
  margin-bottom: 20px;

  @media (--800) {
    width: auto;
    margin-bottom: auto;
  }
}

.empty__container {
  padding: 100px 0 100px;
}

.cart__notes {
  p {
    font-size: 1rem;
    letter-spacing: calc((-0.2/16) * 1rem);
    line-height: 1.5;
  }
}

.cart__box {
  display: none;
}

.cart--show {
  display: block;
}

.cutout-side-bowls {
  height: 100%;
  object-fit: cover;
  max-height: 90px;
}

.cutout-drinking-glasses {
  height: 100%;
  object-fit: cover;
  max-height: 90px;
}

.cutout-always-pan {
  width: 135px;
}

.cutout-main-plates {
  width: 100px;
}
