.cluster-image {
  position: relative;
}

.cluster-title {

  @media (--750) {
    max-width: 400px;
  }
}

.cluster-image-inner {
  padding-top: 140%;
  height: 0;
  width: 100%;
  position: relative;
  display: block;
  transition: all 0.3s;
  transform: translateY(0);

  @media (--750) {
    &:hover {
      transform: translateY(-10px);
    }
  }

  &.cluster-image-inner--1 {
    padding-top: 140%;

    @media (--750) {
      padding-top: 125%;
    }
  }

  &.cluster-image-inner--2 {
    padding-top: 140%;

    @media (--750) {
      padding-top: 125%;
    }
  }

  &.cluster-image-inner--3 {
    padding-top: 140%;

    @media (--750) {
      padding-top: 125%;
    }
  }

  &.cluster-image-inner--4 {
    padding-top: 140%;

    @media (--750) {
      padding-top: 125%;
    }
  }
}

.callout-image {
  position: relative;
  transition: all 0.3s;
  transform: translateY(0);

  /* &:hover {
    transform: translateY(-10px);
  } */
}

.cluster {
  overflow: hidden;
  .slick-list {
    overflow: initial;
  }
}
