/**
 * /snippets/component-counter.liquid
 */
/* .counter {
  button {
    height: 25px;
    width: 25px;
    background: black;
    color: white;
    line-height: 23px;
    text-align: center;
  }
  input {
    width: 4ch;
    padding: 0.3em;
    margin: 0 0.5em;
    text-align: center;
    height: auto;
  }
} */
