.homepage-product-slider-module {
  position: relative;
  max-width: 1270px;
  margin: 0 auto;
}

.homepage-product-slides-container {
  width: 100%;
}

.homepage-product-slide-container {
  width: 100%;
}

.homepage-product-slide-mobile-image {
  display: block;

  @media (min-width: 749px) {
    display: none !important;
  }
}

.homepage-product-slide-desktop-image {
  display: none !important;

  @media (min-width: 749px) {
    display: block !important;
  }
}

.homepage-product-slide-mobile-image,
.homepage-product-slide-desktop-image {
  width: 100%;
  max-height: 700px;
  min-height: 563px;
  object-fit: cover;
  object-position: bottom;

  @media (min-width: 749px) {
    object-position: center;
  }
}

.homepage-product-text-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #4f463f;
  padding-top: 55px;

  @media (min-width: 749px) {
    padding-top: 58px;
  }
}

.homepage-product-text-title {
  font-family: 'CheltBTBolExtCon';
  font-size: 34px;
  line-height: 34px;
  letter-spacing: -0.71px;
  margin-bottom: 18px;

  @media (min-width: 749px) {
    font-size: 48px;
    line-height: 43px;
  }
}

.homepage-product-text-body {
  font-family: 'Plaid-XS-Web';
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 22px;
  max-width: 80%;
  margin: 0 auto 22px;

  p {
    margin-bottom: 10px;
  }

  @media (min-width: 749px) {
    font-size: 18px;
    line-height: 29px;
  }
}

.homepage-product-slider-button  {
  margin-bottom: 50px;
}

.homepage-product-slider-swatches-container {
  display: flex;
  justify-content: center;
}

.homepage-product-slider-swatch {
  position: relative;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  cursor: pointer;
  margin: 0 12px;

  &::after {
    content: "";
    position: absolute;
    border-radius: 100%;
    border: 3px solid transparent;
    top: -3px;
    right: -3px;
    bottom: -3px;
    left: -3px;
  }

  &.active,
  &:hover {
    &::after {
      border-color: white;
    }
  }
}

@media (min-width: 75em){
  .hide--l{
      display:none
    }
}
