/**
 * /snippets/component-image.liquid
 */
.image {
  /* background: var(--green); */
  text-align: center;
  overflow: hidden;
  transition: opacity 200ms var(--cubic);

  /* &::before {
    content: attr(data-alt);
    display: block;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    font-size: 0.88rem;
    opacity: 0.6;
    max-width: 200px;
    max-height: 50px;
    overflow: hidden;
    z-index: 0;
    transition: opacity 200ms var(--cubic);
  } */

  img {
    object-fit: cover;
    /* opacity: 0; */
    transition: opacity 200ms var(--cubic);
  }

  .is-loaded {
    opacity: 1;
  }
}

.image--bottom {
  img {
    object-position: bottom;
  }
}

.big-image {
  width: 100%;
  min-height: 275px;

  @media (--750) {
    /* height: 700px; */
    min-height: 70vh;
  }
}

@media only screen and (max-width: 750px) {
  .image-slide {
    height: 275px;
  }
}

.image-slider {
  .flickity-button {
    display: none;
  }

  .flickity-slider {
    height: 100%;
  }
}

.image-icon {
  font-size: 25px;
  bottom: 3px;
  position: relative;

  @media (--750) {
    font-size: 40px;
    bottom: 7.5px;
  }
}
