.slider-title {
  br {
    display: none;
  }
}

@media only screen and (min-width: 750px) and (max-width: 1439px) {
  /* .slider-content {
    font-size: 18px;
  }
  .slider-title {
    font-size: 40px;

    br {
      display: block;
    }
  }

  .callout-content {
    font-size: 21px;
    padding-left: 70px;
  }

  .ig-content {
    font-size: 21px;
  }

  .cluster > div {
    padding-top: 100px;
  }

  .nav {
    font-size: 13px;
  }

  .collection-description {
    font-size: 21px;
  }

  .md--pb-30 {
    padding-bottom: 150px;
  }

  .about-content {
    font-size: 21px;
  }

  .rte {
    font-size: 16px;
  }

  .product-options-inner, .add-to-cart {
    .fs-13 {
      font-size: 12px;
    }
  }

  .product-dropdown {
    .fs-13 {
      font-size: 12px;
    }
  }

  .product-content-container {
    max-width: 60%;
  }

  .product-callout-title {
    font-size: 60px !important;
  }

  .callout_body {
    p {
      font-size: 18px;
    }
  }

  .product-content-title-container {
    max-width: 40%;
  }

  .product-intro {
    p {
      font-size: 24px !important;
    }
  }

  .product-content {
    p {
      font-size: 18px !important;
    }
  } */
}
