.newsletter-form__success {
  display: none;
  .was-successful & {
    display: flex;
  }
}

.form--newsletter {
  border-bottom: 1px solid var(--dark-gray);

  input {
    &:focus {
      &::-webkit-input-placeholder {
         color: transparent;
      }
      &:-moz-placeholder { /* Firefox 18- */
         color: transparent;
      }

      &::-moz-placeholder {  /* Firefox 19+ */
         color: transparent;
      }

      &:-ms-input-placeholder {
         color: transparent;
      }
    }

    &::placeholder {
      color: var(--dark-gray);
    }
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: var(--dark-gray);
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: var(--dark-gray);
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: var(--dark-gray);
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: var(--dark-gray);
    }
  }
}
