@keyframes marqueeSmall {
  0% {text-indent: -530px;}
  100% {text-indent: -1173px;}
}
@keyframes marquee {
  0% {text-indent: -530px;}
  100% {text-indent: -1388px;}
}

.newsletter__marquee {
  padding: 1em 0;
  overflow: hidden;
  white-space: nowrap;
  border-top: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
  @media (--600) {
    padding: 2em 0;
  }
  .__text {
    text-indent: -530px;
    white-space: nowrap;
    overflow: hidden;
    animation: marqueeSmall 18s linear infinite;
    @media (--600) {
      animation: marquee 18s linear infinite;
    }
  }
}
.newsletter__inner {
  padding: 50px 0 40px;
  @media (--800) {
    padding: 60px 0;
  }
  @media (--1000) {
    padding: 100px 0;
  }
}
.newsletter__message {
  display: none;
}

.newsletter-form {
  &.was-successful {
      .newsletter__body {
        display: none;
      }
      .newsletter__message {
        display: block;
      }
  }
}

.newsletter__copy {
  max-width: 600px;
  padding-bottom: 40px;
  @media (--800) {
    padding-bottom: 0;
    padding-right: 60px;
    width: 40%;
  }
}
.newsletter__form {
  border-bottom: 1px solid var(--gray);
  margin-bottom: 20px; /* account for top padding */
  @media (--800) {
    width: 60%;
    max-width: 600px;
  }
}

.newsletter__slide {
  transition: all 0.3s ease-in-out;
  max-width: 100%;
  left: 20px;
  bottom: 20px;
  right: 20px;
  border: 2px solid var(--dark-gray);
  opacity: 0;
  transform: translateY(30px);
  user-select: none;
  visibility: hidden;

  &.visible {
    opacity: 1;
    transform: translateY(0);
    user-select: auto;
    visibility: visible;
  }
  &-inner {
    background-color: var(--beige)
  }
  @media (--600) {
    max-width: 430px;
    right: auto;
    &-inner {
      padding: 4rem 2rem;
    }
  }
  /* &-shadow {
    background: var(--dark-gray);
    -webkit-transition: opacity .4s cubic-bezier(.12,.67,.53,1);
    transition: opacity .4s cubic-bezier(.12,.67,.53,1);
    opacity: .1;
    top: 10px;
    left: 10px;
  } */
  .__remove {
    height: 25px;
    width: 25px;
    padding: 0;
    border-radius: 100px;
    /* border: 1px solid var(--dark-gray); */
    /* background: white; */
    transform: rotate(45deg);
    transition: all 200ms var(--cubic);

    &:hover,
    &:focus {
      outline: 0;
      transform: rotate(45deg);
      background-color: var(--black);
      &:before,
      &:after {
        background: white;
      }
    }

    &::before,
    &::after {
      transition: all 200ms var(--cubic);
      content: '';
      display: block;
      position: absolute;
      top: 0; bottom: 0; left: 0; right: 0;
      height: 1px;
      width: 12px;
      background: var(--dark-gray);
      margin: auto;
    }
    &::after {
      transform: rotate(90deg);
    }
  }
  /* form {
    margin-top: 2rem;
    border-bottom: 1px solid var(--dark-gray);
  } */
  /* .newsletter-form input {
    padding-bottom: 14px;
  }
  .newsletter-form button {
    top: 2px;
  }
  .newsletter-form button span {
    position: relative;
    top: 2px;
  } */
  /* input {
    line-height: 1.1;
  } */

  button {
    background-color: transparent;
  }
}

.newsletter-message {

}

.newsletter-form {
  input {
    &::placeholder {
      color: var(--gray);
    }
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: var(--gray);
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: var(--gray);
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: var(--gray);
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: var(--gray);
    }
  }
}

.newsletter-email, .newsletter-button {
  margin: 0 !important;
}
