.press-container {
  padding-right: 16px;
  padding-top: 60px;
  padding-bottom: 30px;
  padding-left: 16px;
  background-color: #f5f1e9;

  @media (min-width: 749px) {
    padding-top: 80px;
    padding-bottom: 90px;
  }
}

.press-subtitle {
  font-family: 'Plaid-XS-Web';
  font-size: 12px;
  letter-spacing: 2.25px;
  color: #35312e;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 14px;

  @media (min-width: 749px) {
    margin-bottom: 27px;
  }
}

.press-title {
  text-align: center;
  margin-bottom: 30px;

  @media (min-width: 749px) {
    margin-bottom: 43px;
  }
}

.press-quotes-container {
  margin: 0 auto 25px;
  width: 100%;
  max-width: 725px;
  text-align: center;
  pointer-events: auto;

  @media (min-width: 749px) {
    pointer-events: none;
  }
}

.press-quote-container {
  margin-bottom: 36px;
  font-family: 'Plaid-XS-Web';
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #4f463f;

  @media (min-width: 749px) {
    margin-bottom: 56px;
    font-size: 18px;
    line-height: 28px;
  }
}

.press-logos-container {
  margin: 0 auto;
  width: 100%;
  max-width: 825px;

  .slick-track {
    transform: translate3d(0px, 0px, 0px)!important;
    margin: auto;
    width: max-content !important;
  }

  .previous, .next {
    display: none;
  }

  .slick-dots {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 15px;

    li {
      margin: 0 5px;
      width: 10px;
      height: 10px;
      background-color: #EDE4D5;
      border-radius: 50%;
      margin: 0 5px;

      &.slick-active {
        background-color: #4F463F;
      }

      button {
        display: none;
      }
    }
  }
}

.press-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 48px;
  cursor: pointer;

  @media (min-width: 749px) {
    margin-bottom: 0;
    padding: 0 20px;
  }
}

.press-logo-image {
  display: inline-block !important;
  transition: 750ms;
  opacity: .2;
  height: 26px;
  object-fit: contain;

  @media (min-width: 749px) {
    margin: 0 auto;
    height: 29px;
  }

  .slick-current & {
    opacity: 1;
  }
}
