.press-bar {
  outline: none;

  .previous, .next {
    display: none;
  }

  .slick-dots {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 15px;

    li {
      margin: 0 5px;
      width: 10px;
      height: 10px;
      background-color: #EDE4D5;
      border-radius: 50%;
      margin: 0 5px;

      &.slick-active {
        background-color: #4F463F;
      }

      button {
        display: none;
      }
    }
  }

}

/* .press-bar:after {
  content: 'flickity';
  display: none;
} */



@media (--750) {

  /* .press-bar:after {
    content: '';
  } */
  .press-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 750px) {
  .press-item {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.press-item--mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100px; */
  height: 38px;
}
