.value-props-section {
  margin-bottom: 31px;

  @media (min-width: 750px) {
    margin-top: 67px;
    margin-bottom: 67px;
  }
}


.value-props-container {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 17px);
  max-width: 1300px;
  margin: 0 auto;
  flex-direction: column;

  @media (min-width: 750px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.value-prop-container {
  display: flex;
  border-radius: 40.5px;
  background-color: #f5f1e9;
  padding: 12px 30px 12px 24px;
  align-items: center;
  margin-bottom: 10px;
  justify-content: flex-start;
  flex: 1;
  margin: 0 13px 10px;

  @media (min-width: 750px) {
    max-width: 300px;
    padding: 6px 30px 6px 20px;
  }
}

.value-prop-icon-container {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin-right: 14px;
  flex-shrink: 0;

  @media (min-width: 750px) {
    width: 60px;
  }
}

.value-prop-title-container {
  font-family: 'Plaid-XL-Web';
  font-size: 14px;
  line-height: 22px;
  color: #4f463f;

  @media (min-width: 750px) {
    font-size: 16px;
    line-height: 21px;
  }
}
