.product-infographic-section {
}

.product-infographic-title {
  text-align: center;
  color: #4f463f;
  margin-bottom: 10px;
}

.product-infographic-subtitle {
  font-family: 'Plaid-XS-Web';
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #4f463f;

  @media (min-width: 749px) {
    font-size: 18px;
    line-height: 22px;
  }
}

.desktop-infographic-container {

}

.desktop-infographic-image {
  padding-top: 53px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 63.3235vw;
  position: relative;
  background-color: #EFE8D9;
}

.infographic-items-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: column;
  grid-column-gap: calc(100% - 400px);
  height: calc(100% - 273px);
  margin: 6%;
  grid-template-columns: 1fr 1fr;
}

.infographic-item-container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
}

.infographic-item-title {
  font-family: 'Plaid-XL-Web';
  font-size: 18px;
  color: #c87b5e;
  max-width: 210px;

  .mobile-infographic-container & {
    max-width: 75%;
    margin: 0 auto;
    text-align: center;
  }
}

.infographic-item-description {
  font-family: 'Plaid-XS-Web';
  font-size: 16px;
  line-height: 22px;
  color: #4f463f;
  max-width: 210px;

  .mobile-infographic-container & {
    max-width: 75%;
    margin: 0 auto;
    text-align: center;
  }
}

.infographic-marker {
  position: absolute;
  padding: 2px;
  border-radius: 100%;
  border: 2px solid #D16845;
  position: absolute;
  right: -100px;
  width: 21px;
  height: 21px;
  transition: 350ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: pulse 2s ease infinite alternate, grow 2s ease infinite alternate;

  @media (max-width: 750px) {
    width: 17px;
    height: 17px;
  }

  &::after {
    content: "";
    background-color: #d16845;
    border-radius: 100%;
    height: 100%;
    position: relative;
    width: 100%;
    display: block;
  }
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
}


@keyframes grow {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

.mobile-infographic-container {
  background-color: #F3EBE2;
  padding-bottom: 45px;
}

.mobile-infographic-title-container {
  padding: 34px 10px 0;
  background-color: #F7EDE3;
}

.infographic-item-slider,
.infographic-image-slider-container {
  position: relative;
}

.infographic-item-slide {
  position: relative;
}

.infographic-next {
  right: 0;
  justify-content: center;
}

.infographic-prev {
  left: 0;
  justify-content: center;
}
