.slide {
  height: 0;
  outline: none;
  padding-top: 150%;
  display: block !important;

  @media (--750) {
    padding-top: 110%;
  }
}

.slider {
  .flickity-button {
    display: none;
  }

  .slick-dots {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    display: flex;

    li {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      margin: 0 15px;
      position: relative;

      button {
        display: none;
      }

      &:nth-of-type(1) {
        background-color: var(--pan-spice);
      }

      &:nth-of-type(2) {
        background-color: #C0B9A0;
      }

      &:nth-of-type(3) {
        background-color: var(--dark-gray);
      }

      &.slick-active {
        &:after {
          content: '';
          background-color: var(--white);
          left: -3px;
          right: -3px;
          top: -3px;
          bottom: -3px;
          position: absolute;
          z-index: -1;
          border-radius: 50%;
        }
      }

      @media (--750) {
        width: 25px;
        height: 25px;
      }

    }
  }
}

.js-slider, .js-collection-slider, .js-about-slider {
  outline: none;
  overflow: hidden;
}

.collection-slider {
  .flickity-button {
    width: 25%;
    top: 0;
    bottom: 0;
    position: absolute;
    height: 100%;
    background: transparent;

    &.next {
      right: 0;
    }

    &.previous {
      left: 0;
    }

    svg {
      display: none;
    }
  }

  .flickity-slider {
    height: 100%;
  }

}

.collection-slide {
  padding-right: 7.5vw;
  padding-left: 7.5vw;

  @media (--750) {
    padding-right: 10vw;
    padding-left: 10vw;
  }

  img {
    /* max-height: 100%; */
    transition: all 0.3s;
    /* max-height: none;
    max-width: none; */
  }
}

.collection-slide {

  > div {
    img {
      &:last-of-type {
        opacity: 0;
      }
    }
  }

  &.is-selected {
    > div {
      img {
        &:first-of-type {
          opacity: 0;
        }
        &:last-of-type {
          opacity: 1;
        }
      }
    }
  }
}

.timer {
  height: 2px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
}


.timer--animated {
  .timer--length {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    background-color: #ffffff;
    animation: lengthen 8s linear forwards;
  }
}

@keyframes lengthen {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.about-next {
  cursor: pointer;
}


.about-slider {
  .previous {
    display: none;
  }
  .next {
    position: absolute;
    right: 0;
    bottom: 0;
    background: none;
    font-family: 'Plaid-XL-Web';
    text-transform: uppercase;
    outline: none;
    font-size: 11px;
    line-height: 1.5em;
    padding: 10px;

    &:after {
      content: "Next";
    }

    svg {
      display: none;
    }

    @media (--750) {
      font-size: 16px;
    }
  }
}

.slide-slider {
  height: 0;
  padding-top: 125%;
}

@media only screen and (max-width: 749px) {
  .slide-image {
    height: 0;
    padding-top: 62.5%;
  }
}

.product-slide, .product-slide--big {
  width: 100%;
  padding-top: 120%;
  height: 0;

  @media (--750) {
    /* height: 450px; */
  }
}

.product-slider {
  width: 100%;
  padding-top: 120%;
  height: 0;

  > div {
    height: 100%;
  }

  /* @media (--750) {
    height: 450px;
  } */
}

.product-slider--item {
  opacity: 0;
  transition: all 0.3s;

  &.flickity-enabled {
    opacity: 1;
  }
}

.image-hover {
  opacity: 0;
  transition: opacity 0.3s;
}

@media (--750) {
  .product-slide, .product-slide--big, .cluster-image {
    &:hover {
      .image-hover {
        opacity: 1;
      }
    }
  }
}

.collection, .about-coll {
  .product-slide {
    width: 100%;
    padding-top: 120%;
    height: 0;

    @media (--750) {
      height: 450px;
      padding-top: 0;
    }


  }

  .product-slide--big {
    width: 100%;
    padding-top: 55%;
    height: 0;

    @media (--750) {
      height: 450px;
      padding-top: 0;
    }


  }

  .product-slider {
    width: 100%;
    padding-top: 120%;
    height: 0;

    > div {
      height: 100%;
    }

    @media (--750) {
      height: 450px;
      padding-top: 0;
    }


  }

  .product-slider--big {
    width: 100%;
    padding-top: 55%;
    height: 0;

    > div {
      height: 100%;
    }

    @media (--750) {
      height: 450px;
      padding-top: 0;
    }


  }
}

.collection {
  .product-slider--bigger {
    padding-top: 60%;

    @media (--750) {
      height: 450px;
      padding-top: 0;
    }

    img {
      object-position: right;
    }
  }
}

.pdp-slide, .pdp-slider {
  height: 0;
  padding-top: 110%;
  width: 100%;
}

.js-pdp-slider {
  outline: none;
}

.instagram__container {
  .flickity-button, .flickity-page-dots {
    display: none;
  }
}

.pdp-slider, .bundle-slider {
  .slick-arrow {
    /* outline: none;
    z-index: 20;
    opacity: 0; */

    @media (--750) {
      /* display: block !important; */
    }

    /* svg {
      display: none;
    } */
  }

  @media (--750) {
    .slick-next {
      position: absolute;
      background: 0;
      right: 0;
      top: 0;
      bottom: 0;
      height: 100%;
      width: 50%;
    }

    .slick-prev {
      position: absolute;
      background: 0;
      left: 0;
      top: 0;
      bottom: 0;
      height: 100%;
      width: 50%;

    }

    svg {
      display: none;
    }
  }
}

@media only screen and (max-width: 749px) {
  .slick-arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 50px;
    height: 50px;
    display: flex !important;
    align-items: center;

    &.next {
      justify-content: flex-end;
    }
  }

  .next {
    right: 20px;
  }

  .prev {
    left: 20px;
  }

  .pdp-slider {
    height: 0;
    padding-top: 80%;
    width: 100%;

    > div {
      outline: none;
    }

    .flickity-page-dots {
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;

      li {
        width: 10px;
        height: 10px;
        border: 2px solid var(--beige);
        border-radius: 50%;
        margin: 0 5px;

        &.is-selected {
          background-color: var(--beige);
        }
      }
    }
  }

  .pdp-slide {
    height: 0;
    padding-top: 80%;
    width: 100%;
  }
}

.slide-button {
  opacity: 1;
  transition: all 0.3s;

  /* @media (--750) {
    opacity: 0;
  } */
}

.slide-hover {
  height: 50%;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  /* bottom: 150px; */

  /* &:hover {
    .slide-button {
      opacity: 1;
    }
  } */

  @media (--750) {
    height: 80%;
  }
}

.instagram__inner {
  padding-top: 100%;
  width: 100%;
  height: 0;
}

.offset-image {
  opacity: 0;
  transition: all 0.3s;

  &.is-selected {
    opacity: 1;
  }
}

.slider-inner {
  width: 340px;
  max-width: 100%;

  @media (--750) {
    width: 500px;
  }
}

.pdp-slider-container {
  /* opacity: 0;
  transition: opacity 0.3s;
  transition-delay: 1s;

  &.slick-initialized {
    opacity: 1;
  } */
}

#glasses-clear {
  ~ label {
    &:after {
      opacity:  0.1;
    }
  }
}
