/* .product__image {
  &:nth-of-type(4n+1) {
    .image-outer {
      animation: xAxis1 5s infinite ease-in;
    }

    .image-inner {
      animation: yAxis1 5s infinite ease-out;
    }
  }
  &:nth-of-type(4n+2) {
    .image-outer {
      animation: xAxis2 5s infinite ease-in;
    }

    .image-inner {
      animation: yAxis2 5s infinite ease-out;
    }
  }
  &:nth-of-type(4n+3) {
    .image-outer {
      animation: xAxis3 5s infinite ease-in;
    }

    .image-inner {
      animation: yAxis3 5s infinite ease-out;
    }
  }
  &:nth-of-type(4n) {
    .image-outer {
      animation: xAxis4 5s infinite ease-in;
    }

    .image-inner {
      animation: yAxis4 5s infinite ease-out;
    }
  }
}

@keyframes xAxis1 {
  50% {
    animation-timing-function: ease-in;
    transform: translateX(15px);
  }
}

@keyframes yAxis1 {
  50% {
    animation-timing-function: ease-out;
    transform: translateY(-15px);
  }
}

@keyframes xAxis2 {
  50% {
    animation-timing-function: ease-in;
    transform: translateX(-20px);
  }
}

@keyframes yAxis2 {
  50% {
    animation-timing-function: ease-out;
    transform: translateY(10px);
  }
}

@keyframes xAxis3 {
  50% {
    animation-timing-function: ease-in;
    transform: translateX(-5px);
  }
}

@keyframes yAxis3 {
  50% {
    animation-timing-function: ease-out;
    transform: translateY(25px);
  }
}

@keyframes xAxis4 {
  50% {
    animation-timing-function: ease-in;
    transform: translateX(15px);
  }
}

@keyframes yAxis4 {
  50% {
    animation-timing-function: ease-out;
    transform: translateY(-15px);
  }
} */
