:root {
  --black: #262C4D;
  --white: #FFF;
  --green: #CDC7B3;
  --blue: #344FDA;
  --light-beige: #FCFAF6;
  --beige: #f5f1e9;
  --rust: #C87B5E;
  --spice: #C87B5E;
  --pan-spice: #F8CDBC;
  --gray: #35312E;
  --brown: #B09A88;
  --dark-green: #6c674d;
  --light-green: #807c62;
  --yellow: #d2bd81;
  --mustard: #d4a943;
  --dusk: #CCBD9E;
  --pink: #DFC9C5;
  --dark-beige: #ede5da;
  --light-gray: #979797;
  --super-light-gray: #e6e6e6;
  --dark-gray: #595752;
  --light-brown: #EBE3D4;
  --darker-gray: #222120;
  --darkest-gray: #4f463f;
  --red: #b55900;
  --darker-green: #5B5740;
  --lighter-green: #9C9074;
  --v-light-green: #aaa098;
  --lighter-beige: #ebe8e2;
  --darker-beige: #F6F2EB;
  --darker-pink: #D16845;
  --greenish: #6e635a;
  --bright-red: #ed1c24;
  --burgundy: #671011;
}

.c-bright-red {
  color: var(--bright-red);
}

.bg-bright-red {
  background-color: var(--bright-red);
}

.h-bg-bright-red {
  &:hover {
    background-color: var(--bright-red);
  }
}

.c-burgundy {
  color: var(--burgundy);
}

.bg-burgundy {
  background-color: var(--burgundy);
}

.h-bg-burgundy {
  &:hover {
    background-color: var(--burgundy);
  }
}

.bg-red {
  background-color: #b55900;
}

.c-greenish {
  color: var(--greenish);
}

.bg-darker-beige {
  background-color: var(--darker-beige);
}

.c-v-light-green {
  color: var(--v-light-green);
}

.c-light-green {
  color: var(--light-green);
}

.bg-light-green {
  background-color: var(--light-green);
}

.c-light-beige {
  color: var(--light-beige);
}

.bg-light-beige {
  background-color: var(--light-beige);
}

.c-sunset {
  color: var(--red);
}

.bg-sunset {
  background-color: var(--red);
}

.c-darkest-gray {
  color: var(--darkest-gray);
}

.bg-darkest-gray {
  background-color: var(--darkest-gray);
}


.c-light-gray {
  color: var(--light-gray);
}

.bg-light-gray {
  background-color: var(--light-gray);
}


.c-dusk {
  color: var(--dusk);
}

.bg-dusk {
  background-color: var(--dusk);
}

.c-yellow {
  color: var(--yellow);
}

.bg-yellow {
  background-color: var(--yellow);
}

.c-beige {
  color: var(--beige);
}

.bg-beige {
  background-color: var(--beige);
}

.c-rust {
  color: var(--rust);
}

.bg-rust {
  background-color: var(--rust);
}

.c-char {
  color: var(--dark-gray);
}

.bg-char {
  background-color: var(--dark-gray);
}

.bg-spice {
  background-color: var(--spice);
}

.bg-smoke {
  background-color: var(--green);
}

.__highlight-rust {
  span {
    color: var(--rust);

    &.no-highlight {
      color: inherit;
    }
  }
}

.c-gray {
  color: var(--gray);
}

.bg-gray {
  background-color: var(--gray);
}

.ph-gray {
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: var(--gray);
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: var(--gray);
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: var(--gray);
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: var(--gray);
  }
}

.c-brown {
  color: var(--brown);
}

.bg-brown {
  background-color: var(--brown);
}

.c-white, .c-clear {
  color: var(--white);
}
.bg-white, .bg-clear {
  background-color: var(--white);
}

.c-black {
  color: var(--black);
}
.bg-black {
  background-color: var(--black);
}

.c-green, .c-smoke {
  color: var(--green);
}
.bg-green, .bg-steam {
  background-color: var(--green);
}

.c-blue {
  color: var(--blue);
}
.bg-blue {
  background-color: var(--blue);
}

.bg-beige-white {
  background: linear-gradient(to bottom, var(--dark-beige) 0%, var(--beige) 100%);
}

.bg-image {
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image--about {
  background-position: 21%;
  background-size: auto 130%;
}

.bg-image--bottom {
  background-position: bottom center;
}

.bg-image--mobile {
  background-position: 0 -100px;
}

@media (--800) {
  .bg-image--mobile {
    background-position: unset;
  }
}

.bg-image--overlay {
  &:after {
    content: '';
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 250;
    background: linear-gradient(to bottom, transparent, transparent, transparent, var(--dark-gray));
  }
}

.bg-image--overlay-top {
  &:after {
    content: '';
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 250;
    background: linear-gradient(to bottom, var(--dark-gray), transparent, transparent, var(--dark-gray));
  }
}

.bg-image-right {
  background-position: right;
}

.bg-image-center {
  background-position: center;
}

.c-dark-green {
  color: var(--dark-green);
}

.bg-dark-green {
  background-color: var(--dark-green);
}

.c-pink {
  color: var(--pink);
}

.bg-pink {
  background-color: var(--pink);
}

.c-darker-pink {
  color: var(--darker-pink);
}

.bg-darker-pink {
  background-color: var(--darker-pink);
}



.c-dark-gray {
  color: var(--dark-gray);
}

.bg-dark-gray {
  background-color: var(--dark-gray);
}


.c-dark-beige {
  color: var(--dark-beige);
}

.bg-dark-beige {
  background-color: var(--dark-beige);
}


.c-super-light-gray {
  color: var(--super-light-gray);
}

.bg-super-light-gray {
  background-color: var(--super-light-gray);
}

.h-c-white {
  &:hover {
    color: var(--white);
  }
}

.h-c-pink {
  &:hover {
    color: var(--pink);
  }
}

.h-c-darker-pink {
  &:hover {
    color: var(--pink);
  }
}

.h-bg-white {
  &:hover {
    background-color: var(--white);
  }
}

.h-bg-gray {
  &:hover {
    background-color: var(--gray);
  }
}

.h-bg-darker-gray {
  &:hover {
    background-color: var(--darker-gray);
  }
}

.h-c-yellow {
  &:hover {
    color: var(--yellow);
  }
}

.h-c-dark-gray {
  &:hover {
    color: var(--dark-gray);
  }
}

.bg-darker-green {
  background-color: var(--darker-green);
}
