.outer {
  padding-left: 1em;
  padding-right: 1em;

  @media (--750) {
    padding-left: 3em;
    padding-right: 3em;
  }
}

@media only screen and (min-width: 750px) {
  .lg--outer {
    padding-left: 3em;
    padding-right: 3em;
  }
}

@media only screen and (max-width: 749px) {
  .sm--outer {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}

.container--m {
  max-width: 1000px;
  margin: auto;
}

/* .container--s {
  max-width: 600px;
}
.container--l {
  max-width: 1400px;
} */

.container {
  max-width: 1500px;
  margin: auto;
}

@media only screen and (min-width: 750px) and (max-width: 1439px) {
  .container-cluster {
    max-width: 1100px;
  }
}

.container-p {
  max-width: 1075px;
  margin: auto;
}

.page-rte {
  h1 {
    font-family: 'Plaid-XL-Web';
    font-size: 16px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 50px;
  }
}
