form {
  margin: 0;
}
input,
textarea,
select {
  display: block;
  outline: 0;
  border-radius: 0;
  border: 0;
  position: relative;
  font-size: inherit;
  background-color: transparent;
  /* padding: 0.75em 1em;
  color: var(--black); */

  /* &:focus {
    border-color: var(--black);
  } */

  &::-webkit-input-placeholder {
    color: var(--beige);
  }

  /* Change the white to any color ;) */
  /* &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
  } */
}
textarea {
  max-width: 100%;
  overflow: auto;
  resize: vertical;
  min-height: 55px;
  padding-top: 0.5em;
}
.select-wrapper {
  display: block;
  position: relative;

  select {
    appearance: none;
    padding-right: 50px;
    width: 100%;
    border: 1px solid var(--black);
  }

  img {
  }
}

.form {
  /* border-bottom: 1px solid var(--beige); */

  /* button {
    background-color: transparent;
  } */
}

.newsletter {
  .form {
    border-bottom: 1px solid var(--gray);
  }
}
