#root {
  transition: opacity 200ms var(--cubic);
}
.is-transitioning #root {
  opacity: 0;
}

.plaid {
  font-family: 'Plaid-XS-Web';
}

.plaid-l {
  font-family: 'Plaid-XL-Web';
}

.cheltenham {
  font-family: 'CheltBTBolCon';
}

.cheltenham-x {
  font-family: 'CheltBTBolExtCon';
}
