{% include 'shogun-products', content: article %}
{% comment %}
  When a comment is submitted, the browser is redirected to a page that includes 
  the new comment id in its URL.
  #comments is a required ID and is used as an anchor link by Shopify.
{% endcomment %}

{%- assign number_of_comments = article.comments_count -%}

{% comment %}
  If a comment was just submitted but requires moderation, we have an extra comment to count.
{% endcomment %}
{% if comment and comment.status != 'published' %}
  {% assign number_of_comments = article.comments_count | plus: 1 %}
{% endif %}

<article role="article" itemscope itemtype="http://schema.org/Article">
 

  {% comment %}
  <div class='banner--coll rel x '>
    <section class='y sm--ac bg-image bg-image--bottom abs x' data-component='banner' style='background-image: url({{ article.image | img_url: "master" }})'>

        <div class='outer banner-content z4 sm--pt-12 abs cen x lg--one-half'>
        <div class='x ac lg--pt-20 sm--pt-12' data-aos="fade-in">
            <a href='{{ blog.url }}'><h1 class='c-beige fs-48 sm--fs-32 lg--ls--11 sm--ls-3 lh-10 cheltenham-x'>{{ blog.title }}</h1></a>
        </div>
        </div>

    </section>
  </div>
  {% endcomment %}

  <div class='outer x mt-10 mb-10'>
    <div class='container f jcc'>
      <div class='article-content lg--two-thirds sm--one-whole lg--fs-16 sm--fs-14 lh-15 c-darkest-gray'>

        {% comment %}
        <div class='block ac mb-6'>
          <h1 class='fs-32 sm--fs-24 lg--ls--11 sm--ls-3 lh-10 cheltenham-x mb-2'>{{ article.title }}</h1>
          <span class='block fs-14 c-darkest-gray'>{{ article.published_at | time_tag: format: 'month_day_year' }}</span>
        </div>
        {% endcomment %}

        {{ article.content }}
      </div>
    </div>
  </div>

</article>

