{% section 'blog-banner' %}

<div class="block pt-8 pb-8">
  <div class="x f jcc">
    <div class="filters filter-button-group f">

      {% assign count = 0 %}
      {% for tag in blog.all_tags %}{% assign tag_handle = tag | handleize %}{% if canonical_url contains tag_handle %}{% assign count = 1 | plus: 1 %}{% endif %}{% endfor %}
  
      <a href='{{ blog.url }}' class="filter button mr-4 ml-4 sm--mr-1 sm--ml-1 caps fs-12 plaid-l c-dark-gray {% if count == 0 %} is-checked{% endif %}">all</a> 
        {% for tag in blog.all_tags %}

        {% assign tag_handle = tag | handleize %}

          <a href='{{ blog.url }}/tagged/{{ tag_handle }}' class="filter button mr-4 ml-4 sm--mr-1 sm--ml-1 caps fs-12 plaid-l c-dark-gray {% if canonical_url contains tag_handle %}is-checked{% endif %}">{{ tag }}</a> 
        {% endfor %}
      
    </div>
  </div>
</div>

{% paginate blog.articles by 5 %}

<div class='outer x'>
  <div class='container'>
  
      <div class='f fw mb-20 mt-10 grid'>
    
        {% for article in blog.articles %}
    
          {% include 'article-item' %}
    
        {% endfor %}
        
      </div>
    
      {% if paginate.pages > 1 %}
        {% include 'pagination' %}
      {% endif %}
    
    
  </div>
</div>


{% endpaginate %}
