<div class='__nav-spacer'></div>

<div class='pt-15 pb-15 x'>
  <div class='cart__container'>

    <div class='cart__box cart__box--full {% if cart.item_count > 0 %}cart--show{% endif %}'>

      <div class='cart__header'>
        <div class='outer'>
          <div class='container mxa ac'>
            <div class='nav-spacer'></div>
            <h1 class='cheltenham-x ls--10 lg--fs-60 sm--fs-42 lh-10'>{{ 'cart.general.title' | t }}</h1>
          </div>
        </div>
      </div>

      <div class='outer'>
        <div class='cart__inner container mha mxa'>
          <form action="/cart" method="post" novalidate>

              {% for item in cart.items %}

              {% comment %}

              Cart Item Template
              =====================
              The data-label attributes on <td> elements are mobile-friendly
              helpers used for responsive-table labels
              {% endcomment %}

                <div class='f fw aic pb-4 bb {% if forloop.first %}{% else %}pt-4{% endif %}' data-component='cart' data-id='{{ item.variant_id }}' data-key='{{item.key}}'>
                  <div class='cart-item__image' data-label="{{ 'customer.order.product' | t }}">
                    <a href="{{ item.url | within: collections.all }}">
                      <img src="{{ item.variant.metafields.accentuate.cutout_image }}" alt="{{ item.title | escape }}" class="block ma cutout-{{ item.product.title | handleize }}">
                    </a>
                  </div>
                  <div class='fa cart-item__content pr-4'>
                    <div class='block mb-3'>
                      <a href="{{ item.url }}">
                        <h3>{{ item.product.title }}</h3>
                      </a>

                      {% unless item.product.has_only_default_variant %}
                        <p class='pb-3'>{{ item.variant.title }}</p>
                      {% endunless %}

                      {%- assign property_size = item.properties | size -%}

                      {% if property_size > 0 %}
                        {% for p in item.properties %}
                          {% unless p.last == blank %}
                          {{ p.first }}:

                          {% if p.last contains '/uploads/' %}
                            <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                          {% else %}
                            {{ p.last }}
                          {% endif %}

                          {% endunless %}
                        {% endfor %}
                      {% endif %}

                      <p>{{ item.product.price | money_without_trailing_zeros }}</p>
                    </div>

                  </div>



                  <div class='cart-item__quantity f aic jcb plaid-l ls--5' data-label="{{ 'cart.label.quantity' | t }}">
                    {% comment %}
                    {{ item.line_price | money }}
                    {% endcomment %}
                    {% include 'cart-counter' %}
                  </div>

                </div>

              {% endfor %}


              <div class='x block pt-4 pb-4'>

                <div class='f cart__subtotal jce mb2'>
                  <div class='pr3'>
                    <p class='h5-14 caps semi'>{{ 'cart.general.subtotal' | t }}</p>
                  </div>
                  <div>
                    <p class='h2 m0 semi ar js-subtotal'>{{ cart.total_price | money }}</p>
                    {% if cart.total_discounts > 0 %}
                      <p>{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money }}</p>
                    {% endif %}
                  </div>
                </div>
              </div>

              <div class='x f jce'>
                <input type="submit" name="checkout" value="{{ 'cart.general.checkout' | t }}" class="button h-bg-gray transition rel inline-block bg-rust pt-2 pb-2 pr-2 pl-2 lh-10 caps fs-14 c-beige plaid-l ls--5">
              </div>

          </form>
        </div>
      </div>

    </div>


    <div class='cart__box cart__box--empty {% if cart.item_count <= 0 %}cart--show{% endif %}'>
      <div class='nav-spacer--mobile'></div>

      <div class='outer x'>
        <div class='container--l mxa f jcc'>

          <div class='ac empty__container'>
            <div class='x'>
              <div class='block mb-3 ac'>
                <p class='h0 semi'>Your cart is currently empty.</p>
              </div>
              <div class='block'>
                <a href='{{shop.url}}/collections/all' role='button' class="button h-bg-gray transition rel inline-block bg-rust pt-2 pb-2 pr-2 pl-2 lh-10 caps fs-14 c-beige plaid-l ls--5">Shop all products</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>



  </div>
</div>
