{% section 'lny-banner' %}
{% section 'lny-content' %}

{% section 'collection-lny' %}

{% comment %}
{% section 'lny-impact' %}
{% section 'collection-callout' %}
{% endcomment %}

{% comment %}
<script class='js-products-json' type='text/template'>

  {
    "products": [
        {% for product in collections['nb-bundle'].products %}
        {% if forloop.last %}
          {% assign last = true %}
        {% else %}
          {% assign last = false %}
        {% endif %}

        {% for variant in product.variants %}
          {
            "id": {{ product.id | json }},
            "product": {{ product | json }}
          }{% if last == false %},{% endif %}
        {% endfor %}
        {% endfor %}
    ]
  }

</script>
{% endcomment %}
