{% comment %}
  QR code is rendered in `#QrCode`

  `gift_card.pass_url` is true if apple wallet is enabled for the shop
{% endcomment %}

{% layout 'gift_card' %}

{% comment %}
<header role="banner">
  <div itemscope itemtype="http://schema.org/Organization">
    <a href="{{ shop.url }}" itemprop="url" class="site-logo">
      {{ shop.name }}
    </a>
  </div>
  <div>{{ shop.url | escape }}</div>
</header>
{% endcomment %}

<main class="giftcard {% if gift_card.expired or gift_card.enabled != true %} giftcard--disabled{% endif %}">
  
  <section class='about lg--pt-36 sm--pt-28 sm--pb-12 f fdc'>

  <div class='outer lg--pb-10 sm--pb-4 sm--order-2'>
    <div class='lg--one-half ma ac'>
      <div class='mb-10'>
      <h1>{{ 'gift_cards.issued.subtext' | t }}</h1>
      
      {% unless gift_card.enabled %}
        <span class="giftcard-tag">{{ 'gift_cards.issued.disabled' | t }}</span>
      {% endunless %}

      {%- assign gift_card_expiry_date = gift_card.expires_on | date: "%d/%m/%y" -%}

      {% if gift_card.expired and gift_card.enabled %}
        <span class="giftcard-tag">{{ 'gift_cards.issued.expired' | t: expiry: gift_card_expiry_date }}</span>
      {% endif %}

      {% if gift_card.expired != true and gift_card.expires_on and gift_card.enabled %}
        <span class="giftcard-tag giftcard-tag--active">{{ 'gift_cards.issued.active' | t: expiry: gift_card_expiry_date }}</span>
      {% endif %}
      </div>
      
      <div class='mb-10'>
<!--       <img src="{{ 'gift-card/card.jpg' | shopify_asset_url }}" alt="Gift card illustration"> -->
        <img src='{{ 'thumbnail-v1575668459627.png' | asset_url }}' alt='Gift card illustration' />
      </div>

      <div class='mb-10'>
      {%- assign initial_value_size = formatted_initial_value | size -%}
      <h2>{{ formatted_initial_value }}</h2>

      {% if gift_card.balance != gift_card.initial_value %}
        <p>{{ 'gift_cards.issued.remaining_html' | t: balance: gift_card.balance | money }}</p>
      {% endif %}

      {%- assign code_size = gift_card.code | format_code | size -%}
      <span id="GiftCardDigits" class='plaid-l bold'>{{ gift_card.code | format_code }}</span>

      <p>{{ 'gift_cards.issued.redeem' | t }}</p>
      </div>
      
      
      <div class='f jcc x fw'>
        <div class='mr-2 ml-2'><a href="{{ shop.url }}" class="button  h-bg-rusty transition rel ma mb-2 inline-block bg-darkest-gray pt-4 pb-4 pr-12 pl-12 lh-10 caps fs-12 c-white plaid-l z4" target="_blank">{{ 'gift_cards.issued.shop_link' | t }}</a></div>
        <div class='mr-2 ml-2'><a href="#" id="PrintGiftCard" class="print-giftcard button h-bg-rusty transition rel ma mb-2 inline-block bg-darkest-gray pt-4 pb-4 pr-12 pl-12 lh-10 caps fs-12 c-white plaid-l z4">
        {{ 'gift_cards.issued.print' | t }}
          </a></div>
      </div>


      <div id="QrCode" class="giftcard-qr" data-identifier="{{ gift_card.qr_identifier }}"></div>

      {% if gift_card.pass_url %}
        <a href="{{ gift_card.pass_url }}" class="apple-wallet">
          <img class="apple-wallet-image" src="{{ 'gift-card/add-to-apple-wallet.svg' | shopify_asset_url }}" width="120" height="40" alt="{{ 'gift_cards.issued.add_to_apple_wallet' | t }}">
        </a>
      {% endif %}


    </div>
  </div>

</main>
