<div class='__nav-spacer'></div>

<div class='pt-15 pb-15 x'>
  <div class='outer'>
    <div class='container ma'>
      <div class='block ac mb-10'>
        <h1 class='cheltenham-x ls--10 lg--fs-60 sm--fs-42 lh-10'>{{ page.title }}</h1>
      </div>

      <div class="page-rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
