{% section 'faq-banner' %}
{% section 'faq-description' %}


<div class="lg--pt-24 lg--mb-30 sm--pt-14 sm--mb-14 x outer">
  <div class='container-p mxa'>
    <div class='page__faqs' data-component='faqs'>
      {% section 'faqs-a' %}
      {% section 'faqs-b' %}
      {% section 'faqs-c' %}
      {% section 'faqs-d' %}
      {% section 'faqs-e' %}
      {% section 'faqs-f' %}
      {% section 'faqs-g' %}
    </div>
  </div>
</div>
