<script>
  var selectCallback = function(current_variant, selector) {

    //Affirm Promos: Monthly Payment Messaging, dynamic pricing embed code
    //
    //NOTE: This Affirm embed code is only needed if you are using product variants.
    //'selectCallback' might not be in your product.liquid template if product variants are not used or supported.
    //If you are using product variants in your shop, use the following code to dynamically update your Monthly Payment Messaging when the customer selects a different product variant.

    $('.affirm-as-low-as').attr('data-amount',current_variant.price);
    affirm.ui.refresh();

  };

</script>

<div class='product-main'>
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  {% include 'product-head' %}
  <section class='mb-10 rel' data-component='productNB'>

    <div class='lg--outer'>
      <div class='container mxa'>
        <div class='slater-product f jcb fw'>

          <div class='slater-product__images rel sm--one-whole lg--two-thirds'>
            <div class='f fw sm--hide'>

              {% for image in product.images %}
              <div class='lg--one-half sm--one-whole'>
                <div class='pdp-slide rel mb-1' data-index='{{ forloop.index0 }}' {% if image.attached_to_variant? %}{% for variant in image.variants %}{% if forloop.first %}id='v-{{ variant.id }}'{% endif %}{% endfor %}{% endif %}>
                  <img class='x-1 y abs fill fit' src='{{ image.src | img_url: '800x' }}' data-src='{{ image.src | img_url: '800x' }}' alt='{{ image.alt | escape }}' />
                </div>
              </div>
              {% endfor %}

              {% assign coll = collections['nb-bundle'].products %}

              {% comment %}

              {% assign j = 1 %}


              {% assign pos = coll.size | divided_by: 2 %}

              {% for product in coll %}

                {% if product.handle contains 'table-runner' %}
                  {% assign prod_name = 'table-runner' %}
                {% elsif product.handle contains 'tortilla-warmers' %}
                  {% assign prod_name = 'tortilla-warmers' %}
                {% elsif product.handle contains 'maria-bowl' %}
                  {% assign prod_name = 'maria-bowl' %}
                {% elsif product.handle contains 'rojas-molcajete' %}
                  {% assign prod_name = 'rojas-molcajete' %}
                {% elsif product.handle contains 'mezcal-glasses' %}
                  {% assign prod_name = 'mezcal-glasses' %}
                {% endif %}

                <div class='lg--one-half sm--one-whole'>
                  <div class='js-bundle-slider js-bundle-slider-{{ prod_name }} x rel block'>

                    {% for image in product.images %}
                      <div class='pdp-slide bundle-slide--{{ image.alt }} rel' data-index='{{ forloop.index0 }}' {% if image.attached_to_variant? %}{% for variant in image.variants %}{% if forloop.first %}id='v-{{ variant.id }}'{% endif %}{% endfor %}{% endif %}>
                        <img class='x-1 y abs fill fit' src='{{ image.src | img_url: '800x' }}' data-src='{{ image.src | img_url: '800x' }}' alt='{{ image.alt | escape }}' />
                      </div>
                    {% endfor %}

                  </div>
                </div>
              {% endfor %}

              {% endcomment %}
            </div>

            <div class='lg--hide'>
              <div class='pdp-slider rel sm--mb-5'>
                <div class='abs fill x y'>
                  <div class='js-pdp-slider pdp-slider-container'>
                    {% assign j = 1 %}

                    {% for image in product.images %}

                        <div class='pdp-slide pdp-slide--{{ image.alt }} x rel block' data-index='{{ forloop.index0 }}' {% if image.attached_to_variant? %}{% for variant in image.variants %}{% if forloop.first %}id='v-{{ variant.id }}'{% endif %}{% endfor %}{% endif %}>
                          <img class='x y abs fill fit' src='{{ image.src | img_url: '800x' }}' data-src='{{ image.src | img_url: '800x' }}' alt='{{ image.alt | escape }}' />
                        </div>

                    {% endfor %}
                  </div>

                  <div class='slick-arrow next'>
                    {% include 'slick-arrow-next' %}
                  </div>

                  <div class='slick-arrow prev'>
                    {% include 'slick-arrow-prev' %}
                  </div>

                </div>

                <div class='pdp-slider-nav-container' style='display: none'>
                  <div class='js-pdp-slider-nav pdp-slider-nav'>
                    {% for image in product.images %}

                        <div class='pdp-slide-nav x rel block' data-index='{{ forloop.index0 }}'>
                        </div>

                    {% endfor %}
                  </div>
                </div>

              </div>
            </div>


            {% comment %}
            <div class='bundle-slider rel sm--mb-5'>
              <div class='js-pdp-slider'>
                {% assign j = 1 %}

                {% for image in product.images %}

                    <div class='pdp-slide x rel block pdp-slide--{{ image.alt }}' data-index='{{ forloop.index0 }}' {% if image.attached_to_variant? %}{% for variant in image.variants %}{% if forloop.first %}id='v-{{ variant.id }}'{% endif %}{% endfor %}{% endif %}>
                      <img class='x y abs fill fit' src='{{ image.src | img_url: '800x' }}' alt='{{ image.alt | escape }}' />
                    </div>

                {% endfor %}
              </div>

              <div class='pdp-slider-nav-container'>
                <div class='js-pdp-slider-nav pdp-slider-nav'>
                  {% for image in product.images %}

                      <div class='pdp-slide-nav x rel block' data-index='{{ forloop.index0 }}'>
                      </div>

                  {% endfor %}
                </div>
              </div>

            </div>
            {% endcomment %}

          </div>

          <div class='slater-product__info lg--pl-10 lg--pt-10 lg--pb-10 sm--one-whole sm--outer lg--one-third'>
            <div class='product__inner block ma'>
              <div class='f x jcb aib'>
                <div class='block x'>
                  <h1 class='cheltenham-x lg--fs-40 lh-10 ls--10 c-gray __highlight-rust lg--mb-2 sm--mb-2 sm--fs-40 sm--fs-24 sm--pr-16 ls--10 pr-2 block'>
                    {{ product.title }}
                  </h1>

                  {% include 'product-reviews-header' %}
                </div>
                <div class="product-price" data-price class='js-price'>
                  {{ current_variant.price | money_without_trailing_zeros }}
                </div>
              </div>

              <div class="lg--mt-4 sm--mt-3 pb-4 product-description lg--fs-16 sm--fs-14 lh-15 c-darkest-gray plaid">
                {{ product.description }}
              </div>

              <div>

                <form>
                  <div class='prodbar-title'>
                    <span class='cheltenham-x lg--fs-38 sm--fs-28'>{{ product.title }}</span>
                  </div>

                  {% comment %}
                  {% include 'nb-options' %}
                  {% include 'product-options' %}
                  {% endcomment %}

                  {% for product in coll %}
                    <input type='text' name='id' value='{{ product.variants.first.id }}' class='checkbox' style='display: none' />
                  {% endfor %}

                  <input type=number name=quantity value=1 style='display: none'>

                  {% comment %}
                  <div class='py1'>
                    {% include 'component-counter' %}
                  </div>
                  <div class='f aic py1'>
                    <s data-compare-price style='display: none'>{{ current_variant.compare_at_price | money }}</s>
                  </div>
                  {% endcomment %}




                  <div class='prodbar-button pt-2 pb-4'>
                    {%- capture cta -%}
                      {% if product.available %}
                        Add to Cart
                      {% else %}
                        Out of Stock
                      {% endif %}
                    {%- endcapture -%}
                    {%
                      include 'component-button' with
                      tag: 'button',
                      name: 'add',
                      type: 'submit',
                      className: 'js-add-bundle x p-4 pl-8 pr-8 atc plaid-l c-beige caps lg--fs-14 sm--fs-11 bg-gray',
                      cta: cta
                    %}
                  </div>
                  <p class="affirm-as-low-as ac lg--fs-14 sm--fs-14 lh-15 c-darkest-gray" data-page-type="product" data-amount="{{current_variant.price}}"></p>

                  {% assign shipping_size = product.metafields.accentuate.shipping_note | size %}

                  {% if shipping_size > 0 %}
                  <div class='block pb-6 ac shipping-note lg--fs-14 sm--fs-14 lh-15 c-darkest-gray pt-3'>
                    <p>{{ product.metafields.accentuate.shipping_note }}</p>
                  </div>
                  {% endif %}

                  {% include 'accordion' %}

                </form>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div id='trigger' class='abs right bottom'></div>

  </section>

  {% include 'product-callout' %}
  {% include 'product-items' %}

  {% comment %}
  {% include 'product-big-image' %}
  {% endcomment %}

  {% include 'product-content' %}
  {% include 'product-other' %}
  {% include 'product-reviews' %}
</div>
