<script>
  var selectCallback = function(current_variant, selector) {

    //Affirm Promos: Monthly Payment Messaging, dynamic pricing embed code
    //
    //NOTE: This Affirm embed code is only needed if you are using product variants.
    //'selectCallback' might not be in your product.liquid template if product variants are not used or supported.
    //If you are using product variants in your shop, use the following code to dynamically update your Monthly Payment Messaging when the customer selects a different product variant.

    $('.affirm-as-low-as').attr('data-amount',current_variant.price);
    affirm.ui.refresh();

  };

</script>

<div data-component='product' class='product-main'>
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  {% include 'product-head' %}
  <section data-component='productSelection' class='mb-8 rel z10'>

    <div class='lg--outer'>
      <div class='container mxa'>
        <div class='slater-product f jcb fw'>

          <div class='slater-product__images rel sm--one-whole lg--two-thirds'>
              <div class='f fw sm--hide'>
                {% assign j = 1 %}

                {% for image in product.images %}

                 {% if image.attached_to_variant? %}
                   {% for variant in image.variants %}
                     {% if forloop.first %}
                      {% assign variant_id = variant.id %}
                     {% endif %}
                   {% endfor %}
                 {% endif %}

                  <div class='lg--one-half sm--one-whole variant-item {% if variant_id != blank %} variant-item--{{ variant_id }} {% endif %}' {% if current_variant.id == variant_id or product.variants.size == 1 %}style='display: block;'{% else %}style='display:none;'{% endif %}>
                    <div class='pdp-slide x rel block' data-index='{{ forloop.index0 }}'>
                      <img class='x-1 y-1 abs fill fit' src='{{ image.src | img_url: '800x' }}' data-src='{{ image.src | img_url: '800x' }}' alt='{{ image.alt | escape }}' />
                    </div>
                  </div>
                {% endfor %}
              </div>

              {% assign collections = '' %}


              {% for collection in product.collections %}
                {% assign collections = collections | append: ' ' | append: collection.handle %}
              {% endfor %}


              <div class='pdp-slider rel sm--mb-5  lg--hide'>
                <div class='abs fill x y'>
                  <div class='js-pdp-slider pdp-slider-container'>
                    {% assign j = 1 %}

                    {% for image in product.images %}

                        <div class='pdp-slide x rel block' data-index='{{ forloop.index0 }}' {% if image.attached_to_variant? %}{% for variant in image.variants %}{% if forloop.first %}id='v-{{ variant.id }}'{% endif %}{% endfor %}{% endif %}>
                          <img class='x y abs fill fit {% if collections contains "nochebuena" %}obj-position--bottom{% endif %}' src='{{ image.src | img_url: '800x' }}' data-src='{{ image.src | img_url: '800x' }}' alt='{{ image.alt | escape }}' />
                        </div>

                    {% endfor %}
                  </div>

                  <div class='slick-arrow next'>
                    {% include 'slick-arrow-next' %}
                  </div>

                  <div class='slick-arrow prev'>
                    {% include 'slick-arrow-prev' %}
                  </div>

                </div>

                <div class='pdp-slider-nav-container' style='display: none'>
                  <div class='js-pdp-slider-nav pdp-slider-nav'>
                    {% for image in product.images %}

                        <div class='pdp-slide-nav x rel block' data-index='{{ forloop.index0 }}'>
                        </div>

                    {% endfor %}
                  </div>
                </div>

              </div>

          </div>

          <div class='slater-product__info lg--pl-10 lg--pt-10 lg--pb-10 sm--one-whole sm--outer lg--one-third'>
            <div class='product__inner block'>
              <div class="f">
                <div class='block x'>
                  <h1 class='cheltenham-x lg--fs-40 lh-10 ls--10 c-gray __highlight-rust lg--mb-2 sm--mb-2 sm--fs-40 sm--fs-24 sm--pr-16 ls--10 pr-2 block'>
                    {{ product.title }}
                  </h1>

                  {% include 'product-reviews-header' %}
                </div>
                <div class="product-price" data-price class='js-price'>
                  {{ current_variant.price | money_without_trailing_zeros }}
                </div>
              </div>

              <div class="lg--mt-4 sm--mt-3 pb-4 product-description lg--fs-16 sm--fs-14 lh-15 c-darkest-gray plaid">
                {{ product.description }}
              </div>

              <div id='prodbar' class='prodbar'>

                <form action='/cart/add' method='post' enctype='multipart/form-data' data-component='productForm' novalidate>
                  <div class='prodbar-title'>
                    <span class='cheltenham-x ls--10 lg--fs-38 sm--fs-28'>{{ product.title }}</span>
                  </div>

                  {% include 'product-options' %}

                  <input type=number name=quantity value=1 style='display: none'>

                  {% comment %}
                  <div class='py1'>
                    {% include 'component-counter' %}
                  </div>
                  <div class='f aic py1'>
                    <s data-compare-price style='display: none'>{{ current_variant.compare_at_price | money }}</s>
                  </div>
                  {% endcomment %}


                  <div class='prodbar-button pt-2 pb-4'>

                    <a class="klaviyo-bis-trigger ac shadow mb-2 button button--cta transition rel inline-block bg-darkest-gray pt-4 pb-4 pr-8 pl-8 lh-10 caps fs-12 c-white plaid-l x" style='display: none; opacity: 0.7;' href="#">Get notified when back in stock</a>

                    {%- capture cta -%}
                      {% if product.available %}
                        Add to Cart
                      {% else %}
                        Out of Stock
                      {% endif %}
                    {%- endcapture -%}
                    {%
                      include 'component-product-button' with
                      tag: 'button',
                      name: 'add',
                      type: 'submit',
                      className: 'js-add-to-cart ac add-to-cart shadow shadow-white button button--cta h-c-dark-gray h-bg-white transition rel inline-block bg-darkest-gray pt-4 pb-4 pr-8 pl-8 lh-10 caps fs-12 c-white plaid-l  x',
                      cta: cta,
                      id: 'AddToCart'
                    %}

                  </div>
                  <p class="affirm-as-low-as  lg--fs-14 sm--fs-14 lh-15 c-darkest-gray" data-page-type="product" data-amount="{{current_variant.price}}"></p>

                  {% assign shipping_size = product.metafields.accentuate.shipping_note | size %}

                  {% if shipping_size > 0 %}
                  <div class='block pb-6 ac shipping-note pt-3 lg--fs-14 sm--fs-14 lh-15 c-darkest-gray pt-3'>
                    <p>{{ product.metafields.accentuate.shipping_note }}</p>
                  </div>
                  {% endif %}

                  {% include 'accordion' %}

                </form>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div id='trigger' class='abs right bottom'></div>

  </section>

  {% comment %}
  {% include 'product-callout' %}
  {% endcomment %}

  {% include 'product-items' %}
  {% comment %}
  {% include 'product-big-image' %}
  {% endcomment %}
  {% include 'product-video' %}


  {% include 'product-content' %}

  {% include 'product-reviews' %}

  {% include 'product-other' %}

</div>
