<div class='accordion'>

  {% if product.metafields.accentuate.product_information.size > 0 %}

  <div class='product-dropdown cursor-pointer x'>
    <div class='pt-3 pb-3 bg-light-beige js-accordion-toggle'>
      <div class='x f jcb aic'>
        <span class='plaid fs-16 sm--fs-13 c-darkest-gray lh-15'>Product Information</span>
        <div class='rel plus'>+</div>
        <div class='rel minus'>-</div>
      </div>
    </div>
    <div class=' pb-6 js-accordion-body' style='display:none'>
      <div class='product-dropdown-content'>
        {{ product.metafields.accentuate.product_information }}
      </div>
    </div>
  </div>

  {% endif %}

  {% if product.metafields.accentuate.materials_care.size > 0 %}

  <div class='product-dropdown cursor-pointer x'>
    <div class='pt-3 pb-3 bg-light-beige js-accordion-toggle'>
      <div class='x f jcb aic'>
        <span class='plaid fs-16 sm--fs-13 c-darkest-gray lh-15'>Materials and Care</span>
        <div class='rel plus'>+</div>
        <div class='rel minus'>-</div>
      </div>
    </div>
    <div class=' pb-6 js-accordion-body' style='display:none'>
      <div class='product-dropdown-content'>
        {{ product.metafields.accentuate.materials_care }}
      </div>
    </div>
  </div>

  {% endif %}

</div>
