<svg width="52px" height="10px" viewBox="0 0 52 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Footer" transform="translate(-571.000000, -351.000000)" fill="#F5F1E9" fill-rule="nonzero">
            <g id="Newsletter" transform="translate(118.000000, 345.000000)">
                <path id="Line" d="M496,11.5 L453.617187,11.5 L453.617187,10.5 L496,10.5 L496,6.5 L505,11 L496,15.5 L496,11.5 Z"></path>
            </g>
        </g>
    </g>
</svg>
