<svg width="52px" height="10px" viewBox="0 0 52 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Footer-Area" transform="translate(-569.000000, -683.000000)" fill="#35312E" fill-rule="nonzero">
            <g id="Group">
                <g id="Group-7">
                    <g id="Group-15">
                        <g id="Group-11">
                            <g id="Group-5" transform="translate(117.000000, 674.000000)">
                                <g id="email-field">
                                    <path id="Line" d="M495,14.5 L452.617187,14.5 L452.617187,13.5 L495,13.5 L495,9.5 L504,14 L495,18.5 L495,14.5 Z"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>
