<div class='product-item grid__item lg--one-quarter sm--one-half' data-component='productItem'>

  <div class='block x mb-3 rel'>
      <a href='{{ article.url }}' class='block product-slide rel image'>
          <img src='{{ article | img_url: '1024x1024' }}' class='x y block abs fill z1' />
      </a>
  </div>
  
  <div class='product-{{ article.handle }}'>
  
      <div class='x'>
  
        <div class='x f jcb mb-2'>
          <a href='{{ article.url }}' class='plaid-l ls--5 lg--fs-14 sm--fs-12 lg--lh-15 sm--lh-12 c-gray'>{{ article.title }}</a>
        </div>
  
        {% capture date %}{{ article.published_at | time_tag: format: 'month_day_year' }}{% endcapture %}

        <div class='block lg--fs-14 sm--fs-12 lg--lh-15 sm--lh-12 ls-1 c-greenish f aic sm--hide'>
            <span class=''>{{ date }}</span>
        </div>
  
      </div>
  </div>
  
  </div>
  