<div class='banner--coll rel x'>
    <section class='y sm--ac bg-image bg-image--bottom abs x' data-component='banner' style='background-image: url({{ section.settings.bg_image | img_url: "2400x" }})'>

        <div class='outer banner-content z4 sm--pt-12 abs cen x lg--one-half'>
        <div class='x ac lg--pt-20 sm--pt-12' data-aos="fade-in">
            <h1 class='c-beige fs-48 sm--fs-32 lg--ls--11 sm--ls-3 lh-10 cheltenham-x'>{{ blog.title }}</h1>
        </div>
        </div>

    </section>
</div>
  