<section class='cart-drawer-outer fix fill x z12' data-component='cartDrawer'>
  <div class='cart-drawer-overlay abs fill js-overlay'></div>

  <div class='cart-drawer y x f fdc abs top right bottom bg-beige js-drawer p-6 '>

    {% comment %}
    <div class='mb-4'>
      <p class="cart-note">Buy one Always Pan, get a free 4-piece set of handpainted plates, bowls or handblown glasses w/ code YOURPLACE.
      Simply add your free item to your cart and enter the promo code @ checkout. You must pick your free item before purchase.</p>
    </div>
    {% endcomment %}

    <div class='mb-4'>
      <p class="cart-note">
        {{ settings.cart_note }}
      </p>
    </div>

    <div class='rel x fa y'>

      <div class='cart-drawer__items x y z6'>
        <div class='rel x y'>

          <div class='cart-drawer__inner abs fill js-items f fdc y'>

          </div>

          <div class='cart-bg-image cart-bg-image-1'>
            <img src='{{ settings.cart_bg_image_1 | img_url: "10x" }}' data-src='{{ settings.cart_bg_image_1 | img_url: "200x" }}' class='lazyload' loading='lazy' />
          </div>

          <div class='cart-bg-image cart-bg-image-2'>
            <img src='{{ settings.cart_bg_image_2 | img_url: "10x" }}' data-src='{{ settings.cart_bg_image_2 | img_url: "200x" }}' class='lazyload' loading='lazy' />
          </div>

          <div class='cart-bg-image cart-bg-image-3'>
            <img src='{{ settings.cart_bg_image_3 | img_url: "10x" }}' data-src='{{ settings.cart_bg_image_3 | img_url: "200x" }}' class='lazyload' loading='lazy' />
          </div>

        </div>
      </div>

      {% comment %}
      <footer class=''>
        <h5 class='mv1 sans track caps ac medium'>Subtotal: <span class='js-subtotal'>$-.--</span></h5>

        {%
        include 'component-button' with
        tag: 'a',
        cta: 'Checkout',
        href: '/checkout',
        className: 'y no-ajax'
        %}
      </footer>
      {% endcomment %}

    </div>

    <p class="affirm-as-low-as abs bottom z6 pl-6 pr-6 pb-2 sm--fs-10 left right ac" data-page-type="cart" data-amount="{{cart.total_price}}"></p>
  </div>
</section>
