{% comment %}
/components/counter.css
{% endcomment %}

{% assign min = min | default: '1' %}
{% assign max = max | default: '' %}

<div class='counter-wrapper rel inline-block'>
  <div class='counter rel f cart-selectors bold fs-16'>
    <button class='cart-quantity js-remove-single p-1 bg-dark-beige mr-2' type=button>
      <span>-</span>
    </button>
    <div class='js-single-quantity counter_quantity bg-dark-beige p-1'>{{ item.quantity }}</div>
    <button class='cart-quantity js-add-single p-1 bg-dark-beige ml-2' type=button>
      <span>+</span>
    </button>
  </div>

  {% comment %}
  <script>
    (function counter (counter) {
      var dec = counter.children[0]
      var inp = counter.children[1]
      var inc = counter.children[2]
      var min = parseInt(inp.attributes.min.value)
      var max = parseInt(inp.attributes.max.value)

      var count = parseInt(inp.value)

      function set (i) {
        count = Math.max(min, Math.min(i, max || 10000))
        inp.value = count
      }

      dec.onclick = e => set(--count)
      inc.onclick = e => set(++count)
      inp.onchange = e => set(parseInt(inp.value))

      counter.parentNode.removeChild(document.currentScript)
    })(document.currentScript.parentNode.children[0])
  </script>
  {% endcomment %}
</div>
