<input
  id={{label}}
  type=radio
  name={{name}}
  value={{value}}
  class='none {{name}} checkbox'
  data-vid='{{vid}}'
  {{ attributes }}
  {% if checked == true %}checked{% endif %}
/>
<label class='radio f aic bg-{{ value | handleize }}' for={{label}}>
  {{ label }}
</label>
{% comment %}<span>{{label}}</span>{% endcomment %}

{% assign vid = blank %}
{% assign label = blank %}
{% assign name = blank %}
{% assign value = blank %}
{% assign attributes = blank %}
{% assign checked = false %}
