{%- capture cx -%}
  button rel {{ className }}
  {% if outline == true %}button--outline{% endif %}
  {% if small == true %}button--small{% endif %}
{%- endcapture -%}

<{{ tag | default: 'a' }}
  {% if href %}href='{{ href }}'{% endif %}
  {% if name %}name='{{ name }}'{% endif %}
  {% if disabled %}disabled{% endif %}
  type='{{ type | default: 'button' }}'
  class='{{ cx | strip }}'
  id='{{ id }}'
  role='button'>
  <span
    class="js-default-cta-text {% if current_variant.metafields.accentuate.preorder != blank %}hide{% endif %}"
  >
    {{ cta | strip }}
  </span>
  <span
    class="js-preorder-cta-text {% unless current_variant.metafields.accentuate.preorder != blank %}hide{% endunless %}"
  >
    Pre-Order Now
  </span> - <span data-price class='js-price'>{{ current_variant.price | money_without_trailing_zeros }}</span>
</{{ tag | default: 'a' }}>

{% assign cta = blank %}
{% assign className = blank %}
{% assign href = blank %}
{% assign name = blank %}
{% assign disabled = false %}
{% assign type = 'button' %}
{% assign cx = '' %}
{% assign id = blank %}
