{% if title != '' %}
  <section class='faqs mb-16'>
    <h1 class='faqs__title plaid-l ls--5 caps fs-16 ls--5 c-dark-gray mb-4'>{{ title }}</h1>

    <ul class='accordion'>
      {% for block in blocks %}
        {% assign faq = block.settings %}
        {% assign id = faq.question | handle %}

        <li id='{{ id }}' class='rel block product-dropdown x'>
          <div class='pt-3 pb-3 bg-light-beige js-accordion-toggle'>
            <div class='x f jcb'>
              <span class='fs-22'>{{ faq.question }}</span>
              <div>
                <div class='rel plus'>+</div>
                <div class='rel minus'>-</div>
              </div>
            </div>
          </div>
          <div class=' pb-6  js-accordion-body' style='display: none'>
            <div class='product-dropdown-content'>
              {{ faq.answer }}
            </div>
          </div>
        </li>

      {% endfor %}
    </ul>
  </section>

  {% assign title = '' %}
{% endif %}
