{% assign image_fit = "cover" %}
{%
  if product.url == "/products/always-essential-cooking-pan"
  or product.url == "/products/the-drinking-glass"
  or product.url == "/products/the-main-plate"
  or product.url == "/products/the-side-bowl"
%}
  {% assign image_fit = "contain" %}
{% endif %}

<div class='product-item'>

  <div class='block x mb-3'>

    <div class='product-slider--big rel'>
      <a href='{{ product.url }}' class='block product-slide--big rel image x y'>
        <img style="object-fit: {{ image_fit }}; background-color: #F7F3EB;" src='{{ product.images[2] | img_url: "10x" }}' data-src="{{ product.images[2] | img_url: "2000x" }}" loading='lazy' class='lazyload x y block abs fill z1' />
        <img style="object-fit: {{ image_fit }}; background-color: #F7F3EB;" src='{{ product.featured_image | img_url: "10x" }}' data-src="{{ product.featured_image | img_url: "2000x" }}" loading='lazy' class='lazyload x y block abs fill image-hover z2' />
      </a>
    </div>


  </div>

  <div class='f jcb aic product-{{ product.handle }}'>

    <div class='one-whole ac' onclick='window.location="{{ product.url }}"'>
      <div class='block lg--fs-16 sm--fs-14 lg--lh-15 sm--lh-12 c-gray mb-2 sm--mb-4 plaid-l ls--5'><a href='{{ product.url }}'>{{ product.title }}</a></div>
      <div class='block fs-12 sm--fs-12 lg--lh-15 sm--lh-12 ls-1 c-gray mb-2 ls-20 caps'>
        {% if product.metafields.accentuate.Subtitle != blank %}
        <span class=''>{{ product.metafields.accentuate.Subtitle }}</span>
        {% endif %}
      </div>

      {% if product.metafields.accentuate.description != blank %}
        <div class='block lg--fs-14 sm--fs-13 lg--ls--2 c-dark-gray pr-4 pl-4'>
          <p>{{ product.metafields.accentuate.description }}</p>
        </div>
      {% endif %}

    </div>

  </div>

</div>
