{% if product.metafields.accentuate.factory_title.size > 0 %}

<section class='bg-light-beige'>

  <div class='outer'>
    <div class='container mxa lg--pt-8 sm--pt-8 pb-8 border-top--lighter-beige'>
      <div class='x f fw '>
        <div class='lg--five-twelfths sm--one-whole lg--pr-4' data-aos='fade-in'>
          <div class='x y bg-dark-beige p-4 sm--pt-8  sm--pb-8 f aic'>
            <div>
              <div class='block mb-6'>
                <h2 class='lg--fs-40 sm--fs-34 lh-10 lg--ls--10 sm--ls--5 cheltenham'>{{ product.metafields.accentuate.factory_title }}</h2>
              </div>
              <div class='block product-artisan-content'>
                {{ product.metafields.accentuate.factory_description }}
              </div>
            </div>
          </div>
        </div>
        <div class='lg--seven-twelfths sm--one-whole'>
          <img src='{{ product.metafields.accentuate.factory_image }}' />
        </div>
      </div>

    </div>
  </div>

</section>

{% endif %}