<div class='mm fix fill z11 x y js-mm'>
  <div class='mm-inner bg-pink abs y left z2'>
    <div class='rel x outer pt-26 pb-10'>

      <div class='top left abs'>
        <div class='outer x pt-7 block'>
          <span class='fs-10 plaid-l ls--5 caps js-mm-close cursor--pointer'>Close</span>
        </div>
      </div>

      <div class='block mb-8 pb-8 bb'>
        <ul class='fs-14 ls--5 f fdc'>
          {% for link in linklists.main-menu.links %}
            <li class='cheltenham-x fs-45 lh-10 ls--10 {% if forloop.last %}{% else %}mb-6{% endif %}'><a href="{{ link.url }}" class='js-menu-link'>{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </div>

      <div class='block pb-4'>
        <ul class='fs-14 ls--5 f fdc'>
          {% for link in linklists.mobile-menu.links %}
            <li class='plaid fs-16 mb-2'><a href='{{ link.url }}' class='js-menu-link'>{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class='js-mm-overlay abs fill x y z1 mm-overlay'>
  </div>
</div>
