<div class='f fw pt-4 pb-4'>

{% assign coll = collections['nb-bundle'].products %}
{% assign pos = coll.size | divided_by: 2 %}

{% for product in coll %}

  {% assign prod_name = '' %}

  {% if product.handle contains 'table-runner' %}
    {% assign prod_name = 'table-runner' %}
  {% elsif product.handle contains 'tortilla-warmers' %}
    {% assign prod_name = 'tortilla-warmers' %}
  {% elsif product.handle contains 'maria-bowl' %}
    {% assign prod_name = 'maria-bowl' %}
  {% elsif product.handle contains 'rojas-molcajete' %}
    {% assign prod_name = 'rojas-molcajete' %}
  {% elsif product.handle contains 'mezcal-glasses' %}
    {% assign prod_name = 'mezcal-glasses' %}
  {% endif %}

  <div class='one-half {% if forloop.index > pos %}pt-4 bt{% endif %} pb-4 product-{{ product.handle }}'>

      <div class='f jcb fw'>
        <div class='pr-4 f aic plaid-l ls--5 fs-12 lh-17 caps mb-4 x'>
          <label class='pr-2 c-dark-gray'>{{ prod_name }}: </label>
          <span id='js-{{ prod_name }}' class='c-gray js-option'>{{ product.variants[1].title | handleize }}</span>
        </div>
        <div class='radio-group f aic' data-option-radio data-index={{ forloop.index0 }}>

          {% assign has_been_assigned = false %}

          {% for variant in product.variants %}

            {% if forloop.first %}	
              {% assign is_current_value = true %} 	 	        
            {% endif %}

            <div data-inventory='{{ variant.inventory_quantity }}' >

              {% assign v = prod_name | append: '-' | append: variant.title | downcase %}

              {%
                include 'component-radio' with
                label: v,
                vid: variant.id,
                value: variant.title,
                name: prod_name,
                checked: is_current_value
              %}
            </div>

            {% assign is_current_value = false %}
          {% endfor %}
        </div>
      </div>

  </div>

{% endfor %}
</div>

{% comment %}
<div class='pr-4 f aic'>
  <label class='pr-4 plaid-l fs-14 lh-17 ls-4 caps c-dark-green'>{{ option.name }}</label>
  <span class='js-option caps'>{{ option.selected_value }}</span>
</div>
<div class='radio-group f aic' data-option-radio data-index={{ forloop.index0 }}>
  {% assign is_current_value = false %}
  {% for value in option.values %}
    <div>
      {% if option.selected_value == value %}
        {% assign is_current_value = true %}
      {% else %}
        {% assign is_current_value = false %}
      {% endif %}

      {%
        include 'component-radio' with
        label: value,
        value: value,
        name: option.name,
        checked: is_current_value
      %}
    </div>
  {% endfor %}
</div>
{% endcomment %}


{%
  include 'component-select' with
  name: 'id'
  options: options
  placeholder: 'Select Option'
  className: 'js-variant none'
  required: true
  attributes: 'data-option-main'
%}
