<form class='newsletter-form rel form--newsletter pb-2 pt-4 mb-2' data-component='newsletterForm' data-list-id='{{ section.settings.list_id }}'>

  <div class='block newsletter__message'>
    <p class='c-dark-gray caps fs-16 plaid-l ls--5'>Thank you!</p>
  </div>

  <div class='f x newsletter__body'>

    <input type='email' name='email' class='fa c-dark-gray caps fs-16 plaid-l ls--5 newsletter-email' spellcheck='false' autocomplete='off' autocapitalize='off' required placeholder='{{ placeholder | default: 'Your Email' }}' />
    <button class='newsletter-button' type='submit'>
      {% include 'arrow-dark' %}
    </button>
  </div>

</form>

<div class='block'>
  <p class='fs-12 lh-12 c-dark-gray o-4'>{{ section.settings.caption }}</p>
</div>
