<div class='overlay fix x y fill z12 js-page-overlay bg-light-beige'>
  <div class='overlay-bg abs fill x y'>
  </div>

  <div class='overlay-content abs fill x y f aic jcc js-overlay-content'>
    {% comment %}
    <img src="{{ 'logo.svg' | asset_url }}" />
    {% endcomment %}
  </div>
</div>
