<div class='product-big-image pt-8 pb-8'>

  <div class='lg--outer'>
    <div class='container mxa'>
      <div class='rel product-big-image-container image'>
        <img src='{{ product.metafields.accentuate.image }}' class='x abs fill y' />
      </div>
    </div>
  </div>

</div>
