{%
  if product.url != "/products/hao-yun-rectangle-platter" and
    product.url != "/products/10-000-abilities-wan-neng-always-pan" and
    product.url != "/products/yong-li-eternal-strength-cleaver" and
    product.url != "/products/threes-a-cloud-%E5%A5%BD%E4%BA%91-platter" and
    product.url != "/products/erika-mezcal-glasses" and
    product.url != "/products/maria-bowl" and
    product.url != "/products/agustina-table-runner" and
    product.url != "/products/bundle" and
    product.url != "/products/the-nochebuena-set" and
    product.url != "/products/year-of-the-rat-bundle"
%}
  <div class=''>
    <div
      class="yotpo bottomLine"
      data-reviews=''
      data-product-id="{{ product.id }}"
      data-component='productReviewsHeader'
    >
      {%- assign yotpo_offload_content = shop.metafields.yotpo.yotpo_offload_content %}
      {%- assign time_now = 'now' | date: '%s' %}
      {%- assign yotpo_live_time = shop.metafields.yotpo.yotpo_live | date: '%s' %}
      {%- assign diff_seconds_from_live = time_now | minus: yotpo_live_time %}
      {%- assign yotpo_bottomline_last_updated = product.metafields.yotpo.bottomline_update_time | date: '%s' %}
      {%- assign diff_seconds_from_last_bottomline_update = time_now | minus: yotpo_bottomline_last_updated %}
      {%- if
        yotpo_live_time and
        diff_seconds_from_live < 86400 and
        yotpo_bottomline_last_updated and
        diff_seconds_from_last_bottomline_update < 86400
      -%}
        {%- assign yotpo_bottomline_obsolete = false %}
      {%- else %}
        {%- assign yotpo_bottomline_obsolete = true %}
      {%- endif %}
      {%- if
        yotpo_offload_content == 'yes' and
        yotpo_bottomline_obsolete != true
      -%}
        {{ product.metafields.yotpo.bottomline }}
      {%- endif %}
    </div>
  </div>
{% endif %}
