{% assign size = product.metafields.accentuate.callout_title | size %}

<style>

.product-{{ product.id }}.product-callout {
  background-image: url({{ product.metafields.accentuate.callout_image_mobile }});
  background-position: center bottom;
}

@media only screen and (min-width: 750px) {
  .product-{{ product.id }}.product-callout {
    background-image: url({{ product.metafields.accentuate.callout_image }});
    background-position: right;
  }
}

</style>

{% if size > 0 %}
  <div class='product-{{ product.id }} product-callout bg-image bg-dark-beige lg--pt-40 lg--pb-40 sm--pt-8 sm--pb-52' style='' data-aos='fade-in'>

    <div class='outer'>
      <div class='container mxa'>
        <div class='x f fw aic sm--jcc'>
          <div class='lg--one-third sm--ten-twelfths ac pr-4 pl-4' data-aos='fade-in'>
            <h2 class='cheltenham-x ls--10 lh-10 lg--fs-72 sm--fs-40 c-gray mb-4 product-callout-title'>{{ product.metafields.accentuate.callout_title }}</h2>
            <div class='callout_body'>
              {{ product.metafields.accentuate.callout_body }}
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endif %}
