{% assign image_fit = "cover" %}
{% assign bg_color = "#F7F3EB" %}
{%
  if product.url == "/products/always-essential-cooking-pan"
  or product.url == "/products/the-drinking-glass"
  or product.url == "/products/the-main-plate"
  or product.url == "/products/the-side-bowl"
%}
  {% assign image_fit = "contain" %}
{% endif %}

<div class='product-item' data-component='productItem'>

  <div class='block x mb-3'>



    {% if product.variants.size > 1 %}
      <div class='product-slider rel'>
        <div class='js-product-slider product-slider--item abs fill top left right bottom'>
          {% for variant in product.variants %}
            <a href='{{ variant.url }}' class='block product-slide rel image'>
              {% if product.handle contains 'gift-card' %}
              	<img src='{{ product.images.last | img_url: "master" }}' loading='lazy' class='x y block abs fill z1' />
              {% else %}
              	<img style="object-fit: {{ image_fit }}; background-color: {{ bg_color }};" src='{{ variant.image | img_url: "master" }}' loading='lazy' class='x y block abs fill z1' />
              {% endif %}

              <img style="object-fit: {{ image_fit }}; background-color: {{ bg_color }};" src='{{ product.images[1] | img_url: "2000x" }}' loading='lazy' class='x y block abs fill image-hover z2' />
            </a>
          {% endfor %}
        </div>
      </div>
    {% else %}
      <div class='product-slider {% if product_type == "bundle" or product_type == "nb" or product_type == "lny-bundle" %} product-slider--bigger {% endif %} rel'>

        {% if product.tags contains 'Nochebuena' %}
        <div class='p-2 abs top right z3'>
          <img src='{{ "badge.svg" | asset_url }}' />
        </div>
        {% elsif product.tags contains 'LNY' %}
        <div class='p-2 abs top right z3'>
          {% include 'badge' %}
        </div>
        {% endif %}

        <div class='abs fill top'>
          <a href='{{ product.url }}' class='block rel image x y'>

            {% if product_type == 'bundle' %}
              <img src='{{ product.metafields.accentuate.clp_image }}' loading='lazy' class='x y block abs fill z1' />
              <img src='{{ product.metafields.accentuate.clp_image_hover }}' loading='lazy' class='x y block abs fill image-hover z2' />
            {% else %}
              <img src='{{ product.featured_image | img_url: "2000x" }}' loading='lazy' class='x y block abs fill z1' />
              <img src='{{ product.featured_image | img_url: "2000x" }}' loading='lazy' class='x y block abs fill image-hover z2' />
            {% endif %}

            {% if product.compare_at_price != blank %}
            {% assign comparePrice = product.compare_at_price_max | minus: product.price %}
            {% else %}
            {% assign comparePrice = '' %}
            {% endif %}

            {% if comparePrice != blank %}
            <div class='abs top right p-4 z3'>
              <div class='pt-2 pb-2 pr-2 pl-2 bg-white button c-dark-gray caps fs-10 lh-10 plaid-l ls--2'>
                <span>Save {{ comparePrice | money_without_trailing_zeros }}</span>
              </div>
            </div>
            {% endif %}
          </a>
        </div>
      </div>
    {% endif %}

  </div>

  <div class='product-{{ product.handle }}'>

    <div class='sm--one-whole' onclick='window.location="{{ product.url }}"'>

      <div class='x f jcb mb-2'>
        <a href='{{ product.url }}' class='plaid-l ls--5 lg--fs-14 sm--fs-12 lg--lh-15 sm--lh-12 c-gray'>{{ product.title }}</a>
        <div class='lg--fs-14 sm--fs-12 lg--lh-15 sm--lh-12 ls-1 c-greenish sm--hide'>
          {% if product.compare_at_price_max > 0 %}
            <span class='compare-at o-5 strikethrough pr-3'>{{ product.compare_at_price_max | money_without_trailing_zeros }}</span>
          {% endif %}

          {% if product.price_varies %}
              <span>{{ product.price_min | money_without_trailing_zeros }} - {{ product.price_max | money_without_trailing_zeros }}</span>
            {% else %}
              <span>{{ product.price | money_without_trailing_zeros }}</span>
            {% endif %}

        </div>
      </div>

      {% if show_subtitle and product.metafields.accentuate.Subtitle != blank %}
        <div class='block lg--fs-14 sm--fs-12 lg--lh-15 sm--lh-12 ls-1 c-greenish f aic sm--hide'>
          <span class=''>{{ product.metafields.accentuate.Subtitle }}</span>
        </div>
      {% endif %}

      <div class='block lg--fs-14 sm--fs-12 lg--lh-15 sm--lh-12 ls-1 c-greenish mb-4 f aic sm--hide'>
        {% if product.metafields.accentuate.subtitle_new != blank %}
        <span class=''>{{ product.metafields.accentuate.subtitle_new }}</span>
        {% endif %}
      </div>

      <div class='block lg--hide'>
        <div class='f'>
          <div class='fs-13 ls--2 plaid c-dark-green'>
            {% if product.compare_at_price_max > 0 %}
              <span class='compare-at o-5 strikethrough pr-1'>{{ product.compare_at_price_max | money_without_trailing_zeros }}</span>
            {% endif %}

            {% if price.varies %}
              <span>{{ product.price_min | money_without_trailing_zeros }} - {{ product.price_max | money_without_trailing_zeros }}</span>
            {% else %}
              <span>{{ product.price | money_without_trailing_zeros }}</span>
            {% endif %}

          </div>

          {% if show_subtitle != true %}
            {% if product.collections.size >  0 %}
              <div class='fs-13 ls--2 plaid c-dark-green mb-2'>
                {% if product.metafields.accentuate.subtitle_new != blank %}
                <span class=''>&nbsp;-&nbsp;{{ product.metafields.accentuate.subtitle_new }}</span>
                {% endif %}
              </div>
            {% endif %}
          {% endif %}
        </div>

        {% if show_subtitle == true %}
          {% if product.collections.size >  0 %}
            <div class='fs-13 ls--2 plaid c-dark-green mb-2'>
              {% if product.metafields.accentuate.subtitle_new != blank %}
              <span class=''>{{ product.metafields.accentuate.Subtitle }}&nbsp;-&nbsp;{{ product.metafields.accentuate.subtitle_new }}</span>
              {% endif %}
            </div>
          {% endif %}
        {% endif %}
      </div>

      {% if product.variants.size > 1 %}
        <div class='lg--hide'>
          <span class='block fs-12 lh-12 ls-1 c-v-light-green'>{{ product.variants.size }} colors available</span>
        </div>
      {% else %}
        <span class='block fs-12 lh-12 ls-1 c-v-light-green' style='display: none'>Multiple options available</span>
      {% endif %}
    </div>

    {% if product.variants.size > 1 %}
      <div class='sm--hide {% if product.template_suffix == "gc" %}lg--hide{% endif %}'>
        <div class='f opts'>
          {% for variant in product.variants %}
            <div class='bg-{{ variant.title | handleize }} rel js-product-image-nav product-image-nav {% if forloop.first %}active{% endif %}' data-index='{{ forloop.index0 }}'>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

  </div>

</div>
