{% assign size = product.metafields.accentuate.press_logo | size %}

{% if size > 0 %}
  <section class="press-container" data-component='pressSlider'>
    <div class="press-subtitle">
      In the Press
    </div>
    <div class="press-quotes-container js-press-quotes-container">
      {% for quote in product.metafields.accentuate.press_quote %}
        <div class="press-title lg--fs-40 sm--fs-34 lh-10 lg--ls--10 sm--ls--5 cheltenham">
          "{{ quote }}"
        </div>
      {% endfor %}
    </div>
    <div class="press-logos-container js-press-logos-container">
      {% for logo in product.metafields.accentuate.press_logo %}
        <div class="press-logo-container">
          <img
            class="press-logo-image"
            src="{{ logo }}">
        </div>
      {% endfor %}
    </div>
  </section>
{% endif %}
