{% assign size = product.metafields.accentuate.value_prop_title | size %}

{% if size > 0 %}
  <section class="value-props-section">
    <div class="value-props-container">
      {% for value_prop_title in product.metafields.accentuate.value_prop_title %}
        {% assign icon = product.metafields.accentuate.value_prop_icon[forloop.index0]%}
        <div class="value-prop-container">
          <div class="value-prop-icon-container">
            {% if icon != blank %}
              <img
                class="value-prop-icon-image"
                src="{{ icon }}">
            {% endif %}
          </div>
          <div class="value-prop-title-container">
            {{ value_prop_title }}
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
{% endif %}

