<div class='f fw image-thumbnails-container sm--hide fdc lg--pt-10'>
  {% assign j = 0 %}

  {% for image in product.images %}

    {% if image.attached_to_variant? %}
      {% assign j = 0 %}
      {% for variant in image.variants %}
        {% if forloop.first %}
          {% assign variant_id = variant.id %}
        {% endif %}
      {% endfor %}
    {% elsif variant_id == blank %}
      {% assign variant_id = current_variant.id %}
    {% endif %}

    <div
      class='image-thumbnail variant-item {% if variant_id != blank %} variant-item--{{ variant_id }} {% endif %} {% if j == 0 %}{% if current_variant.id == variant_id or product.variants.size == 1 %}active{% endif %}{% endif %}'
      {% if current_variant.id == variant_id or product.variants.size == 1 %}style='display: block;'{% else %}style='display:none;'{% endif %}
      data-index='{{ j }}'>
      <img class='fit' src='{{ image.src | img_url: '150x150' }}' data-src='{{ image.src | img_url: '150x150' }}' alt='{{ image.alt | escape }}' />
    </div>
    {% assign j = j | plus: 1 %}
  {% endfor %}
</div>
