{% assign size = product.metafields.accentuate.vimeo_id | size %}

{% if size > 0 %}
<div class='product-video sm--pt-6 sm--pb-10 lg--pt-16 lg--pb-16 outer'  data-component='video'>

  {% assign min = 100 %}
  {% assign max = 999 %}
  {% assign diff = max | minus: min %}
  {% assign id = "now" | date: "%N" | modulo: diff | plus: min %}

  <div class='container rel mxa'>
    <div class='pdp-video'>
      <div class='pdp-embed-container z3'>
        <div id='{{ id }}' class='js-video x pdp-video--hidden transition' data-id='{{ product.metafields.accentuate.vimeo_id }}'></div>
        <div class='abs fill x y bg-image z-1' style='background-image: url({{ product.metafields.accentuate.placeholder_image }});'></div>
      </div>
    </div>
  </div>
</div>
{% endif %}
