<div class='block z3 product-other'>
  <div class='block overflow-x--hidden'>
    <div class='x outer'>
      <div class='container mxa lg--pt-8 sm--pt-8 pb-8 border-top--lighter-beige'>

        <div class='mb-8 ac'>
          <span class='plaid fs-12 ls-20 caps c-gray block mb-2'>{{ product.metafields.accentuate.other_subtitle }}</span>
          <h3 class='lg--fs-40 sm--fs-34 lh-10 lg--ls--10 sm--ls--5 cheltenham'>{{ product.metafields.accentuate.other_title }}</h3>
        </div>

        {% comment %}
        <div class='block ac lg--one-half ma'>
          <h2 class='cheltenham-x lh-10 ls--10 lg--fs-72 sm--fs-40'>{{ product.metafields.accentuate.other_products_title }}</h2>
        </div>
        {% endcomment %}

        <div class='f fw grid'>

          {% if product.metafields.accentuate.other_products.size > 0 %}
            {% assign coll = product.metafields.accentuate.other_products %}
          {% else %}
            {% assign coll = 'always-pan-related-products' %}
          {% endif %}

          {% if product.template_suffix == 'gc' %}
          	{% assign lim = 16 %}
          {% else %}
	          {% assign lim = 4 %}
          {% endif %}

          {% for product in collections[coll].products | limit: lim %}

            <div class='lg--one-quarter sm--one-half grid__item mb-8'>
              {% include 'product-item' with show_subtitle: true %}
            </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</div>
