<div class='product-options-wrapper rel product-{{ product.handle }}'>
  {% unless product.has_only_default_variant %}
    {% comment %}
      <div class='py1'>
        <h6 class='c-green'><em>use selects</em></h6>
        {% for option in product.options_with_values %}
          <div class='py05'>
            {%- capture options -%}
              {% for value in option.values %}
                <option value='{{ value | escape }}'
                  {% if option.selected_value == value %}selected{% endif %}>
                  {{ value }}
                </option>
              {% endfor %}
            {%- endcapture -%}
            {%- capture attributes -%}
              data-option-select
              data-index='{{ forloop.index0 }}'
            {%- endcapture -%}
            {%
              include 'component-select' with
              label: option.name,
              name: option.name,
              attributes: attributes
              options: options
            %}
          </div>
        {% endfor %}
      </div>
    {% endcomment %}

      <div class='product-options-inner'>
        {% for option in product.options_with_values %}
          <div class='py05'>
            <div class='pr-4 f aic plaid-l ls--5 fs-12 lh-17 caps prodbar-label' style='display: none'>
              <label class='pr-2 c-dark-gray'>{{ option.name }}</label>
              <span class='js-option c-gray'>{{ option.selected_value }}</span>
            </div>
            <div class='radio-group f aic' data-option-radio data-index={{ forloop.index0 }}>
              {% assign is_current_value = false %}
              {% for value in option.values %}

              {% assign is_disabled = false %}

              {% for variant in product.variants %}
                {% if variant.option1 == value %}
                  {% if variant.inventory_quantity < 2 %}
                    {% assign is_disabled = true %}
                    {% break %}
                  {% endif %}
                {% endif %}
              {% endfor %}

                {% comment %}<div {% if is_disabled %}style='pointer-events:none; opacity: 0.1;'{% endif %}>{% endcomment %}
                <div class='radio-gc'>
                  {% if option.selected_value == value %}
                    {% assign is_current_value = true %}
                  {% else %}
                    {% assign is_current_value = false %}
                  {% endif %}

                  {%
                    include 'component-radio-gc' with
                    label: value,
                    value: value,
                    name: option.name,
                    checked: is_current_value
                  %}
                </div>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    {% endunless %}

  {%- capture options -%}
    {% for variant in product.variants %}
      <option value='{{ variant.id }}'
        {% if variant == product.selected_or_first_available_variant and variant.inventory_quantity > 0 or product.variants.size == 1 %}selected{% endif %}
        {% unless variant.available %}disabled{% endunless %}>{{ variant.title }}</option>
    {% endfor %}
  {%- endcapture -%}

  {%
    include 'component-select' with
    name: 'id'
    options: options
    placeholder: 'Select Option'
    className: 'js-variant none'
    required: true
    attributes: 'data-option-main'
  %}
</div>
