{% assign size = product.metafields.accentuate.item_image | size %}

{% if size > 0 %}
<div class='product-items bg-light-beige z3 overflow--hidden' data-component='productItems'>

  <div class='outer'>
    <div class='container mxa lg--pt-8 sm--pt-8 pb-8 border-top--lighter-beige'>

      <div class='mb-8 ac'>
        <span class='plaid fs-12 ls-20 caps c-gray block mb-2'>{{ product.metafields.accentuate.items_subtitle }}</span>
        <h3 class='lg--fs-40 sm--fs-34 lh-10 lg--ls--10 sm--ls--5 cheltenham'>{{ product.metafields.accentuate.items_title }}</h3>
      </div>

      <div class='product-items-slider grid sm--hide'>

        {% for value in product.metafields.accentuate.item_image %}

        <div class='lg--one-third sm--two-thirds ac grid__item' data-aos='fade-in' data-aos-delay='{{ forloop.index | times: 100 }}'>

            <div class='product-item__image rel image rel image--bottom'>
              {% if product.metafields.accentuate.item_link[forloop.index0].size > 0 %}
              <a href='{{ product.metafields.accentuate.item_link[forloop.index0] }}' class='block'>
                <img src='{{ product.metafields.accentuate.item_image[forloop.index0] }}' class='abs fill x y' />
              </a>
              {% else %}
                <img src='{{ product.metafields.accentuate.item_image[forloop.index0] }}' class='abs fill x y' />
              {% endif %}

              <div class='x sm--pt-8 sm--pb-4 sm--pl-4 sm--pr-4 lg--p-8 abs bottom left right'>
                <h2 class='fa cheltenham-x ls--10 lg--fs-32 lg--ls--6 sm--fs-30 lh-10 lg--lh-13 sm--14 c-gray mb-2'>{{ product.metafields.accentuate.item_title[forloop.index0] }}</h2>
                <div class='callout_body'>
                  {{ product.metafields.accentuate.item_body[forloop.index0] }}
                </div>
              </div>
            </div>
        </div>

        {% endfor %}

      </div>

      <div class=' lg--hide'>
        <div class='js-items sm--two-thirds product-items-slider grid'>

          {% for value in product.metafields.accentuate.item_image %}

          <div class='one-whole ac grid__item' data-aos='fade-in' data-aos-delay='{{ forloop.index | times: 100 }}'>

              <div class='product-item__image rel image rel'>
                {% if product.metafields.accentuate.item_link[forloop.index0].size > 0 %}
                <a href='{{ product.metafields.accentuate.item_link[forloop.index0] }}' class='block'>
                  <img src='{{ product.metafields.accentuate.item_image[forloop.index0] }}' class='abs fill x y' />
                </a>
                {% else %}
                  <img src='{{ product.metafields.accentuate.item_image[forloop.index0] }}' class='abs fill x y' />
                {% endif %}

                <div class='x sm--pt-8 sm--pb-4 sm--pl-4 sm--pr-4 lg--p-8 abs bottom left right y f fdc'>
                  <h2 class='fa cheltenham-x ls--10 lg--fs-32 lg--ls--6 sm--fs-30 lh-10 lg--lh-13 sm--14 c-gray mb-2'>{{ product.metafields.accentuate.item_title[forloop.index0] }}</h2>
                  <div class='callout_body'>
                    {{ product.metafields.accentuate.item_body[forloop.index0] }}
                  </div>
                </div>
              </div>
          </div>

          {% endfor %}

        </div>
      </div>

    </div>
  </div>

</div>
{% endif %}
