{% assign size = product.metafields.accentuate.content_title | size %}


{% if size > 0 %}
<div class='product-content-section lg--pt-10 lg--pb-10 sm--pb-10'>

  <div class='outer'>
    <div class='container mxa'>

      <div class='block x lg--mb-16 sm--mb-6' data-aos='fade-in'>
        <div class='lg--one-half product-content-title-container sm--seven-twelfths ma block ac'>
          <h3 class='cheltenham-x lg--fs-72 sm--fs-40 lh-10 lg--ls--10'>{{ product.metafields.accentuate.content_title }}</h3>
        </div>
      </div>

      <div class='block x lg--mb-15 sm--mb-6'>
        <div class='lg--eleven-twelfths sm--one-whole ma block'>
          <div class='x f'>
            <div class='lg--two-thirds sm--one-whole' data-aos='fade-in' data-aos-delay='100'>
              <div class='lg--pr-16'>
                {% if product.metafields.accentuate.content_image_1 != blank %}
                <img src='{{ product.metafields.accentuate.content_image_1 }}' />
                {% endif %}
              </div>
            </div>
            <div class='lg--one-third sm--hide' data-aos='fade-in' data-aos-delay='300'>
              <div class='pt-40'>
                {% if product.metafields.accentuate.content_image_2 != blank %}
                <img src='{{ product.metafields.accentuate.content_image_2 }}' />
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class='block x' data-aos='fade-in' data-aos-delay='100'>
        <div class='lg--two-thirds product-content-container ma block'>
          <div class='mb-4 plaid-l ls--5 product-intro'>
            {{ product.metafields.accentuate.intro }}
          </div>
          <div class='product-content'>
            {{ product.metafields.accentuate.content }}
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
{% endif %}
