{% assign size = product.metafields.accentuate.desktop_infographic_title | size %}

{% if size > 0 %}
  <section class="product-infographic-section">
    <div class="desktop-infographic-container sm--hide">
      <div
        class="desktop-infographic-image"
        style="background-image: url({{ product.metafields.accentuate.infographic_desktop_image }})"
      >
        <div class="product-infographic-title lg--fs-40 sm--fs-34 lh-10 lg--ls--10 sm--ls--5 cheltenham">
          {{ product.metafields.accentuate.infographic_title }}
        </div>
        <div class="product-infographic-subtitle">
          {{ product.metafields.accentuate.infographic_subtitle }}
        </div>
        <div class="infographic-items-container">
          {% for infographic_item in product.metafields.accentuate.desktop_infographic_title %}
            <div
              class="infographic-item-container"
              data-marker-id="#info-marker-{{ forloop.index0 }}"
              style="{% if forloop.last == true %}grid-row: 3;{% endif %}"
            >
              <div class="infographic-item-title">
                {{ infographic_item }}
              </div>
              <div class="infographic-item-description">
                {{ product.metafields.accentuate.desktop_infographic_desc[forloop.index0] }}
              </div>
              <div
                id="info-marker-{{ forloop.index0 }}"
                class="infographic-marker"
                style="top: {{ product.metafields.accentuate.desktop_infographic_y_position[forloop.index0] }}%; left: {{product.metafields.accentuate.desktop_infographic_x_position[forloop.index0] }}%;"
              ></div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="mobile-infographic-container lg--hide" data-component='infographic'>
      <div class="mobile-infographic-title-container">
        <div class="product-infographic-title lg--fs-40 sm--fs-34 lh-10 lg--ls--10 sm--ls--5 cheltenham">
          {{ product.metafields.accentuate.infographic_title }}
        </div>
        <div class="product-infographic-subtitle">
          {{ product.metafields.accentuate.infographic_subtitle }}
        </div>
      </div>
      <div class="infographic-image-slider-container">
        <div class="infographic-image-slider">
          {% for image in product.metafields.accentuate.mobile_infographic_image %}
            <div class="infographic-image-slide" data-marker-y-position="{{ product.metafields.accentuate.mobile_infographic_y_position[forloop.index0] }}%" data-marker-x-position="{{ product.metafields.accentuate.mobile_infographic_x_position[forloop.index0] }}%">
              <img src="{{ image }}"/>
            </div>
          {% endfor %}
        </div>
        <div
          class="infographic-marker mobile-infographic-marker"
          style="top: {{ product.metafields.accentuate.mobile_infographic_y_position[0] }}%; left: {{product.metafields.accentuate.mobile_infographic_x_position[0] }}%;"
        ></div>
      </div>
      <div class="infographic-item-slider">
        <div class="infographic-item-slider-container">
          {% for title in product.metafields.accentuate.mobile_infographic_title %}
            <div class="infographic-item-slide">
              <div class="infographic-item-title">
                {{ title }}
              </div>
              <div class="infographic-item-description">
                {{ product.metafields.accentuate.mobile_infographic_desc[forloop.index0] }}
              </div>
            </div>
          {% endfor %}
        </div>
        <div class='slick-arrow infographic-next'>
          {% include 'slick-arrow-next' %}
        </div>
        <div class='slick-arrow infographic-prev'>
          {% include 'slick-arrow-prev' %}
        </div>
      </div>
    </div>
  </section>
{% endif %}
