<svg width="9px" height="14px" viewBox="0 0 9 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style='display: block !important;'>
    <g id="All-Pages" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="PDP-Copy" transform="translate(-355.000000, -278.000000)" fill="#35312E" fill-rule="nonzero">
            <g id="arrow" transform="translate(359.500000, 285.000000) scale(-1, 1) translate(-359.500000, -285.000000) translate(355.000000, 278.000000)">
                <path d="M6.01578947,13.4633333 C6.34736842,13.79 6.77368421,13.9533333 7.2,13.9533333 C7.62631579,13.9533333 8.05263158,13.79 8.38421053,13.4633333 C9.02368421,12.8333333 9.02368421,11.7833333 8.38421053,11.1533333 L4.14473684,7 L8.36052632,2.84666667 C9,2.21666667 9,1.16666667 8.36052632,0.536666667 C7.72105263,-0.0933333333 6.65526316,-0.0933333333 6.01578947,0.536666667 L0.639473684,5.85666667 C-1.09079412e-14,6.48666667 -1.09079412e-14,7.53666667 0.639473684,8.16666667 L6.01578947,13.4633333 Z" id="Path"></path>
            </g>
        </g>
    </g>
</svg>
