.cart-quantity {
  cursor: pointer;
}

.cart-drawer-outer {
  display: none;
  z-index: 999999;
  overflow: hidden;

  &.is-active {
    display: block;
  }
  &.is-visible {
    .cart-drawer {
      transform: translateX(0);
    }
    .cart-drawer-overlay {
      opacity: 0.8;
    }
  }
}
.cart-drawer-overlay {
  opacity: 0;
  transition: all 0.3s;
  background-color: #9C9074;
}
.cart-drawer {
  max-width: 95%;
  width: 500px;
  transition: all 0.3s;
  /* transform: translateX(100%); */
  flex-direction: column;
  box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.33);
  transform: translateX(110%);
  /* padding-bottom: 160px; */


  header {
    border-bottom: 1px solid var(--light-brown);
    /* height: 75px; */

    /* @media (--m) {
      height: 100px;
    } */

    button {
      height: 30px;
      width: 30px;

      &:focus {
        outline: 1px dashed var(--gray);
      }

      svg {
        height: 15px;
        width: 15px;
      }
    }
  }
}

.cart-drawer__inner {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.cart-drawer__items {
  overflow: auto;
  /* padding-top: 75px; */

  /* @media (--m) {
    padding-top: 100px;
  } */

  svg.loader {
    width: 100px;
    height: 100px;
    animation-duration: 1.5s;
    animation-name: pulse;
    animation-iteration-count: infinite;
  }
}

.cart-drawer__item-image {
  /* width: 150px; */
  flex: 0 0 115px;

  img {
    display: block;
    margin: auto;
  }
}

.cart-drawer__item {
  padding: 2em 0 1.5em;
  border-top: 1px solid var(--light-brown);

  &:first-child {
    border-top: 0;
  }

  button {
    top: 1.5em;

    svg {
      width: 10px;
      height: 10px;
    }
  }
}
.cart-drawer__item__remove {
  top: 1.5em;

  svg {
    width: 10px;
    height: 10px;
  }
}

.cart-icon {
    background-color: var(--rust);
    border-radius: 50%;
    width: 27px;
    height: 27px;
    line-height: 27px;
    /* z-index: -1; */
    text-align: center;

    @media (--750) {
      width: 35px;
      height: 35px;
      line-height: 35px;
    }
}

.cart-drawer-toggle {
  cursor: pointer;
}

.bg--hidden {
  background: none !important;

  .cart-bg-image {
    display: none;
  }
}

.cart-selectors {
  > div, button {
    width: 26px;
    text-align: center;
  }

  /* > div {
    height: 0;
    padding-top: 100%;
    width: 100%;
  } */
}

.cart-bg-image {
  position: absolute;
  z-index: -1;

  img {
    max-width: 100%;
  }

  @media (--750) {
    display: block;
  }
}

.cart-bg-image-1 {
  width: 25%;
  transform: rotate(-4deg);
  left: 40px;
  top: 30vh;
}

.cart-bg-image-2 {
  width: 25%;
  /* transform: rotate(4deg); */
  right: 30px;
  top: 40vh;
}

.cart-bg-image-3 {
  width: 40%;
  transform: rotate(6deg);
  left: 60px;
  top: 55vh;
}

.cart-drawer--bottom {
  &:after {
    content: '';
    /* background-color: var(--beige); */
    background: linear-gradient(to bottom, rgba(255,255,255,0), var(--beige), var(--beige));
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    height: 50px;
    width: 100%;
  }
}

.cart-drawer--open {
  height: 100vh;
  overflow-y: hidden;

  @media (--750) {
    padding-right: 15px;

    #header {
      padding-right: 15px;
      transition: none;
    }
  }
}

.button--reset {
  background-color: transparent;
  outline: none;
}

.cart-drawer {
  .affirm-as-low-as {
    /* bottom: 65px; */
  }
}

.cart-drawer__items {
  min-height: 125px;
}
