.slater-footer {
}
.slater-footer__inner {
  border-top: 2px solid var(--black);
  height: 65px;
  @media (--600) {
    height: 80px;
  }
}

.instagram {
  /* .flickity-button {
    display: none;
  } */
}

.footer__credits {
  transform: translateY(100%);
  transition: all 0.3s;
  opacity: 0;
  z-index: 10;

  &.active {
    opacity: 1;
    transform: translateY(0);
  }
}

 .footer__credits--cover {
   position: fixed;
   z-index: 5;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   width: 100%;
   height: 100%;
   display: none;

   &.active {
     display: block;
   }
 }

.footer__form {
  input {
    &:focus {
      &::-webkit-input-placeholder {
         color: transparent;
      }
      &:-moz-placeholder { /* Firefox 18- */
         color: transparent;
      }

      &::-moz-placeholder {  /* Firefox 19+ */
         color: transparent;
      }

      &:-ms-input-placeholder {
         color: transparent;
      }
    }
  }
}

.instagram__inner--icon {
  opacity: 0;
  transition: all 0.3s;
}

.instagram__inner {
  &:before {
    content: '';
    transition: all 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 10;
    opacity: 0;
  }

  &:hover {
    &:before {
      opacity: 1;
    }

    .instagram__inner--icon {
      opacity: 1;
    }
  }
}
