.slater-header {
  transition: top 0.3s linear;
  /* padding-top: 22px;
  padding-bottom: 22px; */
  top: 0;
  /* background-color: transparent; */
  /* background-color: rgba(245, 241, 233, 0); */

  /* &:before {
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    visibility: hidden;
    background-color: rgba(245, 241, 233, 1);
    z-index: -10000;
    transition: all 0.3s;
    transition-delay: 0.3s;
  } */
}

.slater-header--top {
  /* border-bottom: 1px solid var(--super-light-gray); */
}

.header--trigger {
  float: none;

  @media (--750) {
    float: left;

  }
}

.slater-header--bottom {
  background-color: var(--light-beige);
}

.promo-bar {
  transition: all 0.3s;
  top: -80px;
  min-height: 40px;
}

.has-promo-bar {
  .slater-header {
    top: 40px;

    @media (--750) {
      top: 40px;
    }
  }
  .promo-bar {
    top: 0;
  }
}

.header-bg {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  /* visibility: hidden; */
  background-color: var(--light-beige);
  border-bottom: 1px solid var(--super-light-gray);
  /* z-index: -10000; */
  opacity: 0;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: all 0.3s;
  /* transition-delay: 1s; */
}

/* .header--open {
  .header-bg {
    display: block;
  }
} */

/*
.slater-header__inner {
  border-bottom: 2px solid var(--black);
  height: 65px;
  @media (--600) {
    height: 80px;
  }
} */

/**
 * a placeholder element to "naturally" fill the space
 * beneath a fixed nav
 */
/* .slater-header__spacer {
  height: 65px;
  @media (--600) {
    height: 80px;
  }
} */



.logo {
  img {
    height: 30px;

    @media (--750) {
      height: 32px;
    }
  }
}

.logo--light, .hamburger--light {
  display: none;
}

.nav {
  color: var(--gray);
}


/* .template-index, .template-faqs, .template-nb {
  .logo--dark, .hamburger--dark {
    display: none;
  }
  .logo--light, .hamburger--light {
    display: block;
  }

  .nav {
    color: var(--beige);
  }
} */

.header--bg, .header-dropdown--bg--open, .header--bg--hover {

  .header-bg {
    opacity: 1;
    transition-delay: 0s;
  }
  /* background-color: var(--beige);

  &:after {
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: var(--light-brown);
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
  } */
}

.header--open, .header-dropdown--open, .header--hover {
  .slater-header {
    /* background-color: rgba(245, 241, 233, 1); */

    &:before {
      /* content: ''; */
      /* z-index: 0; */
      /* background-color: rgba(245, 241, 233, 1); */
      /* visibility: visible; */
      /* transition-delay: 0s; */
      /* display: block; */
    }
  }

  .logo--dark, .hamburger--dark {
    display: block;
  }
  .logo--light, .hamburger--light {
    display: none;
  }

  .nav {
    color: var(--gray);
  }
}

.hamburger {
  button {
    width: 23px;
    background: none;
    outline: none;
    padding: 0;

    @media (--750) {
      width: 30px;
    }
  }

  img {
    max-width: 100%;
  }
}


.mm {
  opacity: 0;
  z-index: -100;
  transition: opacity 0.3s;
  transition-delay: 1s;
  visibility: hidden;
}

.mm-overlay {
  opacity: 0;
  background-color: #9c9074;
  transition: opacity 0.3s;
}

.mm-inner {
  transition: all 0.3s;
  transform: translateX(-110%);
  width: 90%;
  box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.33);
  overflow-y: scroll;
}

.mm--open {
  opacity: 1;
  z-index: 2500000;
  visibility: visible;
  transition: opacity 0.3s;
  transition-delay: 0s;

  .mm-inner {
    transform: translate(0);
  }

  .mm-overlay {
    opacity: 0.8;
  }
}

/* .header--bg {

} */

.header--hidden {
  .slater-header {
    top: -84px;
  }

  &.has-promo-bar {
    .slater-header {
      top: -44px;
    }
  }
}

.header-item {
  &:after {
    transition: all 0.3s;
    background-color: rgba(0, 0, 0, 0);
  }
  &:hover {
    &:after {
      content: '';
      height: 4px;
      background-color: rgba(170, 160, 152, 0.19);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

.menu-item-active {
  &:after {
    content: '';
    height: 4px;
    background-color: rgba(170, 160, 152, 0.19);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  /* &:after {
    content: '';
    position: absolute;
    bottom: -3px;
    width: 100%;
    left: 0;
    right: 0;
    height: 2px;
    background-color: var(--dark-green);
  } */

  /* &:before {
    content: '';
    width: 8px;
    height: 8px;
    background-color: var(--rust);
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
  } */
}


.promo-bar {
  z-index: 5000;
  background-color: var(--light-green);

  .__remove {
    height: 25px;
    width: 25px;
    padding: 0;
    border-radius: 100px;
    background: transparent;
    /* border: 1px solid var(--dark-gray); */
    /* background: white; */
    transform: rotate(45deg);
    /* transition: all 200ms var(--cubic); */

    &:hover,
    &:focus {
      outline: 0;
      transform: rotate(45deg);
      background: transparent;
      /* background-color: var(--black); */
      &:before,
      &:after {
        /* background: white; */
      }
    }

    &::before,
    &::after {
      transition: all 200ms var(--cubic);
      content: '';
      display: block;
      position: absolute;
      top: 0; bottom: 0; left: 0; right: 0;
      height: 1px;
      width: 12px;
      background: var(--beige);
      margin: auto;
    }
    &::after {
      transform: rotate(90deg);
    }
  }

}

.arrow-cursor {
  width: 150px;
  height: 110px;
  position: fixed;
  left: -75px;
  top: -55px;
  z-index: 10000000;
  pointer-events: none;
  &__icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  &__path {
    fill: none;
    stroke: var(--beige);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.5px;
  }
}

.header-button {
  width: 250px;
  max-width: 95%;
}

/* @media only screen and (max-width: 750px)  {
  #1eec-5e90_ribbon_container {
    bottom: calc(15% - 57.5px);
  }
} */
