.slater-product {
  /* padding: 32px 0;
  @media (--750) {
    > div {
      width: 48%;
    }
  } */
}

.opts {
  > div {
    margin: 0 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;

    &:first-of-type {
      margin-left: 0;
    }
  }
}

.product__inner {
  /* max-width: 480px; */

  @media (--750) {
    max-width: 480px
  }
}

.rte {
  font-size: 14px;
  line-height: 1.38;
  color: var(--gray);
  /* border-bottom: 1px solid var(--light-brown); */

  @media (--750) {
    font-size: 14px;
    line-height: 1.56;
  }
}

.radio-group {
  > div {
    &:first-of-type {
      label {
        margin-left: 0;
      }
    }
  }

  label, .label {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    z-index: 1;

    @media (--750) {
      width: 30px;
      height: 30px;
    }

    &:after {
      content: '';
      z-index: 0;
      opacity: 0;
      transform-origin: center;
      transition: opacity 0.3s;
      border: 1px solid var(--gray);
      border-radius: 50%;
      position: absolute;
      top: -3px;
      left: -3px;
      bottom: -3px;
      right: -3px;
    }
  }

  input {
    &:checked {
      ~ label {
        &:after {
          opacity: 1;
        }
      }
    }
  }
}

.pdp-slide-nav {
  width: 10px;
  height: 10px;
  border: 2px solid var(--beige);
  border-radius: 50%;
  margin: 0 5px;

  &.is-selected {
    background-color: var(--beige);
  }
}

.pdp-slider-nav {
  outline: none;
}

.pdp-slider-nav-container {
  width: 150px;
  overflow: hidden;
  bottom: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  @media (--750) {
    display: none;
  }

  &:focus {

  }
}

@media (--750) {
  .pdp-slide {
    opacity: 1 !important;

    img {
      transition: all 0.3s;
    }

    &.is-selected {
      z-index: 10;
    }
  }

  .pdp-slider {
    overflow: hidden;

        /* .pdp-slide {

          &:nth-of-type(4n+1) {
            img {

            }
          }

          &:nth-of-type(4n+2) {
            img {
              transform: translate(12px, 12px) rotate(0.2deg);

            }
          }

          &:nth-of-type(4n+3) {
            img {
              transform: translate(-12px, -12px)  rotate(-0.3deg);
            }
          }

          &:nth-of-type(4n) {
            img {
              transform: translate(-22px, 0) rotate(0.4deg);
            }
          }

        } */

    }

}

@keyframes slide1 {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-25px, 25px);
  }
}

@keyframes slide2 {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-20px, -20px);
  }
}

@keyframes slide3 {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(15px, 15px);
  }
}

@keyframes slide4 {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(10px, -10px);
  }
}

@keyframes slide5 {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-5px, 5px);
  }
}

.callout_body {
  p {
    font-size: 14px;
    line-height: 1.4;
    color: var(--darkest-gray);

    @media (--750) {
      font-size: 16px;
    }
  }
}

.product-item__image {
  height: 360px;
  width: 100%;

  @media (--500) {
    height: 340px;
  }

  @media (--750) {
    height: 580px;
  }
}

.product-intro {
  p {
    font-size: 16px;
    line-height: 1.36;

    @media (--750) {
      font-size: 24px;
    }
  }
}

.product-content {
  p {
    font-size: 14px;
    line-height: 1.36;
    margin-bottom: 20px;

    @media (--750) {
      font-size: 18px;
    }
  }
}

.product-dropdown {
  outline: none;
  border-top: 1px solid var(--light-brown);
  padding-left: 1.5em;
  padding-right: 1.5em;

  @media (--750) {
    padding-left: 0;
    padding-right: 0;
  }

  &:last-of-type {
    border-bottom: 1px solid var(--light-brown);
  }

  > div {
    &:last-of-type {
      /* border-top: 1px solid var(--light-brown); */
    }
  }

  &.open {
    .plus {
       > div {
         transform: translateX(-50%) rotate(45deg);
       }
    }

    /* .product-dropdown-content {
      opacity: 1;
    } */
  }
}

.accordion {
  margin-top: 20px;
  margin-left: -1.5em;
  margin-right: -1.5em;

  @media (--750) {
    margin-left: 0;
    margin-right: 0;
  }
}

/* .accordion {
  opacity: 0;

  &.edge-visible {
    opacity: 1 !important;
    transition-delay: 0.3s !important;
  }
} */

.plus, .minus {
  width: 10px;

  /* > div {
    transition: all 0.3s;
    left: 50%;
    transform-origin: center;
    transform: translateX(-50%);
  }

  svg {
    width: 10px;
  } */
}

.product-dropdown-content, .product-artisan-content {
  p {
    font-size: 14px;
    margin-bottom: 10px;

    @media (--750) {
      font-size: 16px;
      line-height: 1.5em;
    }
  }
}

.product-artisan-content {
  p {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid  rgba(170, 160, 152, 0.32);

    &:last-of-type {
      padding-bottom: 0;
      margin-bottom: 0;
      border: 0;
    }
  }
}

.radio-group {
  label, .label {
    &.bg-clear {
      border: 1px solid rgba(110, 99, 90, 0.3);
    }
  }
}

.product-image-nav {
  position: relative;
  cursor: pointer;

  &.bg-clear {
    border: 1px solid rgba(110, 99, 90, 0.3);
  }

  &.active {
    &:after {
      content: "";
      position: absolute;
      top: -3px;
      left: -3px;
      bottom: -3px;
      right: -3px;
      border: 1px solid #9e9e9e;
      border-radius: 50%;
    }
  }
}

.prodbar-title {
  display: none;
}

.prodbar-label {
  margin-bottom: 10px;
}

.header--open {
  .prodbar {
    &.active {
      top: 84px;
    }
  }

  &.has-promo-bar {
    .prodbar {
      &.active {
        top: 122px;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.product-options-inner {
  padding-bottom: 10px;
  padding-top: 10px;
}

.has-promo-bar {
  .prodbar {
    @media (--750) {
      &.active {
        top: 40px;
      }
    }
  }
}

.product-label {
  margin-bottom: 10px;
}

.prodbar {
  @media (--750) {
    &.active {
      opacity: 0;
      position: fixed;
      width: 100%;
      left: 0;
      right: 0;
      top: 0;
      z-index: 1100;
      background-color: var(--beige);
      padding-left: 1.5em;
      padding-right: 1.5em;
      transition: top 0.3s;
      border-bottom: 1px solid var(--light-brown);

      .prodbar-button {
        display: flex;

        /* .klaviyo-bis-trigger {
          margin: 0;
        } */

        > * {
          margin: 10px;
        }
      }

      .prodbar-label {
        margin-bottom: 0;
      }

      @media (--750) {
        padding-left: 3em;
        padding-right: 3em;
      }

      .product-options-wrapper {
        width: 100%;

        @media (--750) {
          width: auto;
        }
      }

      .product-options-inner {
        padding-top: 0;
        padding-bottom: 0;
        /* padding-bottom: 10px; */
      }


      .product-options-inner {
        > div {
          display: flex;
        }
      }


      form {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }

      .prodbar-title {
        display: block;
        flex: 1;
        width: 100%;
        padding-top: 10px;

        @media (--750) {
          width: auto;
          padding: 0;
        }
      }

      .accordion {
        display: none;
      }

      .prodbar-button {
        padding: 0;
        padding-bottom: 20px;
        width: 100%;

        @media (--750) {
            padding-bottom: 0;
            width: auto;
        }
      }

      .product-label {
        margin-bottom: 0;
      }

      .radio-group {
        @media (--750) {
          padding-right: 30px;
          border-right: 1px solid var(--light-brown);
          margin-right: 30px;
        }

        label, .label {
          height: 25px;
          width: 25px;
          font-size: 11px;
        }
      }

      .add-to-cart {
        padding: 10px;
      }

      .shipping-note {
        display: none;
      }
    }

    &.active2 {
      opacity: 0;
      transition: all 0.3s linear;
    }

    &.active3 {
      opacity: 1;
    }
  }
}

/* .product-items {
  > div {
    > div {

    }
  }
} */

.border-top--lighter-beige {
  @media (--750) {
    border-top: 1px solid var(--lighter-beige);
  }
}

.product-items-slider {
 /* height: 360px; */
 outline: none;

 /* &:after {
   content: 'flickity';
   display: none;
 } */

 @media (--750) {
   display: flex;
   height: 580px;

   &:after {
     content: '';
   }
 }

 .slick-list {
  overflow: visible;
 }
}

.product-items-slider--mobile {
  display: block;

  @media (--750) {
    display: none;
  }
}

.product-big-image-container {
  width: 100%;
  padding-top: 70%;
  height: 0;
}

.product-slider {

}

.flickity-button {
  display: none !important;
}

.pdp-embed-container {
  position: relative;
  padding-bottom: 100%;
  height: 0;
  overflow: hidden;
  /* max-width: 100%; */

  @media (--750) {
    padding-bottom: 56.25%;
  }
}
.pdp-embed-container iframe, .pdp-embed-container object, .pdp-embed-container embed {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  /* width: 100%; */
  height: 100%;
  width: 200%;

  @media (--750) {
    width: 100%;
    left: 0;
    transform: none;
  }
}

/* .close {
  position: relative;
  width: 20px;
  height: 20px;
  opacity: 0.3;
  transition: all 0.3s;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 8px;
  content: ' ';
  height: 21px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
} */

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.keywords, .keyword {
  outline: none;
}

.keyword {
  display: none;
  transition: all 0.3s;
  white-space: nowrap;

  &.active {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    display: inline;
  }
  /* height: 3px !important;
  margin-top: -5px;

  @media (--750) {
    height: 62px !important;
  } */
}

.add-to-cart {
  padding: 20px 40px;
}


.lds-ellipsis {
  display: none;
  /* display: inline-block; */
  position: relative;
  width: 64px;
  height: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #35312e;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

.pdp-video--hidden {
  opacity: 0;
}

.product-callout-title, .product-title {
  @media (--500) {
    font-size: 48px;
  }
}

.product-the-always-pan {
  .bg-spice {
    background-color: var(--pan-spice);
  }
}

.plus {
  display: block;
}

.minus {
  display: none;
}

.open {
  .plus {
    display: none;
  }
  .minus {
    display: block;
  }
}

.product-main {
  padding-top: 70px;
}

.has-promo-bar {
  .product-main {
    padding-top: 110px;
  }
}

@media (--750) {
  .product-main {
    padding-top: 120px;
  }

  .has-promo-bar {
    .product-main {
      padding-top: 160px;
    }
  }
}

.prodbar.active {
  .affirm-as-low-as {
    width: 250px;
    padding: 0 20px;
    font-size: 12px;
  }
}

.slater-product__info {
  > div {
    top: 160px;
    position: sticky;
  }
}

.product-other {
  overflow-x: hidden;
}

.pdp-video {
  height: 250px;
  width: 100%;
  position: relative;
  overflow: hidden;

  > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  @media (--800) {
    height: 600px;
  }
}

.product-description {
  ul, p {
    margin-bottom: 15px;
  }

  ul {
    list-style-type: disc;
    padding-left: 30px;

    li {
      margin-bottom: 5px;
    }
  }
}

/* .klaviyo-bis-trigger {
  &:not([style*="display: none;"]) {
    ~ .add-to-cart {
      display: none;
    }
  }
} */


.avg-score {
  display: none;
}

.bottom-line-items-container .reviews-qa-labels-container .reviews-qa-label {
  display: block;
  font-size: 32px !important;
  font-family: 'CheltBTBolExtCon' !important;
  margin: auto;
  color: #35312e !important;
}


.yotpo-label-container, .new-yotpo-small-box, .yotpo-reviews-filters, .reviews-amount, .write-question-review-button-icon, .yotpo-icon-profile, .yotpo-footer, .yotpo .yotpo-review .yotpo-header .yotpo-header-element .y-label.yotpo-user-title, .yotpo .write-question-button, .yotpo-no-reviews {
  display: none !important;
}

.yotpo .yotpo-review .yotpo-main, .yotpo .yotpo-comment .yotpo-main, .yotpo .yotpo-question .yotpo-main, .yotpo .yotpo-onsite-upload .yotpo-main {
  margin-left: 0 !important;
}

.yotpo .yotpo-comments-box {
  border-left: 1px solid #ebe3d4 !important;
}

.yotpo .yotpo-regular-box {
  border-top: 1px solid #ebe3d4 !important;
}

.yotpo div, .yotpo span, .yotpo p, .yotpo a, .yotpo img, .yotpo i, .yotpo strong, .yotpo sup, .yotpo ul, .yotpo li, .yotpo form, .yotpo label, .yotpo .primary-color-btn, .yotpo input[type="button"].primary-color-btn, .yotpo .form-group .form-element .y-input {
  font-family: 'Plaid-XS-Web' !important;
}

.yotpo.yotpo-main-widget .yotpo-icon-btn, .yotpo .primary-color-btn, .yotpo input[type="button"].primary-color-btn {
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  border-radius: 4px !important;
  color: #4f463f !important;
  background-color: #fff !important;
  border: 1px solid rgba(170,160,152,.29) !important;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.08) !important;
  height: auto !important;
  font-size: 12px !important;
  font-family: 'Plaid-XL-Web' !important;
  text-transform: uppercase !important;
}


.write-question-review-buttons-container .write-question-review-button .write-question-review-button-text {
  font-size: 12px !important;
  font-family: 'Plaid-XL-Web' !important;
  text-transform: uppercase !important;
}

.yotpo .yotpo-main .content-title {
  font-family: 'Plaid-XL-Web' !important;
  letter-spacing: -.5px !important;
  color: #35312e !important;
  margin-bottom: 10px !important;
}


@media only screen and (max-width: 960px) {
  .bottom-line-items {
    text-align: center !important;
  }

  .main-widget .rating-stars-container {
    float: none !important;
  }

  .main-widget .reviews-qa-labels-container {
    margin-left: 0 !important;
    margin: auto !important;
    height: 15px !important;
    float: none !important;
    position: relative !important;
    padding-top: 0px !important;
    /* display: flex !important;
    justify-content: center !important; */
  }
}

.yotpo .yotpo-review .yotpo-header .yotpo-header-element {
  margin-bottom: 10px !important;
}

.yotpo.bottomLine .yotpo-bottomline .yotpo-stars {
  margin-right: 5px;
}

div[id*="ribbon_container"] {
  bottom: 80px !important;
}

.yotpo {
  .promoted-products-box {
    display: none !important;
  }
}

.radio-group {
  .radio-gc {
    label {
      width: 60px;
      height: 60px;
      justify-content: center;

      &:after {
        border-radius: 0;
      }
    }
  }
}

.inner-label {
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
}
