.article-content {
    ul, p {
        margin-bottom: 15px;
    }

    ul {
        list-style-type: disc;
        padding-left: 30px;

        li {
            margin-bottom: 5px;
        }
    }  

    img {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}