.collection {
  /* padding: 32px 0; */
}
.collection__grid {
}
.collection__grid__row {
  margin-left: -1em;
  margin-right: -1em;
}
.collection__grid__item {
  padding: 0 1em;
  margin-bottom: 32px;
  width: 100%;

  @media (--400) {
    width: 50%;
  }
  @media (--800) {
    width: 33.333333%;
  }
  @media (--1200) {
    width: 25%;
  }
}

.collection-slide-title {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--beige);

  @media (--750) {
    -webkit-text-stroke-width: 2px;
  }

  span {
    white-space: nowrap;
  }

  @media (--750) {
    font-size: calc((100vw - 750px) * (210 - 100) / (2000 - 750) + 100px);
  }
}

.collection-slide {
  &.is-selected {
    .collection-slide-title {
      -webkit-text-stroke-width: 0px;
      -webkit-text-fill-color: var(--beige);

      font-size: calc((100vw - 750px) * (210 - 102) / (2000 - 750) + 102px);
    }
  }
}

.filter {
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
  outline: none;
  background: none;
  padding: 0;

  &:hover {
    opacity: 1;
  }

  &.is-checked {
    opacity: 1;

    &:after {
      content: '';
      position: absolute;
      bottom: -5px;
      height: 2px;
      width: 100%;
      background-color: var(--dark-gray);
      left: 0;
    }
  }
}

.collection-callout {
  width: 390px;
  max-width: 100%;

  @media (--800) {
    /* width: 390px; */
    padding-left: 30px;
    padding-right: 30px;
  }
}

.collection-callout-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 70%;
  width: 100%;
  height: 0;

  @media (--800) {
    height: auto;
    padding-top: 0;
    width: 50%;
  }
}

.nb-content {
  max-width: 475px;
}

.nb-image {
  min-height: 250px;
  background-position: bottom center;
}

.impact-image {
  height: 200px;
  width: 100%;
  position: relative;

  img {
    object-fit: cover;
  }

  @media (--800) {
    height: 500px;
  }
}
