
  .yotpo .yotpo-bottomline .yotpo-icon-star,
  .yotpo .yotpo-bottomline .yotpo-icon-half-star,
  .yotpo .yotpo-bottomline .yotpo-icon-empty-star {
    color: #C87B5E !important;
  }

  .radio-group label {
    width: 28px;
    height: 28px;
  }

  .product-options-inner {
    padding-top: 0;
  }

  .pdp-slider,
  .product-infographic-section
  .press-container {
    .slick-arrow {
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      width: 50px;
      height: 50px;
      display: flex !important;
      align-items: center;

      &.next {
        justify-content: flex-end;
      }
    }

    .next {
      right: 20px;
    }

    .prev {
      left: 20px;
    }
  }

  .pdp-slider {
    height: 0;
    padding-top: 80%;
    width: 100%;

    > div {
      outline: none;
    }

    .flickity-page-dots {
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;

      li {
        width: 10px;
        height: 10px;
        border: 2px solid var(--beige);
        border-radius: 50%;
        margin: 0 5px;

        &.is-selected {
          background-color: var(--beige);
        }
      }
    }
  }

  .pdp-slide {
    height: 0;
    padding-top: 80%;
    width: 100%;
  }

  .image-thumbnails-container {

  }

  .image-thumbnail {
    height: 55px;
    width: 55px;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: #F7F3EB;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &.active {
      position: relative;

      &::after {
        content: "";
        z-index: 0;
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transition: opacity .3s;
        transition: opacity .3s;
        border: 1px solid #35312e;
        position: absolute;
        top: -3px;
        left: -3px;
        bottom: -3px;
        right: -3px;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .product-colors-container {
    @media (max-width: 750px) {
      order: -1;
    }
  }

  .prodbar.active {
    @media (min-width: 750px) {
      form {
        flex-direction: row;
      }

      .product-description {
        display: none;
      }
    }
  }

  .product-price {
    display: flex;
    align-items: center;
    font-family: 'Plaid-XS-Web';
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #4f463f;
  }
