<div class='container mha x ac px1'>
  <div class='account-wrapper'>
    {%
    include 'account-titles' with
    title: 'My Account'
    %}

    <section class='account-home outer mt2'>
      <div class='container--s mxa'>
        <h2 class='h5 mt0 caps medium'>Order History</h2>

        <hr class='cgm mb1 mt025'>

        {% paginate customer.orders by 99 %}

          {% if customer.orders.size != 0 %}

            <ul class='account-home__orders'>
              {% for order in customer.orders %}
                <li class='account-home__order block mb1'>
                  <div class='x f aic jcb h5 mb05'>
                    <a href='{{ order.customer_url }}' class='link--underline mr1 medium'>
                      {{order.name}}
                    </a>

                    <span class='cg h6'>{{order.created_at | date: '%b %d, %Y'}}</span>
                  </div>

                  <div class='h6'>
                    <div>
                      <span class='medium mr05'>Payment:</span><span>{{order.financial_status_label}}</span>
                    </div>
                    <div>
                      <span class='medium mr05'>Shipping:</span><span>{{order.fulfillment_status_label}}</span>
                    </div>
                  </div>

                  <div class='h6 bold mt05'>
                    <span>Total:</span><span>{{order.total_price | money}}</span>
                  </div>
                </li>
              {% endfor %}
            </ul>

          {% else %}
            <p class='align-c px2 bg-cg1'>You don't have any orders yet!</p>
          {% endif %}

          {% include 'pagination' %}
        {% endpaginate %}
      </div>
    </section>
  </div>

</div>
