<section class='about lg--pt-36 sm--pt-21 sm--pb-12 f fdc'>

  <div class='outer lg--pb-10 sm--pb-4 sm--order-2'>
    <div class='lg--two-thirds ma ac'>
      <h1 class='c-gray lg--fs-72 sm--fs-40 ls--10 lh-10 cheltenham-x mb-10' data-aos='fade-in'>{{ section.settings.title }}</h1>
      <a href='{{ shop.url }}' class='button button--cta h-bg-gray transition inline-block plaid-l ls--5 rel mb-2 sm--mt-3 bg-rust pt-2 pb-2 pr-2 pl-2 caps fs-14 c-beige lh-10'>{{ section.settings.cta_text }}</a>
    </div>
  </div>

  <div class='f fw mb-10 sm--order-1'>
    <div class='lg--one-third sm--one-half'>
      <div class='block lg--mb-21 sm--mb-10'>
        <div class='one-half push--five-twelfths'>
          <img src='{{ section.settings.image_1 | img_url: "20x" }}' data-src='{{ section.settings.image_1 | img_url: "800x" }}' data-aos='fade-in' loading='lazy' class='lazyload' />
        </div>
      </div>
      <div class='block'>
        <div class='five-sixths'>
          <img src='{{ section.settings.image_2 | img_url: "20x" }}' data-src='{{ section.settings.image_2 | img_url: "800x" }}' class='lazyload' loading='lazy' data-aos='fade-in' data-aos-delay="200" />
        </div>
      </div>
    </div>

    <div class='lg--one-third sm--one-half'>
      <div class='lg--five-sixths sm--one-whole lg--pt-30 sm--pt-10'>
        <img src='{{ section.settings.image_3 | img_url: "20x" }}' data-src='{{ section.settings.image_3 | img_url: "800x" }}' data-aos='fade-in' data-aos-delay="300"  class='lazyload' loading='lazy' />
      </div>
    </div>

    <div class='lg--one-third sm--hide'>
      <div class='block pt-10 pb-20'>
        <div class='lg--two-thirds'>
          <img src='{{ section.settings.image_4 | img_url: "20x" }}' data-src='{{ section.settings.image_4 | img_url: "800x" }}' data-aos='fade-in' data-aos-delay="100"  class='lazyload' loading='lazy' />
        </div>
      </div>

      <div class='block f x'>
        <div class='lg--two-thirds push--lg--one-third f jce'>
          <img src='{{ section.settings.image_5 | img_url: "20x" }}' data-src='{{ section.settings.image_5 | img_url: "800x" }}' data-aos='fade-in' data-aos-delay="400"  class='lazyload' loading='lazy' />
        </div>
      </div>
    </div>
  </div>

  <div class='outer f jcc lg--pb-28 sm--order-3'>
    <div class='lg--one-half sm--one-whole ac'>
      <p class='lg--fs-24 sm--fs-16 lg--lh-15 sm--lh-14 c-gray' data-aos='fade-in' data-aos-delay='300'>{{ section.settings.content }}</p>
    </div>
  </div>

</section>

{% schema %}
  {
    "name": "Banner",
    "settings": [
      {
        "type": "textarea",
        "id": "title",
        "label": "Callout"
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA - Text"
      },
      {
        "type": "header",
        "content": "Images"
      },
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "image_2",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "image_3",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "image_4",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "image_5",
        "label": "Image"
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "textarea",
        "id": "content",
        "label": "Content"
      }
    ]
  }
{% endschema %}
