<div class='product-content-section lg--pt-10 lg--pb-40 sm--pb-14' data-component='aboutContent'>

  <div class='outer'>
    <div class='container mxa'>

      <div class='block x lg--mb-16 sm--mb-6' data-aos='fade-in'>
        <div class='lg--one-half sm--seven-twelfths ma block ac'>
          <h3 class='cheltenham-x lg--fs-54 sm--fs-32 lh-10 lg--ls--10'>{{ product.metafields.accentuate.content_title }}</h3>
        </div>
      </div>

      <div class='block x lg--mb-15 sm--mb-6'>
        <div class='lg--eleven-twelfths sm--one-whole ma block'>
          <div class='x f'>
            <div class='lg--two-thirds sm--one-whole' data-aos='fade-in' data-aos-delay='100'>
              <div class='lg--pr-16'>
                <img src='{{ section.settings.image_1 | img_url: "20x" }}' data-src='{{ section.settings.image_1 | img_url: "1000x" }}' loading='lazy' class='lazyload' />
              </div>
            </div>
            <div class='lg--one-third sm--hide' data-aos='fade-in' data-aos-delay='300'>
              <div class='pt-48'>
                <img src='{{ section.settings.image_2 | img_url: "20x" }}' data-src='{{ section.settings.image_2 | img_url: "600x" }}' loading='lazy' class='lazyload' />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class='block x' data-aos='fade-in' data-aos-delay='100'>
        <div class='lg--two-thirds ma block'>
          <div class='mb-4 plaid-l ls--5 product-intro'>
            <p>{{ section.settings.title }}</p>
          </div>
          <div class='product-content'>
            {{ section.settings.content }}
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

{% schema %}
  {
    "name": "Content",
    "settings": [
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "Image 1"
      },
      {
        "type": "image_picker",
        "id": "image_2",
        "label": "Image 2"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Intro"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Content"
      }
    ]
  }
{% endschema %}
