<section class='about bg-light-beige lg--pt-36 sm--pt-21 sm--pb-12 f fdc'>

  <div class='outer lg--pb-10 sm--pb-4 sm--order-2'>
    <div class='lg--two-thirds ma ac'>
      <h1 class='c-gray lg--fs-52 sm--fs-34 ls--10 lh-10 cheltenham-x'>{{ section.settings.title }}</h1>
    </div>
  </div>

  <div class='f fw mb-10 sm--order-1'>
    <div class='lg--one-third sm--one-half'>
      <div class='block lg--mb-21 sm--mb-5 sm--mt-4'>
        <div class='lg--one-half sm--three-quarters push--lg--five-twelfths push--sm--one-sixth'>
          <img src='{{ section.settings.image_1 | img_url: "20x" }}' data-src='{{ section.settings.image_1 | img_url: "800x" }}' data-aos='fade-in' data-aos-delay="700" loading='lazy' class='lazyload' />
        </div>
      </div>
      <div class='block'>
        <div class='five-sixths'>
          <img src='{{ section.settings.image_2 | img_url: "20x" }}' data-src='{{ section.settings.image_2 | img_url: "800x" }}' data-aos='fade-in' data-aos-delay="900" loading='lazy' class='lazyload' />
        </div>
      </div>
    </div>

    <div class='lg--one-third sm--one-half'>
      <div class='lg--five-sixths sm--one-whole lg--pt-30 sm--pt-10'>
        <img src='{{ section.settings.image_3 | img_url: "20x" }}' data-src='{{ section.settings.image_3 | img_url: "800x" }}' data-aos='fade-in' data-aos-delay="1000" loading='lazy' class='lazyload' />
      </div>
    </div>

    <div class='lg--one-third sm--hide'>
      <div class='block pt-10 pb-20'>
        <div class='lg--two-thirds'>
          <img src='{{ section.settings.image_4 | img_url: "20x" }}' data-src='{{ section.settings.image_4 | img_url: "800x" }}' data-aos='fade-in' data-aos-delay="800" loading='lazy' class='lazyload' />
        </div>
      </div>

      <div class='block f x'>
        <div class='lg--two-thirds push--lg--one-third'>
          <img src='{{ section.settings.image_5 | img_url: "20x" }}' data-src='{{ section.settings.image_5 | img_url: "800x" }}' data-aos='fade-in' data-aos-delay="1100" data-aos-offset="-200" loading='lazy' class='lazyload' />
        </div>
      </div>
    </div>
  </div>

  <div class='outer f jcc lg--pb-28 sm--order-3'>
    <div class='lg--one-half sm--one-whole ac'>
      {% if section.settings.content_title != blank %}
      <h2 class='plaid-l hide c-gray lg--fs-24 sm--fs-18 lh-13 mb-8 ls--5'>{{ section.settings.content_title }}</h2>
      {% endif %}
      <p class='lg--fs-18 sm--fs-14 lg--lh-15 sm--lh-14 c-gray' data-aos-delay='1000'>{{ section.settings.content }}</p>
    </div>
  </div>

</section>

{% schema %}
  {
    "name": "Banner",
    "settings": [
      {
        "type": "textarea",
        "id": "title",
        "label": "Callout"
      },
      {
        "type": "header",
        "content": "Images"
      },
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "image_2",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "image_3",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "image_4",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "image_5",
        "label": "Image"
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "content_title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "content",
        "label": "Content"
      }
    ]
  }
{% endschema %}
