<div class='block lg--pt-30 lg--pb-30 sm--pt-20 sm--pb-20 lg--mb-20 sm--mb-10 rel overflow--hidden bg-image--overlay' data-component='aboutImage'>
  <div id='about-image' class='abs fill x y about-image bg-image bg-image--about' style='background-image: url("{{ section.settings.image | img_url: '2400x' }}")'></div>

  <div class='x ma ac rel z5'>

    <div class='lg--mb-16'>

      <div class='ac sm--pl-2 sm--pr-2 f aic jcc sm--pl-10 sm--pr-10'>
        <div class='block ma ac rel'>
          <div class='block ac'>
            <h1 class='fs-140 sm--fs-50 ls--14 c-beige lg--mb-6 sm--mb-2 lh-10 cheltenham-x'>{{ section.settings.title }}</h1>
            <p class="caps lg--fs-16 sm--fs-12 ls-30 c-beige plaid-l ls--5 lg--mb-12 sm--mb-3">{{ section.settings.subtitle }}</p>
            <a href='{{ section.settings.cta_url }}' class='h-bg-gray transition pt-2 pb-2 pr-5 pl-5 bg-rust button c-beige caps lg--fs-14 sm--fs-11 lh-10 plaid-l ls--5'>{{ section.settings.cta_text }}</a>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>


{% schema %}
  {
    "name": "Image",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA - Text"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "CTA - URL"
      }
    ]
  }
{% endschema %}
