<div class='block overflow--hidden rel bg-image' data-component='aboutSlider' id='about-slider'>

  <div class='x rel f fw sm--fdc'>
    <div class='x ma lg--rel z5 sm--order-2'>
      <div class=''>

        <div class='x block f'>
          <div class='lg--five-twelfths sm--hide'>
            <div class='x p-6 f fdc jce y'>
              <div class='timer sm--abs'>
                <div class='timer--length'></div>
              </div>
            </div>
          </div>
          <div class='lg--one-half sm--one-whole'>
            <div class='lg--pt-10 sm--pt-6 sm--pr-7 sm--pl-7 lg--pl-10 lg--pr-10 lg--pb-10 sm--pb-6 bg-dark-beige x y outer'>
              <div class='about-slider-container rel'>
                <div class='js-about-slider about-slider rel'>
                  {% for block in section.blocks %}

                    <div class='about-slide x'>
                      <div class='lg--pb-40 sm--pb-10 x md--pb-30'>
                        {{ block.settings.subhead }}
                      </div>
                      <div class='lg--pb-40 sm--pb-20  md--pb-30 x lg--pr-16'>
                        <h1 class='cheltenham-x lg--fs-52 sm--fs-34 ls--10 lg--mb-6 sm--mb-4 lh-10'>{{ block.settings.title }}</h1>
                        <p class='lg--fs-18 sm--fs-14 lh-13 about-content'>{{ block.settings.content }}</p>
                      </div>
                    </div>
 
                  {% endfor %}

                </div>

                <div class='abs bottom left sm--fs-11 lh-15 plaid-l ls--5 c-dark-gray'>
                  <div><span class='about-slide-index'>1</span>/{{ section.blocks.size }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class='lg--one-twelfth sm--hide rel'>
            {% for block in section.blocks offset:1 %}
              <img src="{{ block.settings.image | img_url: '20x' }}" data-src="{{ block.settings.image | img_url: '2400x' }}"  loading='lazy' class="lazyload x y block abs fill fit y offset-image offset-image-{{ forloop.index }} {% if forloop.first %}is-selected{% endif %}" />
            {% endfor %}
            {% for block in section.blocks limit:1 %}
              <img src="{{ block.settings.image | img_url: '20x' }}" data-src="{{ block.settings.image | img_url: '2400x' }}" loading='lazy' class="lazyload x y block abs fill fit y offset-image offset-image-{{ section.blocks.size }}" />
            {% endfor %}
          </div>
        </div>

      </div>

    </div>

    <div class='lg--abs lg--fill z3 x lg--y sm--one-whole sm--order-1'>
      <div class='js-image-slider image-slider x y rel'>
        {% for block in section.blocks %}
          <div class='image-slide x y rel lg--eleven-twelfths'>
            <div class='lg--one-half sm--one-whole y rel'>
              <img src="{{ block.settings.image | img_url: '20x' }}" data-src="{{ block.settings.image | img_url: '2400x' }}" class="lazyload x sm--y inline-block abs fill fit y" loading='lazy' />
            </div>
            <div class='lg--one-half sm--hide'>&nbsp;</div>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>

</div>


{% schema %}
  {
    "name": "Slider",
    "blocks": [
      {
        "type": "slide",
        "name": "slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "subhead",
            "label": "Subhead"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "Content"
          }
        ]
      }
    ]
  }
{% endschema %}
