<section class='about-coll bg-beige lg--pb-30 sm--pb-10'>
  <div class='outer x'>
    <div class='container'>
      <div class='f fw x lg--pt-16 sm--pt-14 lg--pb-14 sm--pb-7 sm--ac'>
        <div class='lg--five-twelfths sm--one-whole pr-5'>
          <h2 class='lg--fs-72 sm--fs-40 lh-10 ls--10 c-gray mb-4 cheltenham-x'>{{ section.settings.title }}</h2>
          <h5 class='caps lg--fs-14 sm--fs-8 ls-26 lg--mb-5 sm--mb-3 c-gray pl-3 plaid-l ls--5'>{{ section.settings.subtitle }}</h5>
        </div>
        <div class='lg--seven-twelfths'>
          <p class='lg--fs-24 sm--fs-16 lg--lh-16 sm--lh-14 c-gray'>{{ section.settings.content }}</p>
        </div>
      </div>

      <div class='f fw grid'>
        {% for product in collections[section.settings.collection].products %}
          {% assign product_type = product.template_suffix %}
          <div class='{% if product_type == "bundle" %}lg--two-thirds sm--one-whole{% else %}lg--one-third sm--one-half{% endif %} grid__item mb-8'>
            {% include 'product-item' %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
      },
      {
        "type": "textarea",
        "id": "content",
        "label": "Content"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      }
    ]
  }
{% endschema %}
