<section class='banner rel sm--ac x bg-image bg-image--bottom' data-component='banner'>
  <img class='lazyload fit fill x y' src='{{ section.settings.image | img_url: "20x" }}' data-src='{{ section.settings.image | img_url: "1600x" }}' />
  <div class='outer banner-content rel z4 sm--pt-12 abs cen lg--three-quarters sm--one-whole z-2 rel'>
    <div class='one-whole sm--mb-6 ac' data-aos="fade-in">
      <h1 class='c-beige banner-coll--title sm--fs-50 ls--11 lh-10 block lg--mr-4 cheltenham-x lg--mb-6 sm--mb-4'>{{ section.settings.title }}</h1>
      <div class='block'>
      	<a href='{{ section.settings.cta_url }}' class='shadow button button--banner button--cta h-bg-gray transition rel sm--mb-2 inline-block bg-rusty pt-4 pb-4 pr-8 pl-8 lh-10 caps fs-14 c-beige plaid-l ls--5'>{{ section.settings.cta_text }}</a>
      </div>
    </div>
  </div>

</section>


{% schema %}
  {
    "name": "Banner",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "textarea",
        "id": "title",
        "label": "Callout"
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA - Text"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "CTA - URL"
      }
    ],
    "presets": [
      {
        "name": "Banner"
      }
    ]
  }
{% endschema %}
