<section class='callout sm--hide'>
  <div class='outer'>

    <div class='container f fw x lg--pt-18 sm--pt-7 lg--pb-18 sm--pb-10 aic'>
      <div class='lg--four-twelfths push--lg--one-twelfth sm--one-whole lg--pr-5'>
        <h1 class='c-gray lg--fs-48 sm--fs-40 ls--11 lh-10 lg--inline lg--mr-4 cheltenham-x sm--pb-3'>{{ section.settings.title }}</h1>

        {% if section.settings.cta_url != blank %}
        <a href='{{ section.settings.cta_url }}' class='button button--cta h-bg-gray transition plaid-l ls--5 rel mb-2 inline-block mt-6 bg-rust pt-2 pb-2 pr-2 pl-2 lh-10 caps fs-14 c-beige sm--hide'>{{ section.settings.cta_text }}</a>
        {% endif %}
      </div>
      <div class='lg--six-twelfths sm--one-whole'>
        <p class='lg--fs-18 sm--fs-16 lg--lh-16 sm--lh-14 c-gray block sm--mb-2 callout-content'>{{ section.settings.content }}</p>

        {% if section.settings.cta_url != blank %}
        <div class='block lg--hide'>
          <a href='{{ section.settings.cta_url }}' class='button button--cta h-bg-gray transition inline-block plaid-l ls--5 rel mb-2 sm--mt-3 bg-rust pt-2 pb-2 pr-2 pl-2 caps fs-14 c-beige lh-10'>{{ section.settings.cta_text }}</a>
        </div>
        {% endif %}

      </div>
    </div>

    <div class='f fw x' style='display: none;'>
      <div class='one-half'>

        <div class='f jcc x'>
          <div class='inline-block rel pr-6'>
            <div class='block callout-image'>
              <img src='{{ section.settings.image_1 | img_url: "20x" }}' data-src='{{ section.settings.image_1 | img_url: "800x" }}' class='inline-block lazyload' loading='lazy' data-aos="fade-in" />
            </div>
          </div>
        </div>

      </div>
      <div class='one-half lg--pt-20 sm--pt-4'>

        <div class='f jce lg--pb-20 sm--pb-6'>
          <div class='five-sixths inline-block rel'>
            <div class='block callout-image'>
              <img src='{{ section.settings.image_2 | img_url: "20x" }}' data-src='{{ section.settings.image_2 | img_url: "800x" }}' class='block lazyload' loading='lazy' data-aos="fade-in" />
            </div>
          </div>
        </div>

        <div class='f'>
          <div class='lg--one-half sm--three-quarters inline-block rel' data-aos="fade-in">
            <div class='block callout-image'>
              <img src='{{ section.settings.image_3 | img_url: "20x" }}' data-src='{{ section.settings.image_3 | img_url: "800x" }}' class='block lazyload' loading='lazy' data-aos="fade-in" />
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Callout",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA - Text"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "CTA - URL"
      },
      {
        "type": "textarea",
        "id": "content",
        "label": "Content"
      },
      {
        "type": "header",
        "content": "Images"
      },
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "Image 1"
      },
      {
        "type": "image_picker",
        "id": "image_2",
        "label": "Image 2"
      },
      {
        "type": "image_picker",
        "id": "image_3",
        "label": "Image 3"
      }
    ],
    "presets": [
      {
        "name": "Callout"
      }
    ]
  }
{% endschema %}
