<section class='cluster pb-8 sm--pb-12' data-component='cluster'>
  <div class='outer'>
    <div class='container'>

      <div class='f jcc lg--pt-16 sm--pt-9 lg--pb-12 sm--pb-12'>
        <div class='cluster-title rel ac z4'>
          <div>
            <span class='block plaid caps fs-12 ls-20 mb-4'>Our Products</span>
            <h2 class='lg--fs-48 sm--fs-34 lh-10 lg--ls--10 sm--ls-5 c-gray mb-4 cheltenham-x'>{{ section.settings.title }}</h2>
            <h5 class='caps lg--fs-14 sm--fs-10 ls-26 mb-5 c-gray plaid-l ls--5' style='display: none;'>{{ section.settings.subtitle }}</h5>
            <p class='lg--fs-18 sm--fs-16 lg--lh-16 sm--lh-14 c-gray mb-4'>{{ section.settings.content }}</p>
            <div class='block'>
              <a href='{{ section.settings.cta_url }}' class='shadow shadow-white button button--cta h-c-white bg-rusty h-bg-gray transition rel sm--mb-2 lg--mb-2 inline-block pt-4 pb-4 pr-8 pl-8 lh-10 caps fs-12 c-white plaid-l ls--5'>{{ section.settings.cta_text }}</a>
            </div>
          </div>
        </div>
      </div>

      <div class='cluster-collection x sm--hide'>
        <div class='f fw grid'>
          {% for product in collections['frontpage'].products %}

            {% assign product_type = product.template_suffix %}
            <div class='grid__item mb-8 ac {% if product_type == "bundle" %}lg--two-thirds sm--one-whole{% else %}lg--one-quarter sm--one-whole{% endif %}' data-aos='fade-in' data-aos-delay='{{ forloop.index | times: 100 }}'>
              {% include 'homepage-item' with product_type: product_type %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class='lg--hide'>
    <div class='cluster-slider js-cluster-slider sm--two-thirds'>
      {% for product in collections['frontpage'].products %}

        {% assign product_type = product.template_suffix %}
        <div class='ac x pr-2 pl-2'>
          {% include 'homepage-item' with product_type: product_type %}
        </div>

      {% endfor %}
    </div>
  </div>


</section>

{% schema %}
  {
    "name": "Cluster",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
      },
      {
        "type": "textarea",
        "id": "content",
        "label": "Content"
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA - Text"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "CTA - URL"
      },
      {
        "type": "header",
        "content": "Cluster - 1"
      },
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "Image - 1"
      },
      {
        "type": "image_picker",
        "id": "hover_image_1",
        "label": "Hover Image - 1"
      },
      {
        "type": "product",
        "id": "product_1",
        "label": "Product - 1"
      },
      {
        "type": "header",
        "content": "Cluster - 2"
      },
      {
        "type": "image_picker",
        "id": "image_2",
        "label": "Image - 2"
      },
      {
        "type": "image_picker",
        "id": "hover_image_2",
        "label": "Hover Image - 2"
      },
      {
        "type": "product",
        "id": "product_2",
        "label": "Product - 2"
      },
      {
        "type": "header",
        "content": "Cluster - 3"
      },
      {
        "type": "image_picker",
        "id": "image_3",
        "label": "Image - 3"
      },
      {
        "type": "image_picker",
        "id": "hover_image_3",
        "label": "Hover Image - 3"
      },
      {
        "type": "product",
        "id": "product_3",
        "label": "Product - 3"
      },
      {
        "type": "header",
        "content": "Cluster - 4"
      },
      {
        "type": "image_picker",
        "id": "image_4",
        "label": "Image - 4"
      },
      {
        "type": "image_picker",
        "id": "hover_image_4",
        "label": "Hover Image - 4"
      },
      {
        "type": "product",
        "id": "product_4",
        "label": "Product - 4"
      }
    ],
    "presets": [
      {
        "name": "Cluster"
      }
    ]
  }
{% endschema %}
