<div class='block'>
  <div class='outer x'>
    <div class='lg--one-half ma ac lg--fs-24 sm--fs-16 lh-15 collection-description'>
      <h1 class='block lg--fs-22 sm--fs-16 lg--lh-15 sm--lh-12 c-gray mb-2 plaid-l ls--5'>{{ section.settings.title }}</h1>
      <p class='mb-4'>{{ section.settings.description }} <span class='cheltenham-x inline'>☺︎</span></p>

      {% comment %}
      <a href='{{ section.settings.cta_url }}' class='button button--cta h-bg-gray transition rel sm--mb-2 lg--mb-2 inline-block bg-rust pt-2 pb-2 pr-2 pl-2 lh-10 caps fs-14 c-beige lg--mt-6 plaid-l ls--5'>{{ section.settings.cta_text }}</a>
      {% endcomment %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Description",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "description",
        "label": "Description"
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA - Text"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "CTA - URL"
      }
    ]
  }
{% endschema %}
