{% include 'collection-banner' %}

{% schema %}
  {
    "name": "Banner",
    "settings": [
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA - Text"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "CTA - URL"
      }
    ]
  }
{% endschema %}
