{% paginate collection.products by 50 %}

<div class='block lg--pb-8 sm--pb-4 overflow--hidden' data-component='filters'>
  <div class='x outer'>
    <div class='container collection'>

      <div class='block pt-8 pb-8'>
        <div class='x f jcc'>
          <div class='filters filter-button-group f'>
            {% for block in section.blocks %}
              {% assign coll = block.settings.collection %}
              <button class='filter button mr-4 ml-4 sm--mr-1 sm--ml-1 caps fs-12 plaid-l c-dark-gray {% if forloop.first %}is-checked{% endif %}' data-filter='.{{ coll }}'>
                {{ block.settings.title }}
              </button>
            {% endfor %}
          </div>
        </div>
      </div>


      <div class='block'>
        <div class='grid'>
          {% for product in collection.products reversed %}

            {% assign product_type = product.template_suffix %}

            {% assign product_collections = product.collections %}

            {% if product.url contains 'year-of-the-rat' %}
            {% assign product_type = 'lny-bundle' %}
            {% endif %}

            <div class='grid__item mb-8 {% if product_type == "bundle" or product_type == "nb" or product_type == "lny-bundle" %}lg--one-half sm--one-whole{% else %}lg--one-quarter sm--one-half{% endif %} {% for coll in product_collections %}{{ coll.handle }} {% endfor %}'>
              {% include 'product-item' with product_type: product_type %}
            </div>
          {% endfor %}
        </div>
      </div>

    </div>
  </div>
</div>

{% if paginate.pages > 1 %}
  {{ paginate | default_pagination }}
{% endif %}

{% endpaginate %}

{% schema %}
  {
    "name": "Filters",
    "blocks": [
      {
        "type": "collection",
        "name": "collection",
        "settings": [
          {
             "type": "collection",
             "id": "collection",
             "label": "Collection"
          },
          {
			"type": "text",
			"id": "title",
			"label": "Filter Title"
          }
        ]
      }
    ]
  }
{% endschema %}
