<div class='block'>
  <div class='x f fw sm--fdcr'>
    <div class='lg--one-half sm--one-whole collection-callout-image' style='background-image: url({{ section.settings.image | img_url: "2400x" }});'>
    </div>
    <div class='lg--one-half sm--one-whole bg-beige'>

      <div class='collection-callout ac ma lg--pt-24 lg--pb-24 sm--pt-12 sm--pb-12'>
        <div class='sm--outer x'>
          <div class='sm--five-sixths ma'>
            <span class='caps fs-12 ls-20 c-gray mb-3 block'>{{ section.settings.subtitle }}</span>
            <h1 class='lg--fs-48 sm--fs-34 lh-10 ls--10 c-gray cheltenham-x mb-6'>{{ section.settings.title }}</h1>
            <a href="{{ section.settings.cta_url }}" class="shadow-white button button--cta h-c-white h-bg-gray transition rel inline-block bg-white pt-4 pb-4 pr-8 pl-8 lh-10 caps fs-12 c-darkest-gray plaid-l ls--5">{{ section.settings.cta_text }}</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Callout",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA - Text"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "CTA - URL"
      }
    ]
  }
{% endschema %}
