<div class='block rel pt-30 pb-30 bg-image mb-20' style='background-image: url("{{ section.settings.image | img_url: '2400x' }}");'>

  <div class='abs p-20 bottom left'>
    <div class='mb-4'>
      <p class='c-beige fs-16 caps'>{{ section.settings.title }}</p>
    </div>
    <div>
      <h1 class='c-beige lg--fs-110 ls--11 lh-10 inline mr-4 cheltenham-x mb-8'>{{ section.settings.content }}</h1>
      <a href='{{ section.settings.cta_url }}' class='button button--cta rel mb-2 inline-block bg-rust pt-2 pb-2 pr-6 pl-6 caps fs-14 c-beige mt-6'>{{ section.settings.cta_text }}</a>
    </div>
  </div>

</div>


{% schema %}
  {
    "name": "Image",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "content",
        "label": "Content"
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA - Text"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "CTA - URL"
      }
    ]
  }
{% endschema %}
