<div class='outer'>
  <div class='container'>
    <div class='block bg-image lg--mb-20 sm--mb-10 rel overflow--hidden' data-component='collectionSlider'>

      <div class='x ma ac rel z5 lg--pt-30 lg--pb-30 sm--pt-15 sm--pb-15'>
        <div class='lg--mb-12 sm--mb-6'>
          <p class='c-beige lg--fs-14 sm--fs-12 caps plaid-l ls--5'>{{ section.settings.title }}</p>
        </div>
        <div class='lg--mb-16 sm--mb-8'>

          <div class='js-collection-slider collection-slider'>
            {% for block in section.blocks %}
              <div class='collection-slide ac sm--pl-2 sm--pr-2 f aic jcc sm--pl-10 sm--pr-10'>
                <div class='block ma ac rel'>
                  <a href='{{ section.settings.cta_url }}' class='cheltenham-x sm--fs-72 lg--fs-200 lh-10 c-white ls--19 collection-slide-title block ac'>
                    <span>{{ block.settings.title }}</span>
                  </a>
                </div>
              </div>
            {% endfor %}
          </div>

        </div>
        <div class=''>
          <a href='{{ section.settings.cta_url }}' class='h-bg-gray transition pt-2 pb-2 pr-5 pl-5 bg-rust button c-beige caps lg--fs-14 sm--fs-11 lh-10 plaid-l ls--5'>{{ section.settings.cta_text }}</a>
        </div>
      </div>

      <div class='abs fill js-collection-image-slider collection-slider z3'>
        {% for block in section.blocks %}
          <div class='x y'>
            <img src="{{ block.settings.image | img_url: '20x' }}" data-src="{{ block.settings.image | img_url: '2400x' }}" class="inline-block x y fit lazyload" />
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Slider",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA - Text"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "CTA - URL"
      }
    ],
    "blocks": [
      {
        "type": "slide",
        "name": "slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
             "type": "text",
             "id": "title",
             "label": "Title"
          }
        ]
      }
    ]
  }
{% endschema %}
