{% if section.settings.title != blank %}
<div class='block lg--pt-14 lg--pb-14 sm--pt-7 sm--pb-7'>
  <div class='outer x'>
    <div class='lg--one-half ma ac lg--fs-24 sm--fs-16 lh-15'>
      <p>{{ section.settings.title }}</p>
    </div>
  </div>
</div>
{% endif %}

{% schema %}
  {
    "name": "Description",
    "settings": [
      {
        "type": "textarea",
        "id": "title",
        "label": "Description"
      }
    ]
  }
{% endschema %}
