<div class='banner--faq x rel' style='background-image: url({{ section.settings.image | img_url: "2400x" }})'>
  <div class='abs bottom pt-15 lg--pb-15 sm--pb-8 x'>
    <div class='outer x' data-aos='fade-in'>
      <div class='block ac x'>
        <h1 class='fs-140 sm--fs-50 ls--14 c-beige lg--mb-6 sm--mb-2 lh-10 cheltenham-x'>{{ page.title }}</h1>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Banner",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ]
  }
{% endschema %}
