<footer class='slater-footer' data-component='footer'>

  <div class='bg-dark-green lg--pb-16 lg--pt-16 sm--pt-8 sm--pb-8 c-beige rel'>

    <div class='outer f fw lg--mb-7'>
      <div class='lg--four-twelfths sm--one-whole sm--mb-2'>
        <div class='mb-12 block sm--ac sm--mb-6 sm--three-quarters push--sm--one-eighth'>
          <h1 class='ls--7 lg--lh-17 sm--lh-17 lg--fs-34 sm--fs-26 cheltenham-x mb-2'>{{ section.settings.title }}</h1>
          <p class='c-light-beige fs-16 lh-15 mb-4'>{{ section.settings.content }}</p>

          <form class='newsletter-form form rel footer__form pb-2 pt-4 mb-2 js-footer-form' data-list-id='{{ section.settings.list_id }}'>

            <div class='block newsletter__message'>
              <p class='c-beige caps fs-16 plaid-l ls--5'>Thank you!</p>
            </div>

            <div class='f x newsletter__body'>

              <input type='email' name='email' class='fa bg-light-beige c-gray p-4 plaid fs-16 newsletter-email' spellcheck='false' autocomplete='off' autocapitalize='off' required placeholder='{{ placeholder | default: "Your email" }}' />

              <button class='newsletter-button bg-light-beige caps plaid-l fs-12 c-darkest-gray p-4' type='submit'>Submit</button>
            </div>

          </form>

        </div>
      </div>
      <div class='lg--four-twelfths push--lg--four-twelfths sm--one-whole sm--hide'>
        <div class='lg--one-whole sm--one-whole'>
          <div class='x f'>
            <div class='one-third'>
              <h2 class='mb-2 plaid-l ls--5 fs-12 caps'>{{ linklists[section.settings.footer_menu_1].title }}</h2>
              <ul class='fs-18'>
                {% for link in linklists[section.settings.footer_menu_1].links %}
                  <li class='mb-2'><a href='{{ link.url }}' class='h-c-yellow transition'>{{ link.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
            <div class='one-third'>
              <h2 class='mb-2 plaid-l ls--5 fs-12 caps'>{{ linklists[section.settings.footer_menu_12].title }}</h2>
              <ul class='fs-18'>
                {% for link in linklists[section.settings.footer_menu_12].links %}
                  <li class='mb-2'><a href='{{ link.url }}' class='h-c-yellow transition'>{{ link.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
            <div class='one-third'>
              <h2 class='mb-2 plaid-l ls--5 fs-12 caps'>{{ linklists[section.settings.footer_menu_13].title }}</h2>
              <ul class='fs-18'>
                {% for link in linklists[section.settings.footer_menu_13].links %}
                  <li class='mb-2'><a href='{{ link.url }}' target='_blank' class='h-c-yellow transition'>{{ link.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class='x bg-light-green pt-4 pb-4'>
    <div class='outer f jcb'>

      <div class='fs-16 o-4 c-light-beige'>&copy; Our Place {{ 'now' | date: "%Y" }}</div>

      <div class='inline-block fs-16'>
        <ul class='f sm--fdc'>
          <li class='pr-6 o-4 c-light-beige'>Copyright {{ 'now' | date: "%Y" }}</li>
          {% for link in linklists[section.settings.footer_menu_2].links %}
            <li class='pr-6'><a href='{{ link.url }}' class='o-4 h-o-1 transition c-light-beige'>{{ link.title }}</a></li>
          {% endfor %}
          <li class='o-4 js-credits-toggle cursor--pointer c-light-beige'>Site Credits</li>
        </ul>
      </div>

    </div>
  </div>

  <div class='js-credits-cover footer__credits--cover'>
  </div>

  <div class='js-credits fix bottom left right x footer__credits pt-3 pb-3 bg-darker-green'>
    <div class='outer container f fw jcc aic fs-16 c-white'>
      <span class='pr-4 pl-4'><span class='o-4'>Design and Development by</span> <a href='https://thecouch.nyc' target='_blank' class=''>The Couch</a></span>
      <span class='pr-4 pl-4'><span class='o-4'>Branding & Art Direction by</span> <a href='http://www.puremagenta.com' target='_blank' class=''>Pure Magenta</a></span>
      <span class='pr-4 pl-4'><span class='o-4'>Photography by</span> <a href='https://ronan-vmwe.format.com/' target='_blank' class=''>Ronan McKenzie</a></span>
    </div>
  </div>

</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "content",
        "label": "Content"
      },
	  {
        "type": "text",
        "id": "list_id",
        "label": "List ID"
      },
      {
        "type": "link_list",
        "id": "footer_menu_1",
        "label": "Footer Menu 1"
      },
      {
        "type": "link_list",
        "id": "footer_menu_12",
        "label": "Footer Menu 2"
      },
      {
        "type": "link_list",
        "id": "footer_menu_13",
        "label": "Footer Menu 3"
      },
      {
        "type": "link_list",
        "id": "footer_menu_2",
        "label": "Utility Menu"
      }
    ]
  }
{% endschema %}
