{% comment %}
  Considerations for the header:
    1. Schema.org tags
      - <h1 itemscope itemtype='http://schema.org/Organization'>
      - itemprop [url, logo] etc
{% endcomment %}

<header role='banner' id='header' data-component='header' class='rel z11 {% if template.suffix contains "shop" or template contains "product" %}header-dropdown--bg--open header-dropdown--open{% endif %}'>

  <div class='promo-bar x bg-dark-green lg--p-2 sm--pt-2 sm--pb-2 sm--pr-8 sm--pl-8 ac outer fix top left right f aic'>
    <div class='container f jcc'>
      <span class='caps c-beige plaid-l ls--5 lg--fs-12 sm--fs-9'>{{ section.settings.title }}</span>
    </div>

    <div class='abs right lg--pr-10 sm--pr-2 cen-y'>
      <button class='__remove block js-promo-close'>
      </button>
    </div>
  </div>

  <div class='slater-header fix left x z10'>
    <div class='rel slater-header--top js-header-top transition x sm--pt-4 sm--pb-4'>
      <div style='display:none;' class='header--trigger'></div>

      <div class='header-bg'></div>

      <div class='outer f jcb aic x z1 rel'>

        <div class='sm--one-third lg--one-third gc--hide'>
          <div class='hamburger lg--hide'>
            <button class='block js-mm-toggle'>
              <img src="{{ 'hamburger.svg' | asset_url }}" class='x hamburger--dark' />
              <img src="{{ 'hamburger-light.svg' | asset_url }}" class='x hamburger--light' />
            </button>
          </div>

          <div clas='sm--hide'>
            <ul class='fs-13 nav caps f aic'>
              {% for link in linklists.main-menu-left.links %}
                <li class='pr-3 plaid-l ls--5 sm--hide {% if forloop.first %}{% else %}pl-4{% endif %}'>
                  <a href="{{ link.url }}" class='h-c-darker-pink header-item header-item--{{ link.title | handleize }} pt-6 pb-6 block transition rel {% if link.active %}menu-item-active{% endif %}'>{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class='sm--one-third lg--one-third ac'>
          <div class='logo logo--dark block'>
            <a href='{{ shop.url }}'>
              <img src='{{ "logo-dark.svg" | asset_url }}'  class='block ma' />
            </a>
          </div>

          <div class='logo logo--light block'>
            <a href='{{ shop.url }}'>
              <img src='{{ "logo.svg" | asset_url }}' class='block ma' />
            </a>
          </div>
        </div>

        <div class='sm--one-third lg--one-third gc--hide'>

          <div class='x f jce'>
            <div class='f jcb fw'>

              <ul class='fs-13 nav caps f aic'>
                {% for link in linklists.main-menu-right.links %}
                  <li class='pl-4 pr-3 plaid-l ls--5 sm--hide'>
                    <a href="{{ link.url }}" class='h-c-darker-pink header-item pt-6 pb-6 block transition rel {% if link.active %}menu-item-active {% endif %}'>{{ link.title }}</a>
                  </li>
                {% endfor %}

                <li class='plaid-l ls--5'>
                  <div class='js-cart-drawer-toggle cart-drawer-toggle'>
                    <span class='cart-icon rel c-beige block h-bg-darker-gray transition'>
                      <span class='js-cart-count'>{{ cart.item_count }}</span>
                    </span>
                  </div>
                </li>
              </ul>

            </div>
          </div>

        </div>

      </div>
    </div>
    <div class='slater-header--bottom sm--hide rel pb-10 pt-10 x js-header-bottom' style='display: none;'>
      <div class='container--m f'>
        <div class='lg--five-twelfths'>
          <div class='f x jcb pt-4 pb-4'>
            <div class='pr-4'>
              {% assign menu_1 = section.settings.menu_1 %}

              <h2 class='fs-12 caps ls-20 plaid mb-5'>{{ linklists[menu_1].title }}</h2>
              <ul>
                {% for link in linklists[menu_1].links %}
                  <li class='ls--5 {% if forloop.last %}{% else %}mb-3{% endif %}'>
                    <a href="{{ link.url }}" class='h-c-darker-pink transition c-darkest-gray caps plaid-l fs-13 ls--2 {% if link.active %}menu-item-active {% endif %}'>{{ link.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
            <div>
              {% assign menu_2 = section.settings.menu_2 %}

              <h2 class='fs-12 caps ls-20 plaid mb-5'>{{ linklists[menu_2].title }}</h2>
              <ul>
                {% for link in linklists[menu_2].links %}
                  <li class='ls--5 {% if forloop.last %}{% else %}mb-3{% endif %}'>
                    <a href="{{ link.url }}" class='h-c-darker-pink transition c-darkest-gray caps plaid-l fs-13 l--2 {% if link.active %}menu-item-active {% endif %}'>{{ link.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class='lg--five-twelfths push--lg--two-twelfths rel'>
            <img src='{{ section.settings.image | img_url: "800x" }}' class='x y abs fit fill' loading='lazy' />
            <a href='{{ section.settings.cta_url }}' class='header-button z-2 lh-15 abs cen rel shadow-white button h-c-white h-bg-gray transition ac inline-block bg-white pt-2 pb-2 pr-6 pl-6 caps fs-12 c-darkest-gray plaid-l'>{{ section.settings.cta_text }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>

{% comment %}
<div class='slater-header__spacer'></div>
{% endcomment %}

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Promo"
      },
      {
        "type": "link_list",
        "id": "menu_1",
        "label": "Menu 1"
      },
      {
        "type": "link_list",
        "id": "menu_2",
        "label": "Menu 2"
      },
      {
        "type": "header",
        "content": "Callout"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA - Text"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "CTA - URL"
      }
    ]
  }
{% endschema %}
