<section class="homepage-product-slider-module" data-component='homepageProductSlider'>
  <div class="homepage-product-slides-container">
    {% for slide in section.blocks %}
      <div class="homepage-product-slide-container">
        {{ slide.settings.image | img_tag: slide.settings.image.alt, "homepage-product-slide-desktop-image", "master" }}
        {{ slide.settings.mobile_image | img_tag: slide.settings.mobile_image.alt, "homepage-product-slide-mobile-image", "master" }}
      </div>
    {% endfor %}
  </div>
  <div class="homepage-product-text-container">
    <div class="homepage-product-text-title">
      {{ section.settings.title }}
    </div>
    <div class="homepage-product-text-body">
      {{ section.settings.content }}
    </div>
    <a href='{{ section.blocks[0].settings.cta_url }}' class="homepage-product-slider-button slide-button button button--cta h-c-dark-gray h-bg-white transition rel ma mb-2 inline-block bg-darkest-gray pt-4 pb-4 pr-12 pl-12 lh-10 caps fs-12 c-white lg--mt-4 plaid-l z4">
      {{ section.settings.cta_text }}
    </a>
    <div class="homepage-product-slider-swatches-container">
      {% for slide in section.blocks %}
        <div
          class="homepage-product-slider-swatch {% if forloop.first %}active{% endif %}"
          data-index="{{ forloop.index0 }}"
          data-url="{{ slide.settings.cta_url }}"
          style="background-color: {{ slide.settings.color }};"
        ></div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Slider",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "content",
        "label": "Content"
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA - Text"
      }
    ],
    "blocks": [
      {
        "type": "slide",
        "name": "slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Desktop Image"
          },
          {
            "type": "image_picker",
            "id": "mobile_image",
            "label": "Mobile Image"
          },
          {
            "type": "url",
            "id": "cta_url",
            "label": "CTA - URL"
          },
          {
            "type": "color",
            "id": "color",
            "label": "Swatch Color"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Homepage Product Slider"
      }
    ]
  }
{% endschema %}
