{% assign size = section.blocks | size %}

{% if size > 0 %}
  <section class="homepage-press-container" data-component='pressSlider'>
    <div class="homepage-press-quotes-container js-press-quotes-container">
      {% for block in section.blocks %}
        <div class="homepage-press-title lg--fs-28 sm--fs-24 lh-15 cheltenham">
          "{{ block.settings.press_quote }}"
        </div>
      {% endfor %}
    </div>
    <div class="homepage-press-logos-container js-press-logos-container">
      {% for block in section.blocks %}
        <div class="homepage-press-logo-container">
          <img
            class="homepage-press-logo-image"
            src="{{ block.settings.press_logo | img_url: 'master' }}">
        </div>
      {% endfor %}
    </div>
  </section>
{% endif %}


{% schema %}
  {
    "name": "Press Module w/ Quotes",
    "blocks": [
      {
        "type": "press_item",
        "name": "Press Item",
        "settings": [
          {
            "type": "image_picker",
            "id": "press_logo",
            "label": "Press Logo"
          },
          {
             "type": "text",
             "id": "press_quote",
             "label": "Press Quote"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Press Module w/ Quotes"
      }
    ]
  }
{% endschema %}
