<section class='instagram bg-beige'>
  <div class='f fw'>
    <div class='lg--one-third sm--one-whole sm--hide'>
      <div class='f x fw'>
        {% for block in section.blocks limit: 4 %}
          <a href='{{ block.settings.link }}' target='_blank' class='instagram__item lg--one-half sm--one-half'>
            <div class='instagram__inner rel'>
              <img src='{{ block.settings.image | img_url: "20x" }}' data-src='{{ block.settings.image | img_url: "800x" }}' class='abs fill x y lazyload' loading='lazy' />

              <div class='instagram__inner--icon abs cen'>
                <svg width="25px" height="25px" viewBox="0 0 25 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Menus-+-Navigation" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="D_Footer_Temp" transform="translate(-936.000000, -194.000000)" fill="#ffffff">
                            <g id="Instagram" transform="translate(936.000000, 194.000000)">
                                <path d="M12.5,0 C9.10524194,0 8.67943548,0.014516129 7.34637097,0.0754032258 C6.01572581,0.135887097 5.10725806,0.347177419 4.31209677,0.656048387 C3.48991935,0.975403226 2.79274194,1.40282258 2.09798387,2.09798387 C1.40282258,2.79274194 0.975403226,3.48991935 0.656048387,4.31209677 C0.347177419,5.10725806 0.135887097,6.01572581 0.0754032258,7.34637097 C0.014516129,8.67943548 0,9.10524194 0,12.5 C0,15.8947581 0.014516129,16.3205645 0.0754032258,17.653629 C0.135887097,18.9842742 0.347177419,19.8927419 0.656048387,20.6883065 C0.975403226,21.5100806 1.40282258,22.2068548 2.09798387,22.9020161 C2.79274194,23.5971774 3.48991935,24.0241935 4.31209677,24.3435484 C5.10725806,24.6528226 6.01572581,24.8641129 7.34637097,24.9245968 C8.67943548,24.9858871 9.10524194,25 12.5,25 C15.8947581,25 16.3205645,24.9858871 17.653629,24.9245968 C18.9842742,24.8641129 19.8927419,24.6528226 20.6883065,24.3435484 C21.5100806,24.0241935 22.2068548,23.5971774 22.9020161,22.9020161 C23.5971774,22.2068548 24.0241935,21.5100806 24.3435484,20.6883065 C24.6528226,19.8927419 24.8641129,18.9842742 24.9245968,17.653629 C24.9854839,16.3205645 25,15.8947581 25,12.5 C25,9.10524194 24.9854839,8.67943548 24.9245968,7.34637097 C24.8641129,6.01572581 24.6528226,5.10725806 24.3435484,4.31209677 C24.0241935,3.48991935 23.5971774,2.79274194 22.9020161,2.09798387 C22.2068548,1.40282258 21.5100806,0.975403226 20.6883065,0.656048387 C19.8927419,0.347177419 18.9842742,0.135887097 17.653629,0.0754032258 C16.3205645,0.014516129 15.8947581,0 12.5,0 M12.5,2.25201613 C15.8375,2.25201613 16.2330645,2.26491935 17.5508065,2.325 C18.7697581,2.38064516 19.4314516,2.58427419 19.8721774,2.75524194 C20.4552419,2.98225806 20.8721774,3.25322581 21.3096774,3.69072581 C21.7467742,4.12782258 22.0177419,4.54435484 22.2443548,5.12782258 C22.4157258,5.56854839 22.6193548,6.23024194 22.6745968,7.44879032 C22.7350806,8.76693548 22.7475806,9.1625 22.7475806,12.5 C22.7475806,15.8375 22.7350806,16.2330645 22.6745968,17.5508065 C22.6193548,18.7697581 22.4157258,19.4314516 22.2443548,19.8721774 C22.0177419,20.4552419 21.7467742,20.8721774 21.3096774,21.3096774 C20.8721774,21.7467742 20.4552419,22.0177419 19.8721774,22.2443548 C19.4314516,22.4157258 18.7697581,22.6193548 17.5508065,22.6745968 C16.2330645,22.7350806 15.8379032,22.7475806 12.5,22.7475806 C9.16209677,22.7475806 8.76693548,22.7350806 7.44879032,22.6745968 C6.23024194,22.6193548 5.56854839,22.4157258 5.12782258,22.2443548 C4.54435484,22.0177419 4.12782258,21.7467742 3.69072581,21.3096774 C3.25322581,20.8721774 2.98225806,20.4552419 2.75524194,19.8721774 C2.58427419,19.4314516 2.38064516,18.7697581 2.325,17.5508065 C2.26491935,16.2330645 2.25201613,15.8375 2.25201613,12.5 C2.25201613,9.1625 2.26491935,8.76693548 2.325,7.44879032 C2.38064516,6.23024194 2.58427419,5.56854839 2.75524194,5.12782258 C2.98225806,4.54435484 3.25322581,4.12782258 3.69072581,3.69072581 C4.12782258,3.25322581 4.54435484,2.98225806 5.12782258,2.75524194 C5.56854839,2.58427419 6.23024194,2.38064516 7.44879032,2.325 C8.76693548,2.26491935 9.1625,2.25201613 12.5,2.25201613" id="Fill-1"></path>
                                <path d="M12.5,16.6665323 C10.1987903,16.6665323 8.33346774,14.8012097 8.33346774,12.5 C8.33346774,10.1987903 10.1987903,8.33306452 12.5,8.33306452 C14.8012097,8.33306452 16.6665323,10.1987903 16.6665323,12.5 C16.6665323,14.8012097 14.8012097,16.6665323 12.5,16.6665323 M12.5,6.08104839 C8.95483871,6.08104839 6.08104839,8.95483871 6.08104839,12.5 C6.08104839,16.0451613 8.95483871,18.9189516 12.5,18.9189516 C16.0451613,18.9189516 18.9189516,16.0451613 18.9189516,12.5 C18.9189516,8.95483871 16.0451613,6.08104839 12.5,6.08104839" id="Fill-3"></path>
                                <path d="M20.6724194,5.82745968 C20.6724194,6.65608871 20.0010484,7.32745968 19.1724194,7.32745968 C18.3441935,7.32745968 17.6728226,6.65608871 17.6728226,5.82745968 C17.6728226,4.99883065 18.3441935,4.32745968 19.1724194,4.32745968 C20.0010484,4.32745968 20.6724194,4.99883065 20.6724194,5.82745968" id="Fill-5"></path>
                            </g>
                        </g>
                    </g>
                </svg>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
    <div class='lg--one-third sm--one-whole bg-beige'>
      <div class='ac block x f y aic jcc p-10'>
        <div>
          <span class='caps fs-12 ls-20 c-gray mb-4 block'>{{ section.settings.subtitle }}</span>
          <h1 class='lg--fs-40 sm--fs-28 lh-10 ls--10 c-gray cheltenham-x mb-6'>{{ section.settings.title }}</h1>
          <p class='rel mb-8 lg--fs-18 sm--fs-14 ig-content mb-6' style='display: none'>{{ section.settings.content }}</p>
          <a href="{{ section.settings.cta_url }}" class="shadow-white button button--cta h-c-white h-bg-gray transition rel inline-block bg-white pt-4 pb-4 pr-8 pl-8 lh-10 caps fs-12 c-darkest-gray plaid-l ls--5">{{ section.settings.cta_title }}</a>
        </div>
      </div>
    </div>
    <div class='lg--one-third sm--one-whole'>
      <div class='f x fw'>
        {% for block in section.blocks limit: 4 offset: 4 %}
          <a href='{{ block.settings.link }}' target='_blank' class='instagram__item lg--one-half sm--one-half'>
            <div class='instagram__inner rel'>
              <img src='{{ block.settings.image | img_url: "20x" }}' data-src='{{ block.settings.image | img_url: "800x" }}' class='abs fill x y lazyload' loading='lazy' />

              <div class='instagram__inner--icon abs cen'>
                <svg width="25px" height="25px" viewBox="0 0 25 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Menus-+-Navigation" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="D_Footer_Temp" transform="translate(-936.000000, -194.000000)" fill="#ffffff">
                            <g id="Instagram" transform="translate(936.000000, 194.000000)">
                                <path d="M12.5,0 C9.10524194,0 8.67943548,0.014516129 7.34637097,0.0754032258 C6.01572581,0.135887097 5.10725806,0.347177419 4.31209677,0.656048387 C3.48991935,0.975403226 2.79274194,1.40282258 2.09798387,2.09798387 C1.40282258,2.79274194 0.975403226,3.48991935 0.656048387,4.31209677 C0.347177419,5.10725806 0.135887097,6.01572581 0.0754032258,7.34637097 C0.014516129,8.67943548 0,9.10524194 0,12.5 C0,15.8947581 0.014516129,16.3205645 0.0754032258,17.653629 C0.135887097,18.9842742 0.347177419,19.8927419 0.656048387,20.6883065 C0.975403226,21.5100806 1.40282258,22.2068548 2.09798387,22.9020161 C2.79274194,23.5971774 3.48991935,24.0241935 4.31209677,24.3435484 C5.10725806,24.6528226 6.01572581,24.8641129 7.34637097,24.9245968 C8.67943548,24.9858871 9.10524194,25 12.5,25 C15.8947581,25 16.3205645,24.9858871 17.653629,24.9245968 C18.9842742,24.8641129 19.8927419,24.6528226 20.6883065,24.3435484 C21.5100806,24.0241935 22.2068548,23.5971774 22.9020161,22.9020161 C23.5971774,22.2068548 24.0241935,21.5100806 24.3435484,20.6883065 C24.6528226,19.8927419 24.8641129,18.9842742 24.9245968,17.653629 C24.9854839,16.3205645 25,15.8947581 25,12.5 C25,9.10524194 24.9854839,8.67943548 24.9245968,7.34637097 C24.8641129,6.01572581 24.6528226,5.10725806 24.3435484,4.31209677 C24.0241935,3.48991935 23.5971774,2.79274194 22.9020161,2.09798387 C22.2068548,1.40282258 21.5100806,0.975403226 20.6883065,0.656048387 C19.8927419,0.347177419 18.9842742,0.135887097 17.653629,0.0754032258 C16.3205645,0.014516129 15.8947581,0 12.5,0 M12.5,2.25201613 C15.8375,2.25201613 16.2330645,2.26491935 17.5508065,2.325 C18.7697581,2.38064516 19.4314516,2.58427419 19.8721774,2.75524194 C20.4552419,2.98225806 20.8721774,3.25322581 21.3096774,3.69072581 C21.7467742,4.12782258 22.0177419,4.54435484 22.2443548,5.12782258 C22.4157258,5.56854839 22.6193548,6.23024194 22.6745968,7.44879032 C22.7350806,8.76693548 22.7475806,9.1625 22.7475806,12.5 C22.7475806,15.8375 22.7350806,16.2330645 22.6745968,17.5508065 C22.6193548,18.7697581 22.4157258,19.4314516 22.2443548,19.8721774 C22.0177419,20.4552419 21.7467742,20.8721774 21.3096774,21.3096774 C20.8721774,21.7467742 20.4552419,22.0177419 19.8721774,22.2443548 C19.4314516,22.4157258 18.7697581,22.6193548 17.5508065,22.6745968 C16.2330645,22.7350806 15.8379032,22.7475806 12.5,22.7475806 C9.16209677,22.7475806 8.76693548,22.7350806 7.44879032,22.6745968 C6.23024194,22.6193548 5.56854839,22.4157258 5.12782258,22.2443548 C4.54435484,22.0177419 4.12782258,21.7467742 3.69072581,21.3096774 C3.25322581,20.8721774 2.98225806,20.4552419 2.75524194,19.8721774 C2.58427419,19.4314516 2.38064516,18.7697581 2.325,17.5508065 C2.26491935,16.2330645 2.25201613,15.8375 2.25201613,12.5 C2.25201613,9.1625 2.26491935,8.76693548 2.325,7.44879032 C2.38064516,6.23024194 2.58427419,5.56854839 2.75524194,5.12782258 C2.98225806,4.54435484 3.25322581,4.12782258 3.69072581,3.69072581 C4.12782258,3.25322581 4.54435484,2.98225806 5.12782258,2.75524194 C5.56854839,2.58427419 6.23024194,2.38064516 7.44879032,2.325 C8.76693548,2.26491935 9.1625,2.25201613 12.5,2.25201613" id="Fill-1"></path>
                                <path d="M12.5,16.6665323 C10.1987903,16.6665323 8.33346774,14.8012097 8.33346774,12.5 C8.33346774,10.1987903 10.1987903,8.33306452 12.5,8.33306452 C14.8012097,8.33306452 16.6665323,10.1987903 16.6665323,12.5 C16.6665323,14.8012097 14.8012097,16.6665323 12.5,16.6665323 M12.5,6.08104839 C8.95483871,6.08104839 6.08104839,8.95483871 6.08104839,12.5 C6.08104839,16.0451613 8.95483871,18.9189516 12.5,18.9189516 C16.0451613,18.9189516 18.9189516,16.0451613 18.9189516,12.5 C18.9189516,8.95483871 16.0451613,6.08104839 12.5,6.08104839" id="Fill-3"></path>
                                <path d="M20.6724194,5.82745968 C20.6724194,6.65608871 20.0010484,7.32745968 19.1724194,7.32745968 C18.3441935,7.32745968 17.6728226,6.65608871 17.6728226,5.82745968 C17.6728226,4.99883065 18.3441935,4.32745968 19.1724194,4.32745968 C20.0010484,4.32745968 20.6724194,4.99883065 20.6724194,5.82745968" id="Fill-5"></path>
                            </g>
                        </g>
                    </g>
                </svg>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Instagram",
    "settings": [
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle",
        "default": "#DirtyDishes"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "cta_title",
        "label": "CTA - Title"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "CTA - URL"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ]
  }
{% endschema %}
