<section class='' data-component='image'>



  {% if section.settings.video_id != blank %}
  <div class='product-video sm--pt-6 sm--pb-10 lg--pt-16 lg--pb-16 outer'>

    {% assign min = 100 %}
    {% assign max = 999 %}
    {% assign diff = max | minus: min %}
    {% assign id = "now" | date: "%N" | modulo: diff | plus: min %}

    <div class='container rel mxa'>

      <div class='pdp-embed-container z3'>
        <div id='{{ id }}' class='js-video x pdp-video--hidden transition' data-id='{{ section.settings.video_id }}'></div>
      </div>

      <div class='f jce fdc y abs z5 fill bg-image--overlay'>
        <div class='outer z3 rel' data-aos='fade-in'>
          <div class='lg--seven-twelfths lg--mb-10 sm--mt-6 sm--mb-6'>
            <span class='block lg--mb-4 caps c-beige lh-15 fs-16 plaid-l ls--5 sm--mb-16 hide'>
              <span class='sm--hide'>{{ section.settings.subtitle }}</span>
            </span>
            <h1 class='c-beige lg--fs-64 sm--fs-34 lh-12 ls--11 lg--inline sm--block mr-4 cheltenham-x sm--three-quarters lg--mb-8 sm--mb-3'>{{ section.settings.title }} <span class='image-icon'>♡</span></h1>
            <div class='sm--block lg--inline-block'>
              <button class='inline-block button button--cta h-bg-gray transition rel plaid-l ls--5 bg-rust pt-2 pb-2 pr-2 pl-2 lh-10 caps fs-14 c-beige lg--mt-6 lg--mb-2 js-trigger-newsletter'>{{ section.settings.cta_text }}</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  {% endif %}


  {% comment %}
  <div class='lg--outer'>

    <div class='big-image rel bg-image' style='background-image: url({{ section.settings.image | img_url: "2000x" }})'>

      <div class='f jce fdc y lg--abs'>

        <div class='outer' data-aos='fade-in'>
          <div class='lg--seven-twelfths lg--mb-10 sm--mt-6 sm--mb-6'>
            <span class='block lg--mb-4 caps c-beige ls-5 lh-15 fs-16 plaid-l sm--mb-16'>
              <span class='sm--hide'>{{ section.settings.subtitle }}</span>
            </span>
            <h1 class='c-beige lg--fs-64 sm--fs-34 lh-12 ls--11 lg--inline sm--block mr-4 cheltenham-x sm--three-quarters lg--mb-8 sm--mb-3'>{{ section.settings.title }} <span class='image-icon'>♡</span></h1>
            <div class='sm--block lg--inline-block'>
              <button class='inline-block button button--cta h-bg-gray transition rel plaid-l bg-rust pt-2 pb-2 pr-2 pl-2 lh-10 caps fs-14 c-beige lg--mt-6 lg--mb-2 js-trigger-newsletter'>{{ section.settings.cta_text }}</button>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
  {% endcomment %}

</section>

{% schema %}
  {
    "name": "Image",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "video_id",
        "label": "Video ID"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA - Text"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "CTA - URL"
      }
    ],
    "presets": [
      {
        "name": "Image"
      }
    ]
  }
{% endschema %}
