<section class='banner--nb rel x f fw sm--fdcr'>

  <div class='lg--five-twelfths sm--one-whole bg-dark-green'>
    <div class='ma lg--pt-36 sm--pt-6 sm--pb-8 lg--pb-30 nb-content lg--pl-6 lg--pr-6 sm--ac'>
      <h1 class='lg--fs-48 sm--fs-32 lh-12 cheltenham ls--10 c-light-beige mb-2'>{{ collection.title }}</h1>
      <p class='plaid lh-16 c-light-beige lg--fs-18 sm--fs-14 lg--mb-6 sm--mb-4'>{{ collection.description }}</p>
      <a href='{{ section.settings.collection_url }}' class='shadow-white button button--cta h-c-white h-bg-gray transition rel inline-block bg-white pt-4 pb-4 pr-8 pl-8 lh-10 caps fs-12 c-darkest-gray plaid-l ls--5'>Shop the collection</a>
    </div>
  </div>
  <div class='lg--seven-twelfths sm--one-whole bg-image nb-image' style='background-image: url({{ collection.image | img_url: "2400x" }})'>
  </div>

</section>


{% schema %}
  {
    "name": "Banner",
    "settings": [
      {
        "type": "url",
        "id": "collection_url",
        "label": "URL"
      }
    ]
  }
{% endschema %}
