<section class='pb-8' data-component='cluster'>
  <div class='outer'>
    <div class='container'>

      <div class='f x jcc lg--pt-18 sm--pt-10 lg--pb-18 sm--pb-10 ac'>
        <div class='lg--seven-twelfths sm--five-sixths' data-aos='fade-in'>
          <p class='cheltenham sm--fs-28 lg--fs-48 lh-10'>{{ section.settings.title }}</p>
        </div>
      </div>

      {% for block in section.blocks %}

        <div class='f fw x lg--mb-24 sm--mb-16 {% cycle "", "fdrr" %}'>
          <div class='lg--seven-twelfths sm--one-whole'>
            <img src='{{ block.settings.image | img_url: "20x" }}' data-src='{{ block.settings.image | img_url: "2400x" }}' class='lazyload' data-aos='fade-in' />
          </div>
          <div class='lg--five-twelfths sm--one-whole f aic jcc'>
            <div class='nb-content sm--ac lg--p-6 sm--pt-6' data-aos='fade-in'>
              <h2 class='cheltenham mb-2 lg--fs-48 sm--fs-32 lh-10 ls--10 c-gray'>{{ block.settings.title }}</h2>
              <h4 class='mb-4 plaid fs-12 ls-20 caps c-gray sm--two-thirds ma'>{{ block.settings.subtitle }}</h4>
              <p class='plaid lg--fs-16 sm--fs-14 lh-15 c-darkest-gray mb-6'>{{ block.settings.content }}</p>

              <div class='f sm--jcc'>

                {% comment %}
                {% if block.settings.link_disabled %}
                <div class='shadow-white button button--cta h-c-white h-bg-gray transition rel inline-block c-v-light-green pt-4 pb-4 pr-4  pl-4 lh-10 caps fs-12 plaid-l ls--5'>{{ block.settings.cta_text }}</div>
                {% else %}
                <button data-variant="{{ all_products[block.settings.product].variants.first.id }}" class='js-add-product shadow-white button button--cta h-c-white transition rel inline-block h-bg-gray transition bg-rusty pt-4 pb-4 pr-4 pl-4 lh-10 caps fs-12 c-white plaid-l ls--5 mr-2'>Add to cart - {{ all_products[block.settings.product].price | money_without_trailing_zeros }}</button>
                {% endif %}
                {% endcomment %}

                <a href='{{ block.settings.cta_url }}' class='shadow-white button button--cta h-c-white h-bg-gray transition rel inline-block bg-rusty pt-4 pb-4 pr-4 pl-4 lh-10 caps fs-12 c-white plaid-l ls--5'>{{ block.settings.cta_text }}</a>

              </div>

            </div>
          </div>
        </div>

      {% endfor %}

    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Collection",
    "settings": [
      {
        "type": "textarea",
        "id": "title",
        "label": "Description"
      }
    ],
    "blocks": [
      {
        "type": "item",
        "name": "item",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle"
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
          {
            "type": "text",
            "id": "cta_text",
            "label": "CTA - Text"
          },
          {
            "type": "url",
            "id": "cta_url",
            "label": "CTA - URL"
          },
          {
            "type": "checkbox",
            "id": "link_disabled",
            "label": "Link disabled?"
          }
        ]
      }
    ]
  }
{% endschema %}
