<section class='pb-20 sm--pb-10'>
  <div class='outer'>
    <div class='container'>

      <div class='x f fw mb-10'>
        <div class='lg--two-thirds sm--one-whole lg--pr-2 sm--pb-2'>
          <div class='impact-image'>
            <img src="{{ section.settings.image_1 | img_url: '1500x' }}" class='abs fill x y' />
          </div>
        </div>
        <div class='lg--one-third sm--one-whole'>
          <div class='impact-image'>
            <img src="{{ section.settings.image_2 | img_url: '900x' }}" class='abs fill x y' />
          </div>
        </div>
      </div>

      <div class='x f jcc'>
        <div class='lg--one-half sm--one-whole ac'>
          <h2 class='cheltenham mb-4 lg--fs-48 sm--fs-32 lh-10 ls--10 c-gray'>{{ section.settings.title }}</h2>
          <p class='plaid lg--fs-16 sm--fs-14 lh-15 c-darkest-gray mb-6'>{{ section.settings.content }}</p>
          <a href='{{ section.settings.cta_url }}' class='shadow-white button button--cta h-c-white h-bg-gray bg-white transition rel inline-block c-darkest-gray pt-4 pb-4 pr-4  pl-4 lh-10 caps fs-12 plaid-l ls--5'>{{ section.settings.cta_text }}</a>
        </div>
      </div>

    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Impact",
    "settings": [
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "Image 1"
      },
      {
        "type": "image_picker",
        "id": "image_2",
        "label": "Image 2"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "content",
        "label": "Content"
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA - Text"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "CTA - URL"
      }
    ]
  }
{% endschema %}
