<section class='f fw newsletter mh-700 bg-pink'>
  <div class='lg--one-half p-16'>

    <div class='f fdc y'>

      <div class='x fa'>
        <span class='block mb-4 caps lh-15 fs-16 plaid-l ls--5'>{{ section.settings.subtitle }}</span>
        <h1 class='lg--fs-64 lh-12 ls--11 inline mr-4 cheltenham-x mb-8'>{{ section.settings.title }}</h1>
      </div>

      <div class='block'>
        <form class='f bb form x pb-4 pt-4 mb-2'>
          <input type='email' placeholder='Your Email' class='fa caps fs-14 c-gray ph-gray plaid-l ls--5' />
          <button type='submit'>
            {% include 'arrow-dark' %}
          </button>
        </form>

        <div class='block'>
          <span class='fs-12 o-4'>{{ section.settings.content }}</span>
        </div>
      </div>

    </div>

  </div>
  <div class='lg--one-half bg-image' style='background-image: url({{ section.settings.image | img_url: "2400x" }})'>
  </div>
</section>

{% schema %}
  {
    "name": "Newsletter",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "content",
        "label": "Content"
      },
      {
        "type": "text",
        "id": "list_id",
        "label": "List ID"
      }
    ],
    "presets": [
      {
        "name": "Newsletter"
      }
    ]
  }
{% endschema %}
