<section class='fix bottom z10 newsletter__slide js-newsletter-slide bg-white' data-component='newsletterSlide' style='display: none;'>
  <div class='newsletter__slide-inner sm--p-6 rel z1 bg-white'>
    <button class="__remove abs c-dark-gray top right m1 z2 js-hide-newsletter"></button>

    <h4 class='cheltenham-x ls--11 lh-12 lg--fs-48 sm--fs-32 mb-6'>{{ section.settings.title }}</h4>

    {% include 'newsletter-form' %}
  </div>
  <div class='newsletter__slide-shadow abs x y'></div>
</section>

{% schema %}
  {
    "name": "Newsletter Slide",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Let's keep in touch"
      },
      {
        "type": "text",
        "id": "caption",
        "label": "Caption",
        "default": "We don't send a lot of emails but they're usually a treat to open. Plus you'll get $10 off your first order."
      },
      {
        "type": "text",
        "id": "list_id",
        "label": "List ID"
      }
    ],
    "presets": [{
      "name": "Newsletter Slide",
      "category": "global"
    }]
  }
{% endschema %}
