<div class='lg--pb-4 lg--pt-4 sm--pb-4 sm--pt-4 bg-darker-beige' data-component='pressBar'>
  <div class='outer'>
    <div class='container container-cluster'>


      <div class='lg--hide'>
        <div class='block press-bar rel js-press-bar'>

          {% for block in section.blocks %}
          <div>
            <div class='press-item--mobile ac lg--one-quarter sm--one-whole'>
              <div class='sm--three-quarters ma'>
                <div class='block rel ma'>
                  <img src='{{ block.settings.logo_image | img_url: "500x" }}' class='block ma' style='max-height: {{ block.settings.height }}px' />
                </div>
                <div class='lg--hide sm--hide'>
                  <p>{{ block.settings.title }}</p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>


      <div class='sm--hide'>
        <div class='block press-bar rel'>

          {% for block in section.blocks %}

              <div class='press-item ac lg--one-quarter sm--one-whole'>
                <div class='sm--three-quarters ma'>
                  <div class='block rel ma'>
                    <img src='{{ block.settings.logo_image | img_url: "500x" }}' class='block ma' style='max-height: {{ block.settings.height }}px' />
                  </div>
                  <div class='lg--hide sm--hide'>
                    <div class='pt-2'>
                      <p>{{ block.settings.title }}</p>
                    </div>
                  </div>
                </div>
              </div>

          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Press Bar",
    "blocks": [
      {
        "type": "press_item",
        "name": "Press Item",
        "settings": [
          {
            "type": "image_picker",
            "id": "logo_image",
            "label": "Logo"
          },
          {
            "type": "range",
            "id": "height",
            "label": "Logo height",
            "min": 10,
            "max": 200,
            "step": 2,
            "default": 100,
            "unit": "px"
          },
          {
             "type": "text",
             "id": "title",
             "label": "Title"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Press Bar"
      }
    ]
  }
{% endschema %}
