<div class='promo-bar x bg-dark-green lg--p-2 sm--pt-2 sm--pb-2 sm--pr-8 sm--pl-8 ac outer fix top left right'>
  <div class='container f jcc'>
    <span class='caps c-beige plaid-l ls--5 lg--fs-12 sm--fs-8'>{{ section.settings.title }}</span>
  </div>

  <div class='abs right lg--pr-10 sm--pr-2 cen-y'>
    <button class='__remove block'>
    </button>
  </div>
</div>


{% schema %}
  {
    "name": "Promo Bar",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Promo"
      }
    ]
  }
{% endschema %}
