<section class='slider lg--outer' data-component='slider' id='slider'>
  <div class='container f fw'>
    <div class='lg--one-half sm--one-whole rel'>

        <div class='x ac'>

          <div class='abs top left right x z5 slide-hover'>
            <div class='slider-inner ma block lg--pt-22 sm--pt-10 lg--pb-22 sm--pb-16 outer'>
              <h2 class='lg--fs-40 sm--fs-40 lh-11 c-beige lg--pb-4 sm--pb-3 cheltenham-x slider-title'>{{ section.settings.title }}</h2>
              <p class='lg--fs-18 sm--fs-16 lh-13 lg--lh-12 c-beige lg--pb-3 sm--pb-5 slider-content'>{{ section.settings.content }}</p>
              <a href='{{ section.settings.cta_url }}' class='slide-button button button--cta h-c-dark-gray h-bg-white transition rel ma mb-2 inline-block bg-darkest-gray pt-4 pb-4 pr-12 pl-12 lh-10 caps fs-12 c-white lg--mt-4 plaid-l z4'>{{ section.settings.cta_text }}</a>
            </div>
          </div>

          <div class='js-slider'>

            {% for block in section.blocks %}
              <div class='slide x rel bg-image bg-image-center' style='background-image: linear-gradient(to bottom, rgba(79, 70, 63, 0.2), rgba(79, 70, 63, 0)), url({{ block.settings.image | img_url: "2000x" }});'>
                {% comment %}
                <div class='abs fill'>
                  <div class='slider-inner ma block lg--pt-22 sm--pt-10 lg--pb-22 sm--pb-16 outer'>
                    <h2 class='lg--fs-72 sm--fs-40 lh-11 c-beige lg--pb-6 sm--pb-3 cheltenham-x'>{{ block.settings.title }}</h2>
                    <p class='lg--fs-23 sm--fs-16 lh-13 lg--lh-12 c-beige lg--pb-3 sm--pb-5'>{{ block.settings.content }}</p>
                    <a href='{{ section.settings.cta_url }}' class='slide-button button button--cta h-bg-gray transition rel ma mb-2 inline-block bg-rust pt-2 pb-2 pr-2 pl-2 lh-10 caps fs-14 c-beige lg--mt-6 plaid-l z4'>{{ section.settings.cta_text }}</a>
                  </div>
                </div>
                {% endcomment %}
              </div>
            {% endfor %}

          </div>
        </div>

    </div>
    <div class='lg--one-half sm--one-whole rel overflow--hidden'>
      <div class='slide-image'>
        <div class='x y' id='slide-image'>
          <img src='{{ section.settings.image | img_url: "20x" }}' data-src='{{ section.settings.image | img_url: "800x" }}' loading='lazy' class='abs fill x y fit lazyload' />
        </div>
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Slider",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "content",
        "label": "Content"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "CTA - URL"
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA - Text"
      }
    ],
    "blocks": [
      {
        "type": "slide",
        "name": "slide",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "cta_url",
            "label": "CTA - URL"
          },
          {
            "type": "text",
            "id": "cta_text",
            "label": "CTA - Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Slider"
      }
    ]
  }
{% endschema %}
