{% comment %}
  Use this file for handling Custom Fonts, don't add fonts.
  We don't support importing fonts from the Shopify pipeline
  so you hve to do it here.
{% endcomment %}

@font-face {
  font-family: 'Plaid-XS-Web';
  font-weight: 400;
  font-style: normal;
  src: url('{{ 'Plaid-XS.eot' | asset_url }}');
  src: url('{{ 'Plaid-XS.eot?#iefix' | asset_url }}') format('embedded-opentype'),
       url('{{ 'Plaid-XS.woff2' | asset_url }}') format('woff2'),
       url('{{ 'Plaid-XS.woff' | asset_url }}') format('woff');
}

@font-face {
  font-family: 'Plaid-XL-Web';
  font-weight: 400;
  font-style: normal;
  src: url('{{ 'Plaid-XL.eot' | asset_url }}');
  src: url('{{ 'Plaid-XL.eot?#iefix' | asset_url }}') format('embedded-opentype'),
       url('{{ 'Plaid-XL.woff2' | asset_url }}') format('woff2'),
       url('{{ 'Plaid-XL.woff' | asset_url }}') format('woff');
}


@font-face {
  font-family: 'CheltBTBolCon';
  font-weight: 400;
  font-style: normal;
  src: url('{{ 'CheltBTBolCon.eot' | asset_url }}');
  src: url('{{ 'CheltBTBolCon.eot?#iefix' | asset_url }}') format('embedded-opentype'),
       url('{{ 'CheltBTBolCon.woff2' | asset_url }}') format('woff2'),
       url('{{ 'CheltBTBolCon.woff' | asset_url }}') format('woff');
}

@font-face {
  font-family: 'CheltBTBolExtCon';
  font-weight: 400;
  font-style: normal;
  src: url('{{ 'CheltBTBolExtCon.eot' | asset_url }}');
  src: url('{{ 'CheltBTBolExtCon.eot?#iefix' | asset_url }}') format('embedded-opentype'),
       url('{{ 'CheltBTBolExtCon.woff2' | asset_url }}') format('woff2'),
       url('{{ 'CheltBTBolExtCon.woff' | asset_url }}') format('woff');
}
