<!DOCTYPE html>
<html lang='{{ shop.locale }}' style='padding: 0 !important;'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>

    {% if template contains 'collection' %}
      {% if collection.image %}
      {% else %}
      <meta name="robots" content="noindex">
      {% endif %}
    {% endif %}

    <link rel='canonical' href='{{ canonical_url }}'>
    <link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}" type="image/x-icon"/>

    {% capture seo_title %}
      {{ page_title }}
      {% if current_tags %}
        {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
      {% endif %}
      {% if current_page != 1 %}
        &ndash; {{ 'general.meta.page' | t: page: current_page }}
      {% endif %}
      {% unless page_title contains shop.name %}
        &ndash; {{ shop.name }}
      {% endunless %}
    {% endcapture %}
    <title>{{ seo_title }}</title>

    {% include 'head-meta' %}

    {% if template.directory == 'customers' %}
      <script src='{{ 'shopify_common.js' | shopify_asset_url }}' defer='defer'></script>
    {% endif %}

    <script>
      window.theme = {
        strings: {
          addToCart: "{{ 'products.product.add_to_cart' | t }}",
          soldOut: "{{ 'products.product.sold_out' | t }}",
          unavailable: "{{ 'products.product.unavailable' | t }}"
        },
        moneyFormat: "{{ shop.money_format }}"
      }
    </script>

    {{ 'fonts.css' | asset_url | stylesheet_tag }}
    {{ 'index.css' | asset_url | stylesheet_tag }}

    {{ content_for_header }}
{%- include 'bold-common' -%}

    <script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=Lw2xgg"></script>

    <style>
    .banner--coll {
      min-height: 45vh;
    }
    @media only screen and (max-width: 749px) {
      .cluster-image.slide-hover .slide-button {
        opacity: 0;
      }
    }
    @media only screen and (min-width: 750px) {
      .pdp-slider .slick-next, .bundle-slider .slick-next {
        cursor: url("{{ 'arrow-cursor.svg' | asset_url }}"), auto;
      }
      .pdp-slider .slick-prev, .bundle-slider .slick-prev {
        cursor: url("{{ 'arrow-cursor-left.svg' | asset_url }}"), auto;
      }
    }

    .bg-rusty {
		background-color: #D16845;
    }

    .button--banner {
    	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);
		border-radius: 2px;
    }
    </style>

    <meta name="google-site-verification" content="ocy6TcdWyvKSGwm6FTKfwZQlx_PU2DnpeVLkDjPokUw" />

    <!-- Global site tag (gtag.js) - Google Ads: 714606826 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-714606826"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'AW-714606826');
    </script>

    <!-- Quantcast Tag -->
<script type="text/javascript">
var _qevents = _qevents || [];

(function() {
var elem = document.createElement('script');
elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
elem.async = true;
elem.type = "text/javascript";
var scpt = document.getElementsByTagName('script')[0];
scpt.parentNode.insertBefore(elem, scpt);
})();

_qevents.push({
qacct:"p-rHS0QaTAf07EK"
});
</script>

<noscript>
<div style="display:none;">
<img src="//pixel.quantserve.com/pixel/p-rHS0QaTAf07EK.gif" border="0" height="1" width="1" alt="Quantcast"/>
</div>
</noscript>
<!-- End Quantcast tag -->

    <script>
          window['friendbuy'] = window['friendbuy'] || [];
          window['friendbuy'].push(['site', 'site-e75800a1-fromourplace.com']);
          window['friendbuy'].push(['track', 'customer',
              {
                  id: '{{ customer.id }}',
                  email: '{{ customer.email }}',
                  first_name: '{{ customer.first_name }}',
                  last_name: '{{ customer.last_name }}'
              }
          ]);
          (function (f, r, n, d, b, y) {
              b = f.createElement(r), y = f.getElementsByTagName(r)[0];b.async = 1;b.src = n;y.parentNode.insertBefore(b, y);
          })(document, 'script', '//djnf6e5yyirys.cloudfront.net/js/friendbuy.min.js');
 </script>

    <!-- Hotjar Tracking Code for www.fromourplace.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1473749,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>




<!-- Affirm -->
<script>
_affirm_config = {
   public_api_key:  "VZ60GS0BX7RPPVWN",
   script:          "https://cdn1.affirm.com/js/v2/affirm.js"
};
(function(l,g,m,e,a,f,b){var d,c=l[m]||{},h=document.createElement(f),n=document.getElementsByTagName(f)[0],k=function(a,b,c){return function(){a[b]._.push([c,arguments])}};c[e]=k(c,e,"set");d=c[e];c[a]={};c[a]._=[];d._=[];c[a][b]=k(c,a,b);a=0;for(b="set add save post open empty reset on off trigger ready setProduct".split(" ");a<b.length;a++)d[b[a]]=k(c,e,b[a]);a=0;for(b=["get","token","url","items"];a<b.length;a++)d[b[a]]=function(){};h.async=!0;h.src=g[f];n.parentNode.insertBefore(h,n);delete g[f];d(g);l[m]=c})(window,_affirm_config,"affirm","checkout","ui","script","ready");
// Use your live public API Key and https://cdn1.affirm.com/js/v2/affirm.js script to point to Affirm production environment.
</script>
<!-- End Affirm -->


  {% comment %}
  <script type="text/javascript" src="https://www.bugherd.com/sidebarv2.js?apikey=awa0m7do0nftj3dyaddxwa" async="true"></script>
  {% endcomment %}

  <script type="text/javascript">
  (function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/UzZ57jGxyqLofyMDToGL03I59UmVrXz7zLTYj6MG/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
  </script>


  {% render 'weglot_hreftags' %}
{% render 'weglot_switcher' %}
    
    <script>var shareasaleShopifySSCID=shareasaleShopifyGetParameterByName("sscid");function shareasaleShopifySetCookie(e,a,o,i,r){if(e&&a){var s,S=i?"; path="+i:"",h=r?"; domain="+r:"",t="";o&&((s=new Date).setTime(s.getTime()+o),t="; expires="+s.toUTCString()),document.cookie=e+"="+a+t+S+h}}function shareasaleShopifyGetParameterByName(e,a){a||(a=window.location.href),e=e.replace(/[\[\]]/g,"\\$&");var o=new RegExp("[?&]"+e+"(=([^&#]*)|&|#|$)").exec(a);return o?o[2]?decodeURIComponent(o[2].replace(/\+/g," ")):"":null}shareasaleShopifySSCID&&shareasaleShopifySetCookie("shareasaleShopifySSCID",shareasaleShopifySSCID,94670778e4,"/");</script>
    
    <style>
      .giftcard .gc--hide {
        opacity: 0;
      }
    </style>


  {% include 'shogun-head' %}
</head>

  <body data-barba='wrapper' class='x bg-light-beige' id='body'>

    <main role='main' id='root' data-barba='container' class=' bg-light-beige'>

      <div class='arrow-cursor' style='display: none'>
        <svg class="arrow-cursor__icon" viewBox="0 0 117.25 86.75">
					<path class="arrow-cursor__path" d="M111.45,42.5,74.65,5.7l-9.9,9.9,20.6,20.6H6.45v14h78.9L64.75,70.8l9.9,9.9,36.8-36.8A1,1,0,0,0,111.45,42.5Z"></path>
				</svg>
      </div>

      {% include 'overlay' %}

      <div class='giftcard template-{{ template.name }} {% if template.suffix %}template-{{ template.suffix }}{% endif %}'>
        
        {% section 'header' %}

        {{ content_for_layout }}

        {% if template.name == 'product' or template.name == '404' or template.name == 'cart' or template.name == 'collection' %}
        {% else %}
        {% section 'ig' %}
        {% endif %}

        {% if template == 'index' %}
        {% section 'newsletter-slide' %}
        {% endif %}

        {% section 'footer' %}
      </div>
    </main>

    {% include 'mm' %}

    <div id='siteOverlay' class='site-overlay'></div>

    {% include 'cart-drawer' %}

    <script src='{{ 'index.js' | asset_url }}' defer='defer'></script>

    <script class='js-subtitles' type='application/json'>
    {
      "products": [
        {% for p in collections['all-products'].products %}
          {% if forloop.last %}
            {% assign last = true %}
          {% else %}
            {% assign last = false %}
          {% endif %}
          {
            "title": {{ p.title | json }},
            "subtitle": "{{ p.metafields.accentuate.Subtitle }}"
          }{% if last == false %},{% endif %}
        {% endfor %}
      ]
    }
    </script>

    <script class='js-cutouts' type='application/json'>
    {
      "variants": [
        {% for p in collections['all-products'].products %}
          {% if forloop.last %}
            {% assign last = true %}
          {% else %}
            {% assign last = false %}
          {% endif %}

          {% for v in p.variants %}
            {
              "id": {{ v.id | json }},
              "image": "{{ v.metafields.accentuate.cutout_image }}"
            }{% if last == false %},{% endif %}
          {% endfor %}
        {% endfor %}
      ]
    }
    </script>

    <script src="https://a.klaviyo.com/media/js/onsite/onsite.js"></script>


    <script>
        var klaviyo = klaviyo || [];
        klaviyo.init({
          account: "Lw2xgg",
          platform: "shopify"
        });
        klaviyo.enable("backinstock",{
        trigger: {
          product_page_text: "Notify Me When Available",
          product_page_class: 'btn',
          product_page_text_align: 'center',
          product_page_margin: '0px',
          alternate_anchor: "AddToCart",
          replace_anchor: true
        },
        modal: {
         headline: "{product_name}",
         body_content: "Register to receive a notification when this item comes back in stock.",
         email_field_label: "Email",
         button_label: "Notify me when available",
         subscription_success_label: "You're in! We'll let you know when it's back.",
         footer_content: '',
         additional_styles: "@font-face{font-family:Plaid-XL-Web;font-weight:400;font-style:normal;src:url('{{ 'Plaid-XL.eot' | asset_url }}');src:url('{{ 'Plaid-XL.eot?#iefix' | asset_url }}') format('embedded-opentype'),url('{{ 'Plaid-XL.woff2' | asset_url }}') format('woff2'),url('{{ 'Plaid-XL.woff' | asset_url }}') format('woff')}",
         drop_background_color: "#000",
         background_color: "#ebe8e2",
         text_color: "#222120",
         button_text_color: "#fff",
         button_background_color: "#222120",
         close_button_color: "#ccc",
         error_background_color: "#D16845",
         error_text_color: "#D16845",
         success_background_color: "#fcfaf6",
         success_text_color: "#D16845"
        }
      });
    </script>
<script type="text/javascript" src="https://s.skimresources.com/js/143965X1608657.skimlinks.js"></script>

    
    
  </body>
</html>
