<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  <title>{{ shop.name }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}
  {{ 'fonts.css' | asset_url | stylesheet_tag }}
  {{ 'password.css' | asset_url | stylesheet_tag }}

  <script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=Lw2xgg"></script>

  {{ content_for_header }}

  {% include 'shogun-head' %}
</head>

<body class="template-password">
  <div class='container password__wrapper outer ac f jcc aic x y'>
    <div>
      <header role="banner" class='x ac'>
        <h1 itemscope itemtype="http://schema.org/Organization">
          <svg width="164px" height="40px" viewBox="0 0 164 40"><g id="All-Pages" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Home" transform="translate(-1236.000000, -30.000000)" fill="currentColor"><g id="Group"><g id="Group-10" transform="translate(0.000000, 30.000000)"><g id="Group-12" transform="translate(40.000000, 0.000000)"><g id="logo" transform="translate(1196.000000, 0.000000)"><path d="M124.157349,32.8145093 C124.157349,34.852303 123.361444,35.9783855 122.087294,35.9783855 C120.812893,35.9783855 119.963293,34.9060225 119.963293,32.9219483 C119.963293,29.8117917 121.290386,27.9354099 124.157349,26.9704859 L124.157349,32.8145093 Z M129.585157,34.2441577 L129.573866,34.2492256 L129.573866,23.8600759 C129.573866,21.4475126 129.573866,19.5169045 128.458545,17.962333 C127.237088,16.2463495 125.113337,15.2809188 122.405455,15.2809188 C118.210647,15.2809188 115.768484,17.1043413 115.768484,19.8387148 C115.768484,21.6084177 116.777165,22.6807807 118.582755,22.6807807 C120.175317,22.6807807 121.131305,21.71535 121.131305,20.3214302 C121.131305,19.7849953 120.971974,19.1416282 120.653813,18.337356 C121.078362,18.1229847 121.503162,18.0160525 121.980655,18.0160525 C123.838937,18.0160525 124.157349,19.5169045 124.157349,22.5196222 L124.157349,23.9140488 C117.945178,25.8978696 115.078215,28.7931482 115.078215,33.6725011 C115.078215,37.5866765 117.095577,39.9997466 120.016236,39.9997466 C121.988684,39.9997466 123.805816,38.9752751 124.983363,37.4419886 C125.432251,38.3673831 126.519971,39.6204159 129.122719,39.6204159 C130.940352,39.6204159 132.071731,38.0275819 132.071731,38.0275819 L132.071731,36.3681053 C132.071731,36.3681053 131.644422,36.6004675 131.282852,36.6004675 C130.724314,36.6002141 129.585157,36.0693539 129.585157,34.2441577 L129.585157,34.2441577 Z M112.101352,36.622006 C111.675548,36.1932635 111.622855,35.7642677 111.622855,35.2278328 L111.622855,0.64286031 L104.932941,0.64286031 L104.932941,2.41256327 C104.932941,3.10964987 105.46413,3.32402111 105.728846,3.53864574 C106.15465,3.9676416 106.207342,4.39663746 106.207342,4.93256555 L106.207342,35.2278328 C106.207342,35.7642677 106.15465,36.1932635 105.728846,36.622006 C105.46413,36.8903501 104.932941,37.0510019 104.932941,37.7483419 L104.932941,39.3566329 L112.897256,39.3566329 L112.897256,37.7483419 C112.897256,37.104468 112.366068,36.8903501 112.101352,36.622006 L112.101352,36.622006 Z M90.9852908,18.4450484 L90.4541023,18.4450484 L90.4541023,3.86045598 L90.9852908,3.86045598 C95.4448154,3.86045598 96.8256044,5.95171579 96.8256044,11.1528789 C96.8256044,16.3535352 95.4448154,18.4450484 90.9852908,18.4450484 L90.9852908,18.4450484 Z M98.047062,1.9298479 C95.3394308,0.64286031 92.1533034,0.64286031 88.2239637,0.64286031 L82.9675309,0.64286031 L82.9675309,2.14472592 C82.9675309,3.00271765 83.3923312,3.05593037 83.7107432,3.32402111 C84.4010122,3.91392209 84.4547082,4.45035697 84.4547082,5.04000456 L84.4547082,34.4772801 C84.4547082,35.3884845 84.4010122,35.9249194 83.5516626,36.622006 C83.1268624,36.9435628 82.6493698,36.9972824 82.6493698,37.8552741 L82.6493698,39.3566329 L92.3660799,39.3566329 L92.3660799,37.8552741 C92.3660799,37.0510019 91.8348914,36.9435628 91.4100911,36.622006 C90.5604906,35.9786389 90.4541023,35.549643 90.4541023,34.8525564 L90.4541023,21.6618839 L90.6671297,21.6618839 C99.055994,21.6618839 103.144414,18.1232381 103.144414,10.8308152 C103.144414,6.70201511 101.232437,3.43171351 98.047062,1.9298479 L98.047062,1.9298479 Z M141.954798,36.1932635 C139.619024,36.1932635 138.451263,33.9945647 138.451263,29.4904882 L138.451263,26.0590281 C138.451263,20.5900277 139.300612,17.962333 141.795718,17.962333 C142.592375,17.962333 143.176256,18.2838898 143.494668,18.7666052 C142.698763,19.3030401 142.27321,20.0535928 142.27321,21.0187702 C142.27321,22.4664095 143.282644,23.4850529 144.821761,23.4850529 C146.574407,23.4850529 147.742169,22.2520382 147.742169,20.4286158 C147.742169,17.479871 145.300006,15.2811722 141.583694,15.2811722 C136.167177,15.2811722 132.663641,20.0535928 132.663641,28.4718448 C132.663641,35.8174804 135.796073,40 140.680398,40 C144.821761,40 147.158288,37.4262782 147.795865,32.2251151 L145.193618,31.689187 C144.821761,34.7456242 143.81308,36.1932635 141.954798,36.1932635 L141.954798,36.1932635 Z M154.868174,23.2169622 C154.868174,19.7852487 155.717524,17.962333 157.044617,17.962333 C158.584487,17.962333 159.222063,19.7852487 159.222063,23.5390258 L159.222063,24.82576 L154.868174,24.82576 L154.868174,23.2169622 Z M158.053298,36.3539153 C155.452055,36.3539153 154.868174,34.1554698 154.868174,29.276117 L154.868174,27.8284777 L164,27.8284777 C164,19.3562528 161.823557,15.2811722 156.726205,15.2811722 C152.106596,15.2811722 149.225833,20.0535928 149.225833,28.5790304 C149.225833,35.9786389 151.947516,40 156.885537,40 C160.973957,40 163.256788,37.5869299 163.840919,32.654111 L161.133037,32.1719024 C160.814625,34.9062759 159.699556,36.3539153 158.053298,36.3539153 L158.053298,36.3539153 Z M13.752438,23.5927453 C13.752438,32.654111 13.326885,36.7291916 10.3005909,36.7291916 C7.27454766,36.7291916 6.79605144,32.654111 6.79605144,23.5927453 L6.79605144,16.3535352 C6.79605144,7.2921695 7.27454766,3.2703016 10.3005909,3.2703016 C13.326885,3.2703016 13.752438,7.2921695 13.752438,16.3535352 L13.752438,23.5927453 Z M10.3005909,0 C4.19480849,0 0,6.97035925 0,19.9998733 C0,32.9759212 4.19480849,40 10.3005909,40 C16.4066242,40 20.5487404,32.9759212 20.5487404,19.9998733 C20.5487404,7.02407875 16.4066242,0 10.3005909,0 L10.3005909,0 Z M39.5249921,34.8525564 L39.5249921,15.8708198 L32.8343253,15.8708198 L32.8343253,17.6942423 C32.8343253,18.3908221 33.3655138,18.552234 33.6309826,18.7666052 C34.0557828,19.1956011 34.1087261,19.6245969 34.1087261,20.160525 L34.1087261,34.7451174 C33.3655138,35.6031091 32.5686056,36.0855711 31.6665636,36.0855711 C30.1266941,36.0855711 29.8609743,34.7451174 29.8609743,32.06421 L29.8609743,15.8708198 L23.2240035,15.8708198 L23.2240035,17.6942423 C23.2240035,18.3908221 23.755192,18.552234 24.0206608,18.7666052 C24.445461,19.1956011 24.499157,19.6245969 24.499157,20.160525 L24.499157,31.4745624 C24.499157,37.104468 25.0293418,40 29.1177621,40 C31.0297396,40 33.2468307,38.9415737 34.590986,36.6534268 C34.590986,36.6534268 35.0900573,39.8020994 39.1927797,39.8020994 C40.7374167,39.8020994 41.9862241,38.2092653 41.9862241,38.2092653 L41.9862241,36.5497887 C41.9862241,36.5497887 41.5589147,36.7821509 41.1975961,36.7821509 C40.6854772,36.7821509 39.6880873,36.3326302 39.5249921,34.8525564 L39.5249921,34.8525564 Z M55.6872244,15.3614981 C53.7225546,15.3614981 51.7051924,16.9165764 50.4307916,19.8123618 L50.4307916,15.7904939 L43.900209,15.7904939 L43.900209,17.6139164 C43.900209,18.3104962 44.4306448,18.4719081 44.6961136,18.6862794 C45.1746098,19.1684879 45.2273021,19.6512033 45.2273021,20.2945704 L45.2273021,35.0937874 C45.2273021,35.7371545 45.1746098,36.2198699 44.6961136,36.7025853 C44.4306448,36.970676 43.900209,37.1313277 43.900209,37.8286677 L43.900209,39.4369588 L52.182685,39.4369588 L52.182685,37.8286677 C52.182685,36.970676 51.5988042,36.970676 51.2266962,36.7025853 C50.6428154,36.2735894 50.5901231,35.790874 50.5901231,35.0937874 L50.5901231,30.1075024 C50.5901231,24.6303933 50.7507091,21.2807794 53.5268403,19.5685969 C53.7810179,20.5791317 54.7036349,21.4576484 56.2344715,21.4576484 C57.8335572,21.4576484 58.4691267,20.3270048 58.70022,19.4735742 C58.7029801,19.464452 58.7052383,19.4550764 58.7077475,19.4459542 C58.7235552,19.3856465 58.7373555,19.3276193 58.7491486,19.2708591 C58.756676,19.2363975 58.7649563,19.2029495 58.7709782,19.1674744 C58.8066083,18.9703339 58.8196559,18.8036007 58.8196559,18.691854 L58.8151394,18.6903337 C58.8161431,18.6528314 58.8196559,18.6173562 58.8196559,18.5788403 C58.8196559,16.5947661 57.545506,15.3614981 55.6872244,15.3614981 L55.6872244,15.3614981 Z" id="ourplace_logo-copy"></path></g></g></g></g></g></g></svg>
        </h1>
      </header>

      <main role="main" id="MainContent">
        {{ content_for_layout }}
      </main>
    </div>
  </div>

  <script src='{{ 'index.js' | asset_url }}' defer='defer'></script>
</body>
</html>
